@charset "UTF-8";
/* helping adds*/
.clear {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 0;
    overflow: hidden; }

.cfix:after {
    content: '';
    display: block;
    height: 0;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    clear: both; }

.juster {
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden; }

.jfix-after:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden; }

.vfix {
    height: 100%;
    width: 0px;
    display: inline-block;
    vertical-align: middle; }

.vfix-before:before {
    content: '';
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle; }

.hidden-block {
    position: absolute;
    left: -99999em;
    top: -99999em; }

/* /helping adds*/
/* ctext */
.ctext h1, .ctext h2, .ctext h3, .ctext h4, .ctext h5, .ctext h6 {
    line-height: 1.25;
    margin-bottom: 15px;
    font-weight: 700; }

.ctext h1 {
    font-size: 36px; }

.ctext h2 {
    font-size: 32px; }

.ctext h3 {
    font-size: 28px; }

.ctext h4 {
    font-size: 24px; }

.ctext h5 {
    font-size: 20px; }

.ctext h6 {
    font-size: 16px; }

.ctext p {
    margin-bottom: 10px;
    font-size: 14px; }

/* /ctext */
/* base styles*/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none; }

*, body, html {
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
    max-height: 9001em; }

html {
    height: 100%; }

body {
    min-height: 100%;
    width: 100%;
    min-width: 320px;
    font-family: 'Montserrat', arial,sans-serif;
    background: #fff;
    color: #303030;
    position: relative;
    font-size: 15px;
    line-height: 1;
    font-weight: 300;
    /* styles for wp-admin panel */
    /* /styles for wp-admin panel */ }
body.customize-support .wp-panel-show {
    top: 32px; }

img {
    vertical-align: bottom;
    border: 0;
    max-width: 100%; }

/* adapted styles for wp-admin panel */
@media screen and (max-width: 782px) {
    body.customize-support .wp-panel-show {
        top: 46px; }
    #wpadminbar {
        position: fixed !important; } }

/* /adapted styles for wp-admin panel */
/* /base styles */
/* wraps styling*/
.mbox {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 0 15px; }

.mbox:after {
    content: "";
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 0;
    overflow: hidden;
    display: block; }

/* /wraps styling*/
.footer_placeholder {
    height: 200px; }

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow: hidden; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #C1C1C1; }

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #C1C1C1;
    opacity: 1; }

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #C1C1C1;
    opacity: 1; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #C1C1C1; }

/*End Layout*/
/*fonts*/

@font-face {
    font-family: "Montserrat";
    font-display: swap;
    src: url("../fonts/Montserrat-Light.eot");
    src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg#Montserrat") format("svg");
    font-weight: 300;
    font-style: normal; }

@font-face {
    font-family: "Montserrat";
    font-display: swap;
    src: url("../fonts/Montserrat-LightItalic.eot");
    src: url("../fonts/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-LightItalic.woff") format("woff"), url("../fonts/Montserrat-LightItalic.ttf") format("truetype"), url("../fonts/Montserrat-LightItalic.svg#Montserrat") format("svg");
    font-weight: 300;
    font-style: italic; }

@font-face {
    font-family: "Montserrat";
    font-display: swap;
    src: url("../fonts/Montserrat-Regular.eot");
    src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat") format("svg");
    font-weight: 400;
    font-style: normal; }

@font-face {
    font-family: "Montserrat";
    font-display: swap;
    src: url("../fonts/Montserrat-Medium.eot");
    src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg#Montserrat") format("svg");
    font-weight: 500;
    font-style: normal; }

@font-face {
    font-family: "Cormorant";
    font-display: swap;
    src: url("../fonts/CormorantGaramond-Regular.eot");
    src: url("../fonts/CormorantGaramond-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CormorantGaramond-Regular.woff") format("woff"), url("../fonts/CormorantGaramond-Regular.ttf") format("truetype"), url("../fonts/CormorantGaramond-Regular.svg#Cormorant") format("svg");
    font-weight: 400;
    font-style: normal; }

/*/fonts*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 700; }

h1 {
    font-size: 48px;
    line-height: 1.2;
    font-family: 'Cormorant', arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.9px;
    margin: 10px 0; }

h2 {
    font-size: 42px;
    line-height: 1.2;
    font-family: 'Cormorant', arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 10px 0 29px; }

h3 {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.2;
    margin: 14px 0 23px; }

h4 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 15px; }

h5 {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 300;
    margin: 25px 0 0 0; }

h6 {
    font-size: 16px; }

section {
    padding: 53px 0 75px; }

.grey-bg {
    background-color: #F9F9F9; }

p {
    margin: 0px 0 20px 0;
    font-size: 15px;
    line-height: 20px; }

span {
    line-height: 1.2; }
span.grey {
    font-size: 14px;
    color: #7D7D7D;
    font-weight: 300; }

ul {
    list-style-type: none;
    padding-left: 30px;
    margin: 15px 0; }
ul li {
    position: relative;
    line-height: 20px;
    margin: 15px 0; }
ul li:after {
    position: absolute;
    display: block;
    left: -30px;
    top: 2px;
    content: '';
    width: 15px;
    height: 8px;
    border-bottom: 3px solid #BE9D86;
    border-left: 3px solid #BE9D86;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg); }
ul li span {
    font-size: 14px;
    color: #7D7D7D; }
ul.diagnosis__textcols {
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px; }
ul.diagnosis__textcols li:first-child {
    margin-top: 0; }

a {
    color: #BE9D86;
    text-decoration: none;
    letter-spacing: 0.2px; }

.button {
    padding: 22px 64px;
    background-color: #bc9d85;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 0.2px;
    font-size: 13px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
    text-align: center;
    border: 1px solid #bc9d85; }
.button:hover {
    opacity: 0.8; }
.button--small {
    padding: 17px 24px; }
.button--big {
    width: 100%; }
.button--transparent {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff; }
.button--transparent:hover {
    color: #bc9d85;
    border-color: #bc9d85; }
.button--simple {
    background-color: transparent;
    color: #bc9d85;
    font-weight: 500; }
.button__showmore {
    padding: 22px 64px;
    background-color: #bc9d85;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 0.2px;
    font-size: 13px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
    text-align: center;
    border: 1px solid #bc9d85; }
.button__showmore:hover {
    opacity: 0.8; }

form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
form input {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    height: 58px;
    border: 1px solid #EAEDF7;
    width: 100%; }
form textarea {
    width: 100%;
    height: -webkit-calc(100% - 100px);
    height: -moz-calc(100% - 100px);
    height: calc(100% - 100px);
    min-height: 58px;
    margin: 10px 0;
    border: 1px solid #EAEDF7;
    resize: none;
    padding: 10px;
    font-size: 16px; }
form input.button {
    font-size: 16px;
    padding: 10px 20px; }
form label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 15px;
    padding: 0 0px; }
form label.file {
    border: 1px solid #BE9D86;
    height: 58px;
    margin: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    cursor: pointer; }
form label.file span {
    font-size: 14px;
    color: #BE9D86;
    text-transform: uppercase; }
form label.file div {
    margin-right: 15px; }
form label i {
    margin-top: 4px;
    min-width: 25px;
    min-height: 25px;
    border: 1px solid #BE9D86;
    margin-right: 15px;
    position: relative; }
form label i:after {
    position: absolute;
    top: 42%;
    left: 53%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
    transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
    content: '';
    width: 14px;
    height: 8px;
    border-bottom: 3px solid #BE9D86;
    border-left: 3px solid #BE9D86;
    display: none; }
form label input {
    display: none; }
form label input:checked + i:after {
    display: block; }
form label span {
    color: #ADADAF;
    font-size: 13px;
    line-height: 16px; }
form button {
    margin: 10px 0;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }

.form__headers {
    text-align: center; }

.form__full {
    padding: 20px 60px 40px;
    margin-bottom: 40px;
    margin-top: 20px; }

.form__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }

.form__col {
    width: 30%;
    margin: 0px 0px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
.form__col--full {
    width: 100%; }

.breadcrumbs__list {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.breadcrumbs ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 36px 0; }

.breadcrumbs li {
    margin: 0; }
.breadcrumbs li:after {
    display: none; }

.breadcrumbs__item a {
    font-size: 13px;
    line-height: 12px;
    display: inline-block;
    color: #BE9D86;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    padding: 0 13px; }
.breadcrumbs__item a:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 1px;
    background-color: #c0c0c0;
    top: 0;
    right: 0;
    font-weight: 500; }

.breadcrumbs__item:first-child a {
    padding-left: 0; }

.breadcrumbs__item:last-child a {
    color: #c0c0c0;
    pointer-events: none; }
.breadcrumbs__item:last-child a:after {
    display: none; }

.callback {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
.callback__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 330px; }
.callback__img {
    margin-right: 20px;
    width: 68px;
    height: 58px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
.callback__img svg {
    width: 100%;
    height: 100%;
    fill: #BE9D86; }
.callback__text {
    padding-right: 10px;
    font-size: 13px;
    line-height: 16px;
    color: #ACACAC;
    padding-top: 3px; }
.callback__list-img {
    width: 60px;
    display: inline-block;
    margin-top: 15px; }

.clinics__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
.clinics__list--clear {
    margin: 0 -14px; }
.clinics__list--clear .clinic {
    margin: 10px 14px 10px; }
.clinics__list--between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.clinic {
    width: 270px;
    height: 400px;
    position: relative;
    margin-right: 28px;
    margin-bottom: 10px; }
.clinic--full {
    display: block;
    width: 100%; }
.clinic__col {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
.clinic__col--right {
    position: relative;
    width: 49%; }
.clinic__col--full {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
.clinic__image {
    width: 100%;
    height: 100%; }
.clinic__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
.clinic__text {
    font-size: 18px;
    color: #ffffff;
    line-height: 22px;
    position: absolute;
    bottom: 22px;
    left: 18px;
    padding-right: 20px; }
.clinic__shadow {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    background: -moz- oldlinear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }
.clinic--big {
    width: 355px; }
.clinic__about {
    background-color: #ffffff;
    padding: 37px 41px;
    width: 310px;
    height: auto;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #303030;
    -webkit-box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);
    -moz-box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);
    box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1); }
.clinic__about .list__head {
    color: #BE9D86; }
.clinic__about p {
    margin: 0; }

.doctors__head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px; }
.doctors__head h2 {
    margin: 0; }

.doctors__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -5px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.doctor {
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
    margin: 0 auto;
    width: 270px;
    display: block; }
.doctor__wrap {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 15px 5px; }
.doctor--white {
    background-color: #ffffff; }
.doctor__text {
    padding: 25px 35px 25px 39px; }
.doctor__item {
    width: 270px;
    height: auto; }
.doctor__image {
    width: 100%;
    height: 210px; }
.doctor__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
.doctor__name {
    font-size: 18px;
    color: #BE9D86;
    font-weight: 400;
    margin-bottom: 14px; }
.doctor__position {
    color: #8F8A8A;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 15px; }
.doctor__about {
    color: #303030; }
.doctor:hover {
    -webkit-box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);
    -moz-box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);
    box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1); }

.explanation {
    line-height: 20px; }
.explanation__head span {
    font-weight: 500; }
.explanation__cols {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.explanation__left {
    width: -webkit-calc(100% - 320px);
    width: -moz-calc(100% - 320px);
    width: calc(100% - 320px);
    padding-right: 55px; }
.explanation__right {
    width: 320px; }

.footer__menu {
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    padding: 39px 0 22px 0; }

.footer__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }

.footer__col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    padding-right: 10px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
.footer__col a {
    color: #303030;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
    margin-bottom: 18px; }
.footer__col a:hover {
    color: #BE9D86; }
.footer__col--big {
    width: 40%; }
.footer__col--big a {
    color: #BE9D86; }
.footer__col--big a:hover {
    color: #303030; }
.footer__col--big span {
    margin-bottom: 18px; }
.footer__col--big span a {
    margin-left: 5px; }
.footer__col--full {
    padding: 0; }

.footer__socials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin: -5px -5px 0 -5px; }
.footer__socials a {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 1px solid rgba(190, 157, 134, 0.35);
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
    margin: 5px; }
.footer__socials a svg {
    width: 100%;
    height: 100%;
    fill: #BE9D86; }
.footer__socials a:hover {
    opacity: 0.7; }

.footer__contacts {
    padding: 32px 0; }

.footer__designed {
    margin-top: 16px; }
.footer__designed a {
    font-weight: 600;
    color: #BE9D86;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms; }
.footer__designed a:hover {
    color: #303030; }

.footer__phones {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.formed {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 25px; }
.formed__field {
    width: -webkit-calc(100% - 420px);
    width: -moz-calc(100% - 420px);
    width: calc(100% - 420px); }
.formed__ask {
    width: 420px;
    background-color: #F9F9F9;
    padding: 33px 40px; }
.formed__ask--white {
    background-color: #ffffff; }
.formed__cols {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.formed__bonuses {
    width: 350px;
    padding-right: 30px; }
.formed__bonuses:last-child {
    padding-left: 14px; }

.lines {
    width: 25px;
    height: 20px;
    margin-left: 15px;
    display: none; }
.lines a {
    display: block; }

.buter {
    display: block;
    height: 100%;
    position: relative; }
.buter span {
    width: 100%;
    height: 2px;
    background-color: #303030;
    display: block;
    position: absolute;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms; }
.buter span:nth-child(1) {
    top: 0;
    left: 0; }
.buter span:nth-child(2) {
    top: 9px;
    left: 0; }
.buter span:nth-child(3) {
    top: 18px;
    left: 0; }
.buter.active span:nth-child(1) {
    -webkit-transform: rotateZ(135deg);
    -moz-transform: rotateZ(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotateZ(135deg);
    transform: rotateZ(135deg);
    top: 50%; }
.buter.active span:nth-child(2) {
    opacity: 0; }
.buter.active span:nth-child(3) {
    -webkit-transform: rotateZ(-135deg);
    -moz-transform: rotateZ(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotateZ(-135deg);
    transform: rotateZ(-135deg);
    top: 50%; }

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05); }
.header__up {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 1px 0 2px 0; }
.header__down {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    z-index: 10; }
.header__line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #F5F6FA; }

.socials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
.socials__email {
    margin: 0 23px; }
.socials__email a {
    color: #BE9D86;
    text-decoration: none;
    letter-spacing: 0.2px; }
.socials__callback {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    white-space: nowrap; }
.socials__callback a {
    margin-left: 10px; }
.socials__mail {
    white-space: nowrap; }
.socials__networks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2px 1px 0 0; }
.socials__networks a {
    margin: 0 8px; }
.socials__networks a svg {
    fill: #BE9D86;
    width: 100%;
    height: 100%; }
.socials__number {
    font-weight: 400;
    text-decoration: none;
    color: #030303;
    letter-spacing: 0.2px; }
.socials__get {
    text-transform: uppercase;
    color: #BE9D86;
    text-decoration: none;
    letter-spacing: 0.2px;
    margin-left: 24px; }

.menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
.menu__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
.menu__link {
    margin-right: 21px; }
.menu__link a {
    text-decoration: none;
    text-transform: uppercase;
    height: 79px;
    letter-spacing: 0.5px;
    line-height: 47px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: #000;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
    font-size: 13px;
    font-weight: 500; }
.menu__link a:after {
    width: 100%;
    height: 2px;
    content: '';
    bottom: 0;
    left: -100%;
    position: absolute;
    display: block;
    opacity: 0;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    background-color: #bc9d85; }
.menu__link a:hover {
    color: #bc9d85; }
.menu__link a:hover:after {
    opacity: 1;
    left: 0; }
.menu__link a.active {
    color: #bc9d85; }
.menu__link a.active:after {
    opacity: 1;
    left: 0; }
.menu__request {
    display: inline-block;
    padding: 17px 24px;
    background-color: #bc9d85;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    line-height: 1.2;
    font-size: 13px;
    letter-spacing: 0.2px;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms; }
.menu__request:hover {
    opacity: 0.8; }
.menu .button {
    padding: 17px 24px; }

.services {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -5px;
    padding-top: 3px;
    padding-bottom: 25px; }
.services__item {
    padding: 22px 30px;
    margin: 0px 5px 10px 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-decoration: none;
    color: #303030;
    font-weight: 300;
    width: 25%;
    max-width: 270px;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms; }
.services__item:hover {
    -webkit-box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);
    -moz-box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);
    box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);
    background-color: #ffffff; }
.services__img {
    width: 28px;
    height: 36px;
    margin-right: 20px;
    min-width: 28px; }
.services__img svg {
    width: 100%;
    height: 100%;
    fill: #BE9D86; }

.technologies__list {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.technologies__list ul {
    width: 23%;
    padding-right: 10px;
    margin: 4px 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.technologies__btn {
    padding-top: 10px;
    width: 279px; }

.usage {
    padding: 33px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
.usage__thin {
    width: 405px; }
.usage__fat {
    width: 765px; }
.usage__fat--white {
    width: 670px; }
.usage__photo {
    width: 100%;
    height: 100%; }
.usage__photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
.usage__photo--adapt {
    position: relative; }
.usage__photo--adapt img {
    position: absolute; }
.usage__list {
    padding-left: 66px;
    width: 765px; }
.usage__list--left {
    padding-right: 66px;
    padding-left: 0; }
.usage__header h2 {
    font-size: 32px; }

.organise {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 6px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
.organise__text {
    width: 500px;
    padding: 40px 50px 20px 50px; }
.organise__text--white {
    background-color: #ffffff; }
.organise__text--true {
    padding: 0 66px 0 0; }
.organise__right {
    width: 670px; }
.organise__under {
    font-style: italic;
    color: #7D7D7D;
    font-weight: 300;
    margin-top: 24px; }
.organise__white {
    background-color: #ffffff;
    padding: 40px 40px 20px 40px; }
.organise__white ul {
    margin: 20px 0; }
.organise__change .organise__text {
    padding-right: 0;
    padding-left: 30px; }
.organise__change .organise__text--white {
    background-color: #ffffff;
    padding: 40px 40px 25px 40px; }
.organise__change .organise__right--padded {
    padding-right: 40px; }

.infoblock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 70px; }
.infoblock__text {
    padding-right: 30px;
    width: -webkit-calc(100% - 370px);
    width: -moz-calc(100% - 370px);
    width: calc(100% - 370px); }
.infoblock__text span {
    line-height: 31px; }
.infoblock__head {
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 20px; }
.infoblock__box {
    width: 370px;
    background-color: #ffffff;
    padding: 40px 38px; }
.infoblock__box span {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
    display: block; }

.information .infoblock:last-child {
    margin-bottom: 0; }

.list__head {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px; }

.list__modified li {
    margin: 20px 0; }
.list__modified li:after {
    content: attr(data-number);
    color: #BE9D86;
    font-size: 24px;
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotate(0);
    -o-transform: rotateZ(0);
    transform: rotateZ(0);
    border: none; }

.slider__box {
    height: 630px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
.slider__box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0; }
.slider__box h2 {
    color: #ffffff;
    margin: 0 0 20px 0; }
.slider__box p {
    color: #ffffff; }

.slider__buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 5px 0; }
.slider__buttons .button {
    margin-right: 20px; }

.slider__arrow {
    cursor: pointer;
    width: 20px;
    height: 10px; }

.slider__mover {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 40px; }

.slider__counter {
    font-size: 21px;
    padding: 0 15px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
.slider__counter--black {
    color: #303030; }

.slider__number span {
    font-size: 36px;
    line-height: 36px; }

.help {
    margin: 0 -10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 28px 0 0 0;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
.help__item {
    width: 370px;
    margin: 0 10px;
    padding: 32px 34px; }
.help__item:hover {
    -webkit-box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);
    -moz-box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);
    box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1); }
.help__item a {
    font-size: 17px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    margin-top: 35px; }
.help__item a span {
    line-height: 10px;
    margin-left: 10px; }
.help__item a svg {
    fill: #BE9D86; }
.help__more {
    color: #BE9D86;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
.help__more svg {
    fill: #BE9D86;
    margin-left: 15px; }
.help__image {
    width: 55px;
    height: 44px; }
.help__image svg {
    width: 100%;
    height: 100%;
    fill: #BE9D86; }
.help__head {
    font-size: 24px;
    margin: 26px 0;
    color: #303030; }
.help__description {
    font-size: 16px;
    line-height: 22px;
    color: #303030; }
.help__description span {
    font-size: 14px;
    color: #F46464;
    display: block;
    margin-top: 10px; }

.dover {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -10px; }
.dover__item {
    width: 25%;
    margin: 0 10px;
    padding: 20px 20px 20px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
.dover__head {
    color: #BE9D86;
    font-size: 80px; }
.dover__head span {
    font-size: 24px; }

.problems__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.problems__box {
    border: 1px solid rgba(190, 157, 134, 0.4);
    padding: 35px;
    width: 270px;
    font-weight: 500;
    color: #BE9D86;
    text-align: center; }
.problems__box p {
    margin: 0; }

.problems__left {
    padding-right: 30px;
    width: -webkit-calc(100% - 270px);
    width: -moz-calc(100% - 270px);
    width: calc(100% - 270px); }

.problems__list {
    background-color: #ffffff;
    padding: 40px; }
.problems__list p {
    font-weight: 500; }

.easy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
.easy .explanation__right {
    width: auto; }

.callback {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.callback__col {
    width: 100%;
    padding-right: 30px;
    min-width: 50%; }
.callback__col--right {
    padding-right: 0;
    padding-left: 30px; }
.callback__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
.callback__list--row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 -10px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
.callback__list--row .callback__item {
    border: 1px solid rgba(201, 192, 159, 0.2);
    margin: 10px;
    width: 30%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
.callback__item {
    background-color: #fff;
    padding: 35px 35px 40px 35px;
    margin-bottom: 20px;
    width: 100%;
    position: relative; }
.callback__item p {
    font-style: italic;
    margin: 0; }
.callback__item:after {
    position: absolute;
    right: 10px;
    bottom: 0;
    display: block;
    content: '';
    background-image: url("../images/callback.png");
    width: 70px;
    height: 44px;
    background-repeat: no-repeat; }

.articles__image {
    height: 248px;
    width: 100%; }
.articles__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.articles__short {
    background-color: #ffffff;
    padding: 25px; }
.articles__short p {
    color: #303030;
    margin-bottom: 0; }

.articles__buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.articles__buttons .slider__mover {
    margin-top: 0; }

.partners__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 -8px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.partners__item {
    border: 1px solid rgba(201, 192, 159, 0.2);
    padding: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 180px;
    height: 120px;
    width: 100%;
    margin: 5px 8px; }
.partners__item img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    height: 100%; }
.treatment p img {float: none; margin-top: 10px;}

.treatment__image {
    max-height: 400px;
    margin-bottom: 25px;
    height: 400px; }
.treatment__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.treatment__info {
    padding-right: 25px; }

.cost {
    margin-bottom: 40px; }
.cost table {
    width: 100%;
    background-color: #ffffff;
    min-width: 600px; }
.cost th {
    text-align: left;
    padding: 23px 25px 10px 30px; }
.cost tr:last-child td {
    padding-bottom: 28px; }
.cost td span {
    font-size: 14px;
    color: #7D7D7D; }
.cost__table {
    margin-bottom: 20px;
    overflow: auto; }
.cost__table--shadowed {
    -webkit-box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);
    -moz-box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);
    box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1); }
.cost__td {
    text-align: left;
    padding: 13px 25px 10px 30px; }
.cost__td--first {
    width: 25%; }
.cost__td--second {
    width: 25%;
    padding-left: 23px; }
.cost__td--third {
    width: 15%;
    padding-left: 15px; }

.more__item {
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 25px 0 25px 0px; }
.more__item--shadowed {
    -webkit-box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);
    -moz-box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);
    box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1); }

.more__head {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    padding: 0 45px 0px 30px; }

.more__button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 25px;
    width: 16px;
    height: 16px;
    cursor: pointer; }
.more__button:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #BE9D86;
    content: '';
    left: 0;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
.more__button:before {
    position: absolute;
    display: block;
    width: 2px;
    height: 100%;
    background-color: #BE9D86;
    content: '';
    left: 50%;
    top: 0;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms; }
.more__button.showed:before {
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg); }

.more__text {
    display: none;
    padding: 0 30px 5px;
    margin-top: 15px; }
.more__text.showed {
    display: block; }
.more__text p {
    margin-bottom: 0; }

.about__people {
    margin: 0 -10px 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.about__col {
    width: 45%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 10px;
    max-width: 550px; }

.about .help {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }

.about .help__item {
    padding: 20px 10px; }

.about .help__image {
    margin-bottom: 15px; }

.worker {
    width: 100%; }
.worker__image {
    width: 100%;
    margin-bottom: 10px; }
.worker__image img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
.worker__details {
    margin: 15px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.worker__name {
    padding-right: 15px; }
.worker__name p {
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 10px 0; }
.worker__name span {
    font-size: 12px;
    color: #8F8A8A;
    text-transform: uppercase; }

.filter__list {
    margin: -10px;
    margin-bottom: 30px; }
.filter__list i {
    font-style: normal;
    text-transform: uppercase;
    color: #BE9D86;
    font-size: 13px;
    font-weight: 500;
    padding: 15px 20px;
    border: 1px solid #BE9D86;
    display: inline-block;
    margin: 10px 10px;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    -moz-transition: 200ms;
    transition: 200ms;
    cursor: pointer; }
.filter__list i:hover {
    background-color: #BE9D86;
    color: #ffffff; }
.filter__list input:checked + i {
    background-color: #BE9D86;
    color: #ffffff; }
.filter__results {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px; }

.place {
    width: 20%;
    height: 250px;
    position: relative;
    display: block;
    margin: 0 10px 25px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
.place__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5; }
.place__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
.place__shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 7;
    background-color: rgba(0, 0, 0, 0.2); }
.place__text {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    padding: 20px;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px; }

.munich {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
.munich__col {
    padding-right: 50px;
    width: -webkit-calc(100% - 270px);
    width: -moz-calc(100% - 270px);
    width: calc(100% - 270px); }
.munich__col--small {
    background-color: #ffffff;
    padding: 20px 20px 5px;
    width: 270px; }

.drop {
    position: relative; }
.drop select {
    width: 100%;
    padding: 10px 20px;
    color: #BE9D86;
    border: 1px solid #BE9D86;
    position: relative; }
.drop:after {
    position: absolute;
    display: block;
    content: '';
    border: 5px solid transparent;
    border-top: 5px solid #BE9D86;
    top: 44%;
    right: 10px; }

.search__text {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px; }

.search__full {
    position: relative;
    -webkit-box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);
    -moz-box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);
    box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);
    margin: 20px 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
.search__full input {
    width: 100%;
    border: 1px solid rgba(190, 157, 134, 0.2);
    padding: 19px 25px; }

.search__image {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer; }

.search__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
.search__block .button {
    padding: 20px 64px; }
.search__block .search__button {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 20px; }

.search__or {
    margin: 10px 20px; }

.showmore {
    width: 100%;
    margin: 15px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.diagnosis__description {
    font-weight: 500;
    font-size: 16px;
    margin: 15px 0; }
.diagnosis__description span {
    color: #F46464; }

.diagnosis__textcols {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin-bottom: 25px; }

.diagnosis .form__col {
    margin: 0 10px; }

.diagnosis form textarea {
    height: -webkit-calc(100% - 20px);
    height: -moz-calc(100% - 20px);
    height: calc(100% - 20px); }

.translations form textarea {
    padding: 20px;
    min-height: 150px;
    margin: 0 0 10px 0; }

.translations .formed__field {
    padding-right: 50px; }

.contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -5px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px; }
.contacts__col {
    width: 30%;
    margin: 0 5px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 20px 0 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
.contacts__col:first-child {
    width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0; }
.contacts__col:last-child {
    padding: 25px; }
.contacts__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    white-space: nowrap; }
.contacts__city {
    width: 150px;
    white-space: nowrap; }

.news .articles {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -15px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
.news .articles__slide {
    width: 30%;
    margin: 0 15px 30px;
    border: 1px solid rgba(201, 192, 159, 0.2);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.news .articles__two {
    width: 30%;
    margin: 0 15px 0px 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
.news .articles__two .articles__slide {
    margin: 0 0 30px 0;
    padding: 20px 20px 0 20px;
    width: 100%; }

.doc-detail .form__headers h2 {
    font-size: 26px; }

.doc-detail .doctor__wrap {
    margin: 0; }

.doc-detail__cols {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.doc-detail__col {
    width: 270px;
    margin: -5px; }
.doc-detail__col--big {
    width: -webkit-calc(100% - 270px);
    width: -moz-calc(100% - 270px);
    width: calc(100% - 270px);
    padding-left: 50px;
    margin: 0; }

.doc-detail__form {
    background-color: #F9F9F9;
    padding: 25px 15px; }

.padding__correction--bottom {
    padding-bottom: 25px; }

.global-wrapper section:first-of-type {
    padding-top: 0; }

.slick-slider {
    margin-bottom: 20px; }

.slick-slider {
    margin-bottom: 20px; }

.fancybox-slide > * {
    padding: 0; }

.feedback {
    width: 100%;
    max-width: 970px; }
.feedback .form__full {
    margin: 0; }
.feedback textarea {
    height: 130px; }

.todoctor {
    width: 100%;
    max-width: 450px; }

.checkup {
    max-width: 1170px; }
.checkup .form__full {
    margin: 0; }

.policy__title {
    margin: 0 0 32px 0;
    font-size: 48px;
    letter-spacing: 0.04em;
    color: #303030; }
@media screen and (max-width: 730px) {
    .policy__title {
        font-size: 28px; } }
@media screen and (max-width: 543px) {
    .policy__title {
        font-size: 21px; } }

.policy__item:not(:last-child) {
    margin-bottom: 32px; }

.policy__item-title {
    font-family: 'Montserrat', arial, sans-serif;
    font-style: normal;
    line-height: normal;
    color: #303030;
    margin-bottom: 8px; }

.policy__item-text {
    font-weight: 300;
    color: #303030; }

.policy__list-wrapper:not(:last-child) {
    margin-bottom: 20px; }

.policy__list {
    margin: -20px 0 0 0;
    padding: 0; }

.policy__list-item {
    line-height: 26px;
    margin: 0;
    padding: 0; }
.policy__list-item:after {
    display: none; }
.policy__list-item:before {
    content: '– '; }
.policy__list-item:first-letter {
    padding-left: 20px; }

.service__title-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
@media screen and (max-width: 730px) {
    .service__title-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 20px; } }
.service__title-wrapper .button {
    padding: 20px 32px;
    font-weight: 500;
    font-size: 14px; }

.service__title {
    margin: 0 0 21px 0;
    font-size: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #303030; }
@media screen and (max-width: 730px) {
    .service__title {
        font-size: 28px; } }

.service__list {
    padding-left: 50px;
    max-width: 1075px;
    margin-bottom: 52px; }
@media screen and (max-width: 730px) {
    .service__list {
        padding-left: 30px; } }

.service__price {
    padding: 30px 0 45px;
    background: #F9F9F9;
    margin-bottom: 53px; }
@media screen and (max-width: 730px) {
    .service__price {
        margin-bottom: 30px; } }

.service__price-title {
    margin-bottom: 11px;
    font-family: 'Cormorant', arial, sans-serif;
    font-size: 32px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #303030;
    font-weight: normal; }

.service__price-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
@media screen and (max-width: 730px) {
    .service__price-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
.service__price-wrapper .button {
    font-size: 14px;
    font-weight: 500;
    padding: 21px 85px;
    margin-top: 5px; }

.service__price-text {
    max-width: 855px;
    margin-right: 20px; }
@media screen and (max-width: 730px) {
    .service__price-text {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px; } }

.service__scheme {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
@media screen and (max-width: 730px) {
    .service__scheme {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }

.service__scheme-info {
    max-width: 700px;
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 300;
    line-height: 20px;
    font-size: 15px;
    color: #303030;
    margin-right: 20px; }
@media screen and (max-width: 730px) {
    .service__scheme-info {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px; } }

.service__scheme-title {
    font-family: 'Cormorant', arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    font-size: 32px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #303030;
    margin-bottom: 11px; }

.service__scheme-text:not(:last-child) {
    margin-bottom: 21px; }

.service__scheme-img {
    margin-top: 30px; }

.service__btn {
    margin-top: 3px;
    font-weight: 500;
    padding: 22px 42px; }

.error-p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 11.5%;
    padding-bottom: 11.5%; }
.error-p__text {
    text-align: center;
    max-width: 770px;
    width: 100%;
    margin: 53px 0 41px 0; }
.mbox ol {
    padding-left: 30px;
    margin: 15px 0;
}
.mbox ol li {
    line-height: 20px;
    margin: 15px 0;
}
.filter__item {
    font-style: normal;
    text-transform: uppercase;
    color: #BE9D86;
    font-size: 13px;
    font-weight: 500;
    padding: 15px 20px;
    border: 1px solid #BE9D86;
    display: inline-block;
    margin: 10px 10px;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    -moz-transition: 200ms;
    transition: 200ms;
    cursor: pointer;
}
.filter__item:hover {
    background-color: #BE9D86;
    color: #ffffff;
}
.filter__item.active {
    background-color: #BE9D86;
    color: #ffffff;
}
@media screen and (max-width: 730px) {
    .filter__item {
        margin: 5px;
        padding: 10px 10px;
    }
}