
@media screen and(max-width: 1140px) {
    .doctor__wrap {width: 35%;}
    .contacts { justify-content: center;
        &__col {width: 45%;
            &:first-child {width: 45%;}
        }
    }
}

@media screen and(max-width: 1100px) {
    .menu { position: absolute; background-color: #ffffff; width: 400px; padding: 0px 20px 20px 20px; flex-wrap: wrap; left: -100%; transition: all 200ms;
        &__list {flex-wrap: wrap;}
        &__link {margin: 0; width: 100%;
            a {height: 46px; justify-content: flex-start;}
        }
        &.active {left: 0; box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);}
        .button {margin-top: 15px;}
    }
    .socials {
        &__networks {display: none;}
        &__email {display: none;}
    }
    .lines {display: block;}
}

@media screen and(max-width: 1024px) {
    .news {
        .clinic { margin: 0; max-height: 400px;
            height: 400px;}
    }
    .clinics {
        &__list {flex-wrap: wrap; justify-content: space-around;}
    }
    .clinic { margin: 0 10px;
        &__col {width: 100%; justify-content: space-around; margin: 10px 0;
            &--right {width: 50%;}
        }
    }
    .footer  {
        &__list {flex-wrap: wrap;}
        &__col--big {width: 50%;}
    }
    .formed {
        &__ask {margin: 0 auto 10px;}
    }
}
@media screen and(max-width: 992px) {
    .articles {
        &__buttons {flex-direction: column-reverse;}
    }
    .slider {
        &__mover {margin: 15px 0;}
    }
    .formed {flex-wrap: wrap;
        &__field {width: 100%;}
        &__bonuses {width: 50%;}
        &__ask {margin: 0 auto 10px;}
    }
    .usage {
        &__fat {width: 100%;}
        &__thin {display: none;}
        &__list {width: 100%; padding: 0;}
    }
    .about {
        &__people { flex-wrap: wrap; margin: 0;}
        &__col { width: 100%; margin: 0 auto;}
    }
    .place {width: 25%;}
    .doc-detail {
        .services {
            &__item {width: 45%;}
        }
    }
}
@media screen and(max-width: 865px) {
    .explanation {
        &__cols { flex-direction: column-reverse; }
        &__right {margin: 15px 0; width: 100%;}
        &__left {padding: 0; width: 100%;}
    }
    .easy {
        .explanation__right {width: 100%; justify-content: center; display: flex;}
    }
    .clinic__col--right {width: 70%;}
    .footer {
        &__list {flex-wrap: wrap;}
        &__col {width: 30%;
            &--big {width: 50%;}
        }
    }
    .callback__list--row {flex-wrap: wrap;}
    .munich {flex-wrap: wrap;
        &__col {width: 100%; padding-right: 20px;}
    }
    .form {
        &__col {width: 100%; margin: 0px 0; }
        &__body {flex-wrap: wrap;}
    }
    form {
        textarea {height: 80px; margin: 10px 0;}
        input {margin: 5px 0;}
        label {padding: 0;}
    }
    .callback__list--row .callback__item {width: 100%;}


}
@media screen and(max-width: 730px) {
    .search {
        &__block {flex-wrap: wrap;
            .button {padding: 20px 45px;}
        }
        &__full {width: 100%;}
        &__block {display: flex; align-items: center; justify-content: center;

        }
    }
    section { padding: 20px 0;}
    .news {
        .articles__two { width: 45%;}
    }
    .news .articles__slide {width: 45%;}
    .help {flex-wrap: wrap; justify-content: space-around;
        &__item {width: 45%; padding: 15px 34px;}
    }
    .dover { flex-wrap: wrap;
        &__item {width: 35%; flex-grow: 1;}
    }
    .problems {
        &__content {flex-wrap: wrap;}
        &__left {width: 100%; padding-right: 0;}
        &__box {margin: 15px 0;}
    }
    .technologies__list {flex-wrap: wrap;
        ul {width: 50%;}
    }
    .button {max-width: 265px; width: 100%; padding: 22px;}
    .doctors__head {
        .button { margin: 10px 0 10px 10px; }
    }
     .footer__col--big {width: 100%;}
    .socials {display: none;}
    .menu {width: 100%; box-shadow: 0px 15px 25px rgba(201, 192, 159, 0.1);}
    .organise {flex-wrap: wrap;
        &__text {width: 100%; padding-left: 0; padding-right: 0;
            &.grey-bg {padding-right: 15px; padding-left: 15px;}
        }
    }
    .infoblock {flex-wrap: wrap;
        &__text {width: 100%;}
    }
    .footer {
        &__phones { padding: 10px 0;
            span {width: 100%; margin: 5px 0;}
        }
    }
    .filter {
        &__list i {margin: 5px; padding: 10px 10px;}
    }
    form input.button {
        max-width: none;
    }
    .contacts { justify-content: center;
        &__col {width: 100%;
            &:first-child {width: 100%;}
        }
    }
    .diagnosis {
        &__textcols {column-count: 1;}
    }
    .doc-detail {
        .doctor__wrap {width: auto;}
        &__cols {flex-wrap: wrap;}
        &__col {width: 100%; margin: 0px;
            &--big {padding-left: 0;}
        }
        .services {margin: 15px 0;}
    }
    h1 {font-size: 36px;}
    h2 {font-size: 28px;}
}

@media screen and(max-width: 600px) {
    .doctors__head {flex-wrap: wrap;
        h2 {width: 100%;}
        .button { margin: 10px 10px 10px 0px; }
    }
    .organise {flex-wrap: wrap;
        &__right {width: 100%; padding: 0; margin: 15px 0;}
        &__text {width: 100%;}
    }
    .callback {flex-wrap: wrap;
        &__col {width: 100%; padding: 0;}
        &__list { align-items: center; margin-bottom: 15px;}
    }
    .doctor__wrap {width: 100%;}
    .clinics {
        &__list {flex-wrap: wrap; justify-content: space-around;
            &--clear {
                .clinic {margin: 10px 5px;}
            }
        }
    }
    .clinic { margin: 10px;
        &__col {flex-wrap: wrap; margin: 0;}
    }
    .clinic {height: auto;
        &__about {position: static; transform: translateY(0%);}
    }
    .clinic__col--right {width: 100%;}
    .footer__col {width: 50%;
        &--big {width: 100%;}
    }
    .services__item {width: 45%;}
    .treatment{
        &__info {padding-right: 0;}
    }
    .place {width: 45%;}
}

@media screen and(max-width: 500px) {
    .news .articles__slide {width: 100%;}
    .news {
        .articles__two { width: 100%;}
    }
    .dover__item {width: 100%; padding: 5px 0;}
    .help {padding-top: 0;
        &__item {width: 100%;}
    }
    .technologies__list {
        ul {width: 100%;}
    }
    .footer__col {width: 100%;
        &--big {width: 100%;}
    }
    .problems__list {padding: 15px;}
    .slider__buttons {flex-wrap: wrap;
        .button {margin: 10px 0;}
    }
    .formed {
        &__cols {flex-wrap: wrap;}
        &__bonuses {width: 100%;}
        &__ask {padding: 30px 20px;}
    }
    .worker {
        &__details {flex-wrap: wrap;}
        &__name {width: 100%; margin-bottom: 10px;}
    }
    .form__full {padding-right: 20px; padding-left: 20px;}
    .contacts {
        &__row {flex-wrap: wrap;}
        &__city {width: 100%; margin-bottom: 5px;}
    }
}
@media screen and(max-width: 440px) {
    .services__item {width: 45%; padding: 5px; max-width: none;}
    .place {width: 100%; margin-bottom: 10px;}
    .fancybox-slide .formed__ask {width: 100%;}
    .feedback {width: 100%;}
}
@media screen and(max-width: 360px) {
    .search {
        &__button {width: 100%;
            .button  {max-width: none;
                span{width: 100%;}
            }
        }
        &__or {margin: -5px 0 15px 0;}
    }
    .partners__list { justify-content: center;}
}
