<section>
    <div class="mbox">
        <h2>О нас</h2>
        <div class="about">
           <p> Лечение в Германии привлекает граждан России и СНГ, поскольку является весьма эффективным, благодаря высокому развитию медицины и использованию передового оборудования. Достижения германской науки и врачебной практики доступны всем, но далеко не каждый пациент знает о том, как ими воспользоваться. Получить квалифицированную помощь в организации лечения за рубежом поможет наша кампания Med-Kontakt.</p>

           <p> Med-Kontakt – это официальный партнер лучших клиник Мюнхена и всей Баварии. Мы предлагаем полный спектр услуг по организации поездки в Германию в медицинских целях, будь то диагностика, лечение или реабилитация. Оказываем содействие в организации туристических поездок, шопинга в оутлетах и дизайнерских бутиках. Помогаем наладить связи с инвестиционными кампаниями и маклерскими бюро.</p>

           <p> Компания Med-Kontakt не является посредником, который бездушно использует проблемы со здоровьем, чтобы выставить огромный счет без каких-либо гарантий. Для борьбы с подобными недобросовестными фирмами было создано Клиническое Объединение Мюнхен, в которое входит и наша компания. Лечение за рубежом - довольно щекотливая тема и наша кампания подходит к каждому запросу так, как будто старается помочь близкому, родному человеку.</p>
            <div class="about__people">
                <div class="about__col">
                    <div class="worker">
                        <div class="worker__image">
                            <img src="images/demo/vra4.png" alt="">
                        </div>
                        <div class="worker__details">
                            <div class="worker__name">
                                <p>Фаимлия Имя Отчество</p>
                                <span>должность</span>
                            </div>
                            <a href="#" class="button">связаться</a>
                        </div>
                        <p>Всем кто заботится о собственном здоровье всем кто заботится о собственном здоровье всем кто заботится о собственном здоровье  всем кто заботится о собственном здоровье всем кто заботится о собственном здоровь всем кто заботится о собственном здоровье </p>
                    </div>
                </div>
                <div class="about__col">
                    <div class="worker">
                        <div class="worker__image">
                            <img src="images/demo/vra4_2.png" alt="">
                        </div>
                        <div class="worker__details">
                            <div class="worker__name">
                                <p>Фаимлия Имя Отчество</p>
                                <span>должность</span>
                            </div>
                            <a href="#" class="button">связаться</a>
                        </div>
                        <p>Всем кто заботится о собственном здоровье всем кто заботится о собственном здоровье всем кто заботится о собственном здоровье  всем кто заботится о собственном здоровье всем кто заботится о собственном здоровь всем кто заботится о собственном здоровье </p>
                    </div>
                </div>
            </div>

            <div class="doctors">
                <div class="doctors__head">
                    <h2>Наши цели</h2>
                    <a href="#" class="button">срочная запись в клинику</a>
                </div>
            </div>

            <div class="help">
                <div class="help__item">
                    <div class="help__image">
                        <svg  width="26" height="26">
                            <use xlink:href="#heart"></use>
                        </svg>
                    </div>
                    <p>Создание централизованной системы приема заявок от пациентов, желающих пройти обследование или лечение в Германии</p>
                </div>
                <div class="help__item">
                    <div class="help__image">
                        <svg  width="26" height="26">
                            <use xlink:href="#heart"></use>
                        </svg>
                    </div>
                    <p>Помощь в организации поездок в Германию в медицинских целях</p>
                </div>
                <div class="help__item">
                    <div class="help__image">
                        <svg  width="26" height="26">
                            <use xlink:href="#heart"></use>
                        </svg>
                    </div>
                    <p>Презентация германских клиник в России, а также на международных конференциях и форумах</p>
                </div>
                <div class="help__item">
                    <div class="help__image">
                        <svg  width="26" height="26">
                            <use xlink:href="#heart"></use>
                        </svg>
                    </div>
                    <p>Разработка информационных и рекламных материалов о клиниках Германии на русском языке</p>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <h2>Как мы работаем?</h2>
        <h3>От Вас требуется минимум усилий, поскольку все заботы на себя берет компания Med-Kontakt. Ниже представлены этапы нашей работы: </h3>
        <div class="list__modified">
            <ul>
                <li data-number="1">Вы оставляете заявку любым удобным способом, кратко описав проблему. </li>
                <li data-number="2">Сотрудники нашей компании свяжутся с Вами по телефону, чтобы уточнить детали и определить дальнейший план действий </li>
                <li data-number="3">Вы отправляете нам пакет документов: медицинские карты, справки, заключения, а также копии загранпаспортов. </li>
                <li data-number="4">Наши представители в Германии связываются с клиниками и оформляют официальное приглашение, а также составляют смету на стоимость лечения; </li>
                <li data-number="5">Наши сотрудники бронируют для Вас билеты на самолет, номера в гостинице, а также высылают документы, необходимые для поездки. </li>
                <li data-number="6">Оплата услуг производится непосредственно на месте при подписании договора о предоставлении медицинских и сопроводительных услуг. </li>
                <li data-number="7">Вы пребываете в Германию, где наши специалисты сопровождают Вас и знакомят с условиями проживания, лечения и т.д.</li>
            </ul>
        </div>
        <p>Словом, главная задача компании Med-Kontakt – освободить Вас от организационных хлопот и обеспечить максимальный комфорт, чтобы Вы могли сосредоточиться на своем здоровье. Именно оно является по-настоящему бесценным сокровищем.
        </p>
        <a href="#" class="button">заказать звонок</a>
    </div>
</section>
<section>

    <div class="mbox">
        <div class="doctors">
            <div class="doctors__head">
                <h2>отзывы</h2>
                <a href="#" class="button">смотреть все отзывы</a>
            </div>
        </div>
        <div class="callback__list callback__list--row">
            <div class="callback__item">
                <div class="list__head">Лариса Ивановна, г. Воронеж, 65 лет</div>
                <p>В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди, вторая стадия. Благодаря и В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди</p>
            </div>
            <div class="callback__item">
                <div class="list__head">Лариса Ивановна, г. Воронеж, 65 лет</div>
                <p>В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди, вторая стадия. Благодаря и В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди</p>
            </div>
            <div class="callback__item">
                <div class="list__head">Лариса Ивановна, г. Воронеж, 65 лет</div>
                <p>В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди, вторая стадия. Благодаря и В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди</p>
            </div>
        </div>
    </div>

</section>