
<div class="mbox">
    <div class="clinics">
        <div class="doctors__head">
            <h2>клиники</h2>
            <a href="#" class="button">смотреть все клиники</a>
        </div>
        <div class="clinics__list clinics__list--full clinics__list--between">
            <div class="clinic__col clinic__col--right">
                <a href="#" class="clinic clinic--big">
                    <div class="clinic__shadow"></div>
                    <div class="clinic__image"><img src="images/demo/clinic_2.png" alt="" data-object-fit="cover"></div>
                </a>
                <div class="clinic__about">
                    <div class="list__head">
                        <span>Название клиники</span>
                    </div>
                    <p>Наша клиника первичной медико-санитарной помощи и академических учебных больниц предлагает новейшие концепции лечения для каждого отдельного пациента в различных о....</p>
                </div>
            </div>
            <div class="clinic__col clinic__col--right">
                <a href="#" class="clinic clinic--big">
                    <div class="clinic__shadow"></div>
                    <div class="clinic__image"><img src="images/demo/clinic_2.png" alt="" data-object-fit="cover"></div>
                </a>
                <div class="clinic__about">
                    <div class="list__head">
                        <span>Название клиники</span>
                    </div>
                    <p>Наша клиника первичной медико-санитарной помощи и академических учебных больниц предлагает новейшие концепции лечения для каждого отдельного пациента в различных о....</p>
                </div>
            </div>

        </div>
    </div>

    <div class="showmore">
        <a href="#" class="button__showmore">показать еще</a>
    </div>

</div>