<div class="mbox">
    <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item"><a href="#">главная</a></li>
            <li class="breadcrumbs__item"><a href="#">направления</a></li>
            <li class="breadcrumbs__item"><a href="#">не главная</a></li>
            <li class="breadcrumbs__item"><a href="#">последняя</a></li>
        </ul>
    </div>
</div>