
<div class="mbox">
    <div class="clinics">
        <div class="doctors__head">
            <h2>клиники</h2>
            <a href="#" class="button">смотреть все клиники</a>
        </div>
        <div class="clinics__list clinics__list--clear">
            <div class="clinic__col clinic__col--full">
                <a href="#" class="clinic">
                    <div class="clinic__shadow"></div>
                    <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                    <div class="clinic__text">Клиника красного креста Мюнхен </div>
                </a>
                <a href="#" class="clinic">
                    <div class="clinic__shadow"></div>
                    <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                    <div class="clinic__text">Клиника красного креста Мюнхен </div>
                </a>
                <a href="#" class="clinic">
                    <div class="clinic__shadow"></div>
                    <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                    <div class="clinic__text">Клиника красного креста Мюнхен </div>
                </a>
                <a href="#" class="clinic">
                    <div class="clinic__shadow"></div>
                    <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                    <div class="clinic__text">Клиника красного креста Мюнхен </div>
                </a>
                <a href="#" class="clinic">
                    <div class="clinic__shadow"></div>
                    <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                    <div class="clinic__text">Клиника красного креста Мюнхен </div>
                </a>
                <a href="#" class="clinic">
                    <div class="clinic__shadow"></div>
                    <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                    <div class="clinic__text">Клиника красного креста Мюнхен </div>
                </a>
            </div>
        </div>
    </div>
</div>