<section>
    <div class="mbox">
        <h2>Клиника красного креста Мюнхен </h2>
        <div class="treatment">
            <div class="treatment__image">
                <img src="images/demo/autumn.png" alt="" data-object-fit="cover">
            </div>
            <p>Наша клиника первичной медико-санитарной помощи и академических учебных больниц предлагает новейшие концепции лечения для каждого отдельного пациента в различных специализированных отделениях и специализированных медицинских центрах. Наши две близко расположенные сети находятся в традиционном районе Мюнхена в Нимфенбурге-Нойхаузене. Помимо медицинского обслуживания, мы фокусируемся на заботе о каждом пациенте.
            </p>
        </div>
        //= ../partials/form-big.html
        <h2>Основные отделения клиники:</h2>
        <div class="list__head"> Женская гинекологическая клиника </div>
        <p>на Таксиштрассе была основана как „община для одиноких матерей“ более 100 лет назад, и превратилась в специализированную клинику гинекологии и акушерства, которая сегодня принимает более 10 000 стационарных пациентов каждый год. Ведущим направлением нашей клиники является хирургия зло - и доброкачественных опухолей груди. Проведение более 900 операций в год, делает наш центр крупнейшим „центром онкологии груди“ в Германии. Наша цель - предоставить вам отличные как человеческие так и профессиональные навыки.</p>
        <div class="list__head">  Отделение онкологии / гематологии </div>
        <p> Гематология включает в себя болезни крови и кроветворного костного мозга, Такие, как лейкемия (рак крови) и лимфомы (рак лимфомы). Онкология занимается диагностикой и терапией рака (злокачественные опухоли), которые могут возникать в разных тканях организма. В нашем отделе имеется современное оборудование, например, блок трансплантации стволовых клеток, оснащенный современными комнатными воздушными фильтрами. Вся наша команда гарантирует пребывание наших пациентов в надёжных руках. </p>
        <div class="list__head"> Хирургия </div>
        <p> отделения общей, висцеральной и минимально-инвазивной хирургии клиники Красного Креста в Мюнхене. В качестве специализированной хирургической больницы мы предлагаем широкий спектр хирургических процедур - минимально-инвазивных и стандартных открытых операций. Наши пациенты имеют возможность приехать к нам только в день операции, так как предоперационное обследование может проводиться амбулаторно в нашем превосходном центре обслуживания пациентов. При возможности мы в состоянии проводить ряд операций амбулаторно. Со всем этим мы делаем упор на благополучие пациентов. </p>

        <h2>Отделение внутренней медицины</h2>
        <p>Отделение внутренней медицины - команда опытных специалистов в области сердца и легких. В нашем распоряжении находится современная технология диагностики и лечения всех сердечных и легочных заболеваний. У всей нашей команды есть цель заставить вас чувствовать себя как дома с нами и что вы скоро поправляетесь.
        </p>
    </div>
</section>

<section class="grey-bg">
    <div class="mbox">
        <h2>мы специализируемся</h2>
        <div class="services">
            <a href="#" class="services__item">
                <div class="services__img">
                    <svg  width="26" height="26">
                        <use xlink:href="#list"></use>
                    </svg>
                </div>
                <div class="services__text">Диагноз</div>
            </a>
            <a href="#" class="services__item">
                <div class="services__img">
                    <svg  width="26" height="26">
                        <use xlink:href="#list"></use>
                    </svg>
                </div>
                <div class="services__text">Диагноз</div>
            </a>
            <a href="#" class="services__item">
                <div class="services__img">
                    <svg  width="26" height="26">
                        <use xlink:href="#list"></use>
                    </svg>
                </div>
                <div class="services__text">Диагноз</div>
            </a>
            <a href="#" class="services__item">
                <div class="services__img">
                    <svg  width="26" height="26">
                        <use xlink:href="#list"></use>
                    </svg>
                </div>
                <div class="services__text">Диагноз</div>
            </a>
            <a href="#" class="services__item">
                <div class="services__img">
                    <svg  width="26" height="26">
                        <use xlink:href="#list"></use>
                    </svg>
                </div>
                <div class="services__text">Диагноз</div>
            </a>
            <a href="#" class="services__item">
                <div class="services__img">
                    <svg  width="26" height="26">
                        <use xlink:href="#list"></use>
                    </svg>
                </div>
                <div class="services__text">Диагноз</div>
            </a>
            <a href="#" class="services__item">
                <div class="services__img">
                    <svg  width="26" height="26">
                        <use xlink:href="#list"></use>
                    </svg>
                </div>
                <div class="services__text">Диагноз</div>
            </a>
            <a href="#" class="services__item">
                <div class="services__img">
                    <svg  width="26" height="26">
                        <use xlink:href="#list"></use>
                    </svg>
                </div>
                <div class="services__text">Диагноз</div>
            </a>
        </div>
    </div>
</section>
<section>
    <div class="mbox">
        <div class="doctors">
            <div class="doctors__head">
                <h2>Наши специалисты</h2>
                <a href="#" class="button">записаться к врачу</a>
            </div>
            <div class="doctors__list">
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>


            </div>

        </div>
    </div>
</section>

