<section>
    <div class="mbox">
        <div class="doctors">
            <div class="doctors__head">
                <h2>Немецкие клиники</h2>
                <a href="#" class="button">срочная запись в клинику</a>
            </div>
        </div>
        <div class="filter">
            <div class="filter__list">
                <a href="#" class="filter__item">Клиники</a>
                <label><input type="checkbox"><i>все</i></label>
                <label><input type="checkbox"><i>онкология</i></label>
                <label><input type="checkbox"><i>зирургия</i></label>
                <label><input type="checkbox"><i>ортопедия</i></label>
                <label><input type="checkbox"><i>кардиология</i></label>
                <label><input type="checkbox"><i>урология</i></label>
                <label><input type="checkbox"><i>гинекология</i></label>
                <label><input type="checkbox"><i>Гастроэнтерология</i></label>
                <label><input type="checkbox"><i>Пластическая хирургия</i></label>
                <label><input type="checkbox"><i>Нейрохирургия</i></label>
                <label><input type="checkbox"><i>Эндокринология</i></label>
                <label><input type="checkbox"><i>Офтальмология</i></label>
                <label><input type="checkbox"><i>Стоматология</i></label>
                <label><input type="checkbox"><i>Реабилитация</i></label>
                <label><input type="checkbox"><i>Неврология</i></label>
                <label><input type="checkbox"><i>Нефрология</i></label>
                <label><input type="checkbox"><i>Оториноларингология</i></label>
                <label><input type="checkbox"><i>Радиология</i></label>
                <label><input type="checkbox"><i>Гематология</i></label>
                <label><input type="checkbox"><i>Роды в Германии</i></label>
            </div>
            <div class="filter__results">
                <a href="#" class="place">
                    <div class="place__shadow"></div>
                    <div class="place__image">
                        <img src="images/demo/clinic.png" alt="clinic">
                    </div>
                    <div class="place__text">Клиника красного креста Мюнхен </div>
                </a>
                <a href="#" class="place">
                    <div class="place__shadow"></div>
                    <div class="place__image">
                        <img src="images/demo/clinic.png" alt="clinic">
                    </div>
                    <div class="place__text">Клиника красного креста Мюнхен </div>
                </a>
                <a href="#" class="place">
                    <div class="place__shadow"></div>
                    <div class="place__image">
                        <img src="images/demo/clinic.png" alt="clinic">
                    </div>
                    <div class="place__text">Клиника красного креста Мюнхен </div>
                </a>
                <a href="#" class="place">
                    <div class="place__shadow"></div>
                    <div class="place__image">
                        <img src="images/demo/clinic.png" alt="clinic">
                    </div>
                    <div class="place__text">Клиника красного креста Мюнхен </div>
                </a>
                <a href="#" class="place">
                    <div class="place__shadow"></div>
                    <div class="place__image">
                        <img src="images/demo/clinic.png" alt="clinic">
                    </div>
                    <div class="place__text">Клиника красного креста Мюнхен </div>
                </a>
                <a href="#" class="place">
                    <div class="place__shadow"></div>
                    <div class="place__image">
                        <img src="images/demo/clinic.png" alt="clinic">
                    </div>
                    <div class="place__text">Клиника красного креста Мюнхен </div>
                </a>
                <a href="#" class="place">
                    <div class="place__shadow"></div>
                    <div class="place__image">
                        <img src="images/demo/clinic.png" alt="clinic">
                    </div>
                    <div class="place__text">Клиника красного креста Мюнхен </div>
                </a>
                <a href="#" class="place">
                    <div class="place__shadow"></div>
                    <div class="place__image">
                        <img src="images/demo/clinic.png" alt="clinic">
                    </div>
                    <div class="place__text">Клиника красного креста Мюнхен </div>
                </a>

            </div>
        </div>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <h2>Клиники Мюнхена</h2>
        <h3>Немецкие клиники стали на сегодняшний день гарантией выздоровления для многих тысяч пациентов из стран СНГ </h3>
        <div class="list__head">
            Лечение в клиниках Германии – надежда для пациента
        </div>
        <p>Зачастую, отчаявшись получить реальную помощь от российской медицины, пациенты обращают свой взор в сторону немецких клиник. Это не вызывает удивления, так как здравоохранение многих зарубежных стран находится на гораздо более высокой ступени. В частности, все большей популярностью пользуется лечение в Германиик, где немецкие клиники - это определённый гарант качества "Made in Germany"</p>
        <div class="list__head">
            Почему именно немецкие клиники?
        </div>
        <p>Здравоохранение Германии вышло на новый уровень и шагнуло далеко вперед во многом благодаря активной материальной поддержке государства. Ежегодно выделяются крупные суммы на приобретение новейшего оборудования, большое внимание государство уделяет развитию науки в стране. Существуют узкоспециализированные центры, которые занимаются разработкой и внедрением в практику новых методов лечения и диагностики. </p>
          <p>Частные и государственные учреждения здравоохранения готовы принять пациентов на лечение и диагностику в Германии из любого уголка земного шара. Широкий перечень предоставляемых услуг не ограничивается только лечением, здесь можно пройти диагностику и профилактику. Многие отчаявшиеся пациенты получают настоящую врачебную помощь в немецких клиниках. Можно без сомнения сказать, что немецкая медицина – одна из лучших в мире. </p>
        <div class="munich">
            <div class="munich__col">
                <div class="list__head">
                    Особенности немецких клиник
                </div>
                <ul>
                    <li>Статистика показывает, что высокий процент обратившихся за помощью к немецким врачам пациентов, остаются довольны результатом. Что позволило немецким клиникам заслужить мировую репутацию?</li>
                    <li>Оснащенность больниц находится на самом высоком уровне. Ни в государственной, ни в частной клинике страны, вы не найдете устаревшего оборудования. Государство уделяет данному вопросу большое внимание</li>
                    <li>Квалификация персонала находится на высочайшем уровне, который постоянно увеличивается</li>
                    <li>Особое внимание уделяется подготовке к лечению и диагностике в Германии. Без выяснения причин болезни врач не приступит к лечению. Только выявление всех факторов заболевания позволяет ему разработать максимально эффективный, полноценный и направленный курс лечения</li>
                    <li>Лечение в клиниках Германии отличается комплексным подходом. Для достижения наилучшего результата в кратчайшие сроки с пациентом работают специалисты из разных областей. При этом, внимание уделяется не только физическому, но и психологическому состоянию больного</li>
                    <li>При возможности предпочтение отдается малоинвазивным методам вмешательства, позволяющим вернуться к привычной жизни как можно быстрее</li>
                    <li>Специалисты Германии часто способны взяться за операцию, которую невозможно провести в России</li>
                </ul>
            </div>
            <div class="munich__col munich__col--small">
                <p>Лечение и диагностику в Германии может пройти любой пациент. Оформить соответствующие документы, выбрать клинику и высококвалифицированного врача поможет компания Med-Kontakt, которая сотрудничает с большим числом медицинских учреждений Германии. Отличительные особенности нашей компании – грамотный и ответственный подход, разумная цена, надежность.</p>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="mbox">
        <h2>Как с комфортом воспользоваться всеми преимуществами немецкой медицины</h2>
        <p>Лечение в Германии с Med-Kontakt: мы работаем, вы занимаетесь восстановлением своего здоровья </p>
        <div class="formed">
            <div class="formed__field">
                <div class="formed__cols">
                    <div class="formed__bonuses">
                        <div class="list__head">
                            <span>Наши услуги </span>
                        </div>
                        <ul>
                            <li>высокий уровень компетенции врачей, который контролируется уникальной системой здравоохранения Германии</li>
                            <li>регулярное обновление диагностической и лечебной техники</li>
                            <li>использование оригинальных медицинских препаратов и материалов</li>
                            <li>опытный дисциплинированный и доброжелательный средний медицинский персонал</li>
                            <li>комфортные условия пребывания в клинике.</li>
                        </ul>
                    </div>
                    <div class="formed__bonuses">
                        <div class="list__head">
                            <span>Ваши преимущества </span>
                        </div>
                        <ul>
                            <li>высокий уровень компетенции врачей, который контролируется уникальной системой здравоохранения Германии</li>
                            <li>регулярное обновление диагностической и лечебной техники</li>
                            <li>использование оригинальных медицинских препаратов и материалов</li>
                            <li>опытный дисциплинированный и доброжелательный средний медицинский персонал</li>
                            <li>комфортные условия пребывания в клинике.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="formed__ask">
                <div class="form__headers">
                    <h2>узнать цену</h2>
                    <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
                </div>

                <form action="#">
                    <div class="form__col form__col--full">
                        <input type="text" placeholder="ваше имя">
                    </div>
                    <div class="form__col form__col--full">
                        <input type="text" placeholder="ваш телефон">
                    </div>
                    <div class="form__col form__col--full">
                        <button type="submit" class="button button--big">узнать цену</button>
                    </div>
                    <div class="form__col form__col--full">
                        <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>