
<div class="mbox">
    <div class="cost">
        <div class="doctors__head">
            <h2>стоимость</h2>
            <a href="#" class="button">все направления</a>
        </div>
        <div class="cost__table">
            <table>
                <th colspan="3">Эндокринология</th>
                <tr>
                    <td class="cost__td cost__td--first">Резекция щитовидной железы</td>
                    <td class="cost__td cost__td--second">8-10 тысяч евро*</td>
                    <td class="cost__td cost__td--third">3-5 дней</td>
                </tr>
            </table>
        </div>

        <div class="cost__table">
            <table>
                <th colspan="3">Урология</th>
                <tr>
                    <td class="cost__td cost__td--first">Урологический чек для мужчин</td>
                    <td class="cost__td cost__td--second">980 евро <span>(без томографии)</span> </td>
                    <td class="cost__td cost__td--third">4 часа</td>
                </tr>
                <tr>
                    <td class="cost__td cost__td--first">Нервосохраняющая простатэктомия</td>
                    <td class="cost__td cost__td--second">13 - 17 тыс. евро</td>
                    <td class="cost__td cost__td--third">7-10 дней</td>
                </tr>
                <tr>
                    <td class="cost__td cost__td--first">Радикальная простатектомия</td>
                    <td class="cost__td cost__td--second">23 тыс. евро</td>
                    <td class="cost__td cost__td--third">7 дней </td>
                </tr>
                <tr>
                    <td class="cost__td cost__td--first">Нефрэктомия (сегмента почки)</td>
                    <td class="cost__td cost__td--second">18 тыс. евро</td>
                    <td class="cost__td cost__td--third">7 дней</td>
                </tr>
            </table>
        </div>
    </div>
</div>
