<div class="mbox">
    <div class="services">
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
    </div>
</div>
<section class="grey-bg">
    <div class="mbox">
        <div class="organisation">
            <h1>организация лечения за рубежом</h1>
            <h2>Преимущества лечения в мюнхене</h2>
            <h3>Немецкая точность и педантизм - гарантия соответствия международным протоколам всех проводимых медицинских мероприятий</h3>
            <p>
                Список преимуществ лечения в Германии открывает уникальная точность диагностики. Как свидетельствует статистика, немецкие клиники занимают лидирующее место в мире в области распознавания патологических состояний. </p>

            <p> К сожалению, немецким врачам нередко приходиться сталкиваться с ошибками своих коллег из стран СНГ, поэтому мы советуем всем нашим читателям, которые пока не планируют поездку на лечение в Германию воспользоваться удобной и комфортной услугой второе мнение.</p>

            <p> Вам достаточно лишь переслать имеющиеся у вас медицинские документы, чтобы получить следующую жизненно важную для вас информацию: </p>
            <ul class="list">
                <li>насколько точно установлен диагноз</li>
                <li> необходимы ли еще какие-либо диагностические исследования для определения тактики медицинских мероприятий</li>
                <li> соответствует ли назначенное лечение международным стандартам</li>
                <li> существуют ли альтернативные методы лечения, которые бы можно было использовать в данном конкретном случае</li>
                <li> прогноз относительно полноценного исцеления или достижения продолжительной ремиссии, а также относительно продолжительности и качества жизни при разных методах лечения (статистические данные)</li>
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="mbox">
        <div class="technologies">
            <h2>Передовые технологии в клиниках Мюнхена и других городов Германии</h2>
            <h3>Немецкая точность и педантизм – гарантия соответствия международным протоколам всех проводимых медицинских мероприятий </h3>
            <p>Германия – один из признанных мировых лидеров в области медицины, прежде всего это касается таких направлений, как: </p>
            <div class="technologies__list">
                <ul>
                    <li>ортопедия</li>
                    <li>онкология</li>
                </ul>
                <ul>
                    <li>реабилитация</li>
                    <li>нейрохирургия</li>
                </ul>
                <ul>
                    <li>кардиохирургия</li>
                    <li>пластическая хирургия и др.</li>
                </ul>
                <ul>
                    <li>акушерство и гинекология <br> <span>(в том числе, и новейшие репродуктивные технологии)</span></li>
                </ul>
            </div>
            <p>Лечение в клиниках Мюнхена и других городов Германии проводят опытные высококвалифицированные врачи, большинство из которых сочетают клиническую практику с научной деятельностью.</p>

            <p>Новейшие технологии клиник Мюнхена и других городов Германии – это передовой опыт, уникальные методики хирургического, консервативного и реабилитационного лечения, а также широкое использование роботизированных технологий (Да Винчи и др.).</p>
            <div class="technologies__btn">
                <a href="#" class="button button--big"><span>узнать стоимость</span></a>
            </div>

        </div>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <div class="usage">
            <div class="usage__thin">
                <div class="usage__photo">
                    <img src="images/demo/operation.png" alt="Doc">
                </div>
            </div>
            <div class="usage__fat">
                <div class="usage__list">
                    <h2>Широкое использование малоинвазивных методов хирургического лечения</h2>
                    <p>Германия – пионер в области малоинвазивных хирургических вмешательств. Первые эндоскопические и лапароскопические операции были проведены именно в немецких клиниках, поэтому здесь накоплен огромный опыт малотравматичных вмешательств, которые обеспечивают:
                    </p>
                    <ul>
                        <li>возможность проведения радикального лечения даже у пожилых и ослабленных пациентов</li>
                        <li>минимальный риск развития постоперационных осложнений</li>
                        <li>кратчайший восстановительный период</li>
                        <li>минимальная выраженность побочных эффектов после проведенного вмешательства (боль, слабость и т.п.)</li>
                        <li>хороший эстетический эффект</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mbox">
        <div class="usage">
            <div class="usage__fat">
                <div class="usage__list usage__list--left">
                    <h2>Клиники Мюнхена и других городов Германии – зона комфорта и безопасности пациентов</h2>
                    <p>Данные статистических опросов свидетельствуют, что пациентов из стран СНГ в Германию привлекают не только высокий уровень развития медицинской науки и техники, но и соображения безопасности.</p>

                    <p> Действительно в клиниках Мюнхена и других городов Германии процент осложнений значительно ниже, чем в аналогичных учреждениях СНГ. Высокие показатели безопасности связаны со следующими преимуществами немецкой медицины:</p>
                    <ul>
                        <li>высокий уровень компетенции врачей, который контролируется уникальной системой здравоохранения Германии</li>
                        <li>регулярное обновление диагностической и лечебной техники</li>
                        <li>использование оригинальных медицинских препаратов и материалов</li>
                        <li>опытный дисциплинированный и доброжелательный средний медицинский персонал</li>
                        <li>комфортные условия пребывания в клинике.</li>
                    </ul>
                </div>
            </div>
            <div class="usage__thin">
                <div class="usage__photo">
                    <img src="images/demo/house.png" alt="Doc">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <h2>Организация лечения за рубежом в клиниках Мюнхена и других городов Германии</h2>
        <div class="organise">
            <div class="organise__text organise__text--true">
                <p>Организационные вопросы – это единственный, однако существенный недостаток лечения за рубежом, в том числе и в клиниках Мюнхена и других городов Германии. Даже абсолютно здоровому человеку сложно сориентироваться в незнакомой стране, преодолеть языковой барьер и многочисленные рутинные бюрократические преграды.</p>
                <p>В Германии нет плохих врачей, однако, как и в любой стране, есть более и менее квалифицированные специалисты. Кроме того, важно подобрать клинику, которая специализируется по вашей конкретной проблеме, а в случае необходимости проведения операции крайне важно найти доктора, который проводит достаточное количество нужных вам хирургических вмешательств в год.</p>
            </div>
            <div class="organise__right">
                <div class="organise__white">
                    <p>Неопытного медицинского туриста в незнакомой стране поджидает множество подводных камней и течений, в том числе такие проблемы: </p>
                    <ul>
                        <li>как оформить визу и организовать переезд;</li>
                        <li>как правильно перевести на немецкий язык и оформить все необходимые документы;</li>
                        <li>как организовать проживание;</li>
                        <li>к кому обратиться при возникновении проблем;</li>
                        <li>как сэкономить на лечении, чтобы от этого не пострадало качество медицинского обслуживания и многое-многое другое.</li>
                    </ul>
                </div>
                <div class="organise__under">
                    <p>Все эти задачи с успехом выполняет фирма Med-Kontakt, которая с удовольствием возьмет на себя задачу вашего гида на медицинском рынке Германии. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mbox">
        <h2>Как с комфортом воспользоваться всеми преимуществами немецкой медицины</h2>
        <p>Лечение в Германии с Med-Kontakt: мы работаем, вы занимаетесь восстановлением своего здоровья </p>
        <div class="formed">
            <div class="formed__field">
                <div class="formed__cols">
                    <div class="formed__bonuses">
                        <div class="list__head">
                            <span>Наши услуги </span>
                        </div>
                        <ul>
                            <li>высокий уровень компетенции врачей, который контролируется уникальной системой здравоохранения Германии</li>
                            <li>регулярное обновление диагностической и лечебной техники</li>
                            <li>использование оригинальных медицинских препаратов и материалов</li>
                            <li>опытный дисциплинированный и доброжелательный средний медицинский персонал</li>
                            <li>комфортные условия пребывания в клинике.</li>
                        </ul>
                    </div>
                    <div class="formed__bonuses">
                        <div class="list__head">
                            <span>Ваши преимущества </span>
                        </div>
                        <ul>
                            <li>высокий уровень компетенции врачей, который контролируется уникальной системой здравоохранения Германии</li>
                            <li>регулярное обновление диагностической и лечебной техники</li>
                            <li>использование оригинальных медицинских препаратов и материалов</li>
                            <li>опытный дисциплинированный и доброжелательный средний медицинский персонал</li>
                            <li>комфортные условия пребывания в клинике.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="formed__ask">
                <div class="form__headers">
                    <h2>узнать цену</h2>
                    <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
                </div>
                <form action="#">
                    <div class="form__col form__col--full">
                        <input type="text" placeholder="ваше имя">
                    </div>
                    <div class="form__col form__col--full">
                        <input type="text" placeholder="ваш телефон">
                    </div>
                    <div class="form__col form__col--full">
                        <button type="submit" class="button button--big">узнать цену</button>
                    </div>
                    <div class="form__col form__col--full">
                        <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <div class="information">
            <h2>Ответы на наиболее популярные вопросы наших клиентов об организации лечения за рубежом в клиниках Мюнхена и других городов Германии</h2>
            <div class="infoblock">
                <div class="infoblock__text">
                    <div class="infoblock__head">
                        <span>Как перевести и оформить медицинские документы</span>
                    </div>
                    <p>Как правило, пациенты приезжают в клиники Мюнхена и других городов Германии с уже установленным диагнозом, с целью проведения операции, курса консервативной и/или реабилитационной терапии, использования новейших репродуктивных технологий и т.п.</p>
                    <p>В таких случаях необходимо перевести на немецкий язык все имеющиеся медицинские документы, правильно оформив перевод. Если проводилась биопсия, следует в обязательном порядке взять с собой «стеклышки».</p>
                    <p>Законодательство Германии требует, чтобы немецкие клиники проводили верификацию (подтверждение) диагноза. Поэтому следует быть готовым к тому, что часть обследований придется пройти заново, в том числе и ревизию стеклышек биопсии.</p>
                </div>
                <div class="infoblock__box">
                    <span>Вас интересует, какие именно документы понадобиться перевести в вашем конкретном случае? Спрашивайте!</span>
                    <a href="#" class="button button--big">Заказать звонок</a>
                </div>
            </div>

            <div class="infoblock">
                <div class="infoblock__text">
                    <div class="infoblock__head">
                        <span>Можно ли сэкономить при правильной организации лечения за рубежом?</span>
                    </div>
                    <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру, нельзя сэкономить на стоимости медицинских препаратов, поскольку самые дорогие – это, как правило, самые новые и, следовательно, самые эффективные и самые безопасные.</p>
                    <p>Тем не менее, несколько снизить общую стоимость лечения можно всегда. К примеру, лечение в государственных медицинских учреждениях всегда несколько дешевле. Также можно сэкономить на пребывании в клинике, в тех случаях, когда можно лечиться амбулаторно. </p>
                    <p>В отдельных случаях, когда речь идет о продолжительном курсе консервативной терапии, мы можем организовать продолжение лечения в клиниках-партнерах, которые находятся в Москве и некоторых других городах. </p>
                </div>
                <div class="infoblock__box">
                    <span>Вас интересует: можно ли сэкономить в вашем конкретном случае? Спрашивайте!</span>
                    <a href="#" class="button button--big">Заказать звонок</a>
                </div>
            </div>

            <div class="infoblock">
                <div class="infoblock__text">
                    <div class="infoblock__head">
                        <span>Какой прогноз при лечении в клиниках Мюнхена и других городов Германии</span>
                    </div>
                    <p>Показатели эффективности лечения в клиниках Мюнхена и других городов Германии значительно выше, чем в аналогичных медицинских учреждениях стран СНГ. Поэтому, обращаясь за помощью к немецким врачам, вы однозначно повышаете свои шансы на полноценное выздоровление или достижение продолжительной ремиссии.</p>
                    <p>Тем не менее, следует учитывать, что прогноз относительно продолжительности и качества жизни после лечения в Германии, во многом зависит от таких факторов, как:</p>
                    <ul>
                        <li>стадия развития патологии;</li>
                        <li>наличие осложнений;</li>
                        <li>возраст и общее состояние пациента (сопутствующие заболевания и т.п.).</li>
                    </ul>
                </div>
                <div class="infoblock__box">
                    <span>Вас интересует прогноз в вашем конкретном случае? Спрашивайте!</span>
                    <a href="#" class="button button--big">Заказать звонок</a>
                </div>
            </div>
        </div>

    </div>
</section>
<section>
    <div class="mbox">
        <h2>Организация профилактических осмотров Check up в Германии</h2>
        <div class="organise organise__change">
            <div class="organise__right">
                <p>Стадия развития заболевания – основной фактор, который определяет прогноз относительно продолжительности и качества жизни. Следует также отметить, что кроме высочайших показателей эффективности, лечение, проведенное на ранней стадии заболевания, имеет следующие преимущества: </p>
                <ul>
                    <li>занимает короткий период времени;</li>
                    <li>не вызывает неприятных побочных эффектов и влияющих на качество жизни осложнений;</li>
                    <li>не предусматривает значительных финансовых затрат;</li>
                    <li>не требует особых усилий для соблюдения полной конфиденциальности.</li>
                </ul>
            </div>
            <div class="organise__text organise__text--true">
                <p>Так, к примеру, в Германии все заботящиеся о своем здоровье мужчины и женщины в возрасте 50 лет и старше регулярно проходят колоноскопию, которая позволяет обнаружить раковую опухоль в зародыше.</p>
               <p> Если во время обследования врач обнаруживает патологию, опухоль тут же удаляется и пациент отправляется домой избавленный от смертельной опасности. Никакие другие методы лечения (химиотерапия, лучевая терапия и т.п.) на этой стадии не понадобятся. Сразу же после проведения операции пациент может вернуться к полноценной жизни без каких-либо ограничений.</p>
            </div>
        </div>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <div class="explanation">
            <div class="explanation__head">
                <p><span>Check Up – выбор стремящихся к здоровому долголетию</span> (средняя продолжительность жизни в странах, где население регулярно проходит профилактические обследования, на 10-15 лет выше, чем в странах СНГ)</p>
            </div>
            <div class="technologies__list">
                <ul>
                    <li>ортопедия</li>
                    <li>онкология</li>
                </ul>
                <ul>
                    <li>реабилитация</li>
                    <li>нейрохирургия</li>
                </ul>
                <ul>
                    <li>кардиохирургия</li>
                    <li>пластическая хирургия и др.</li>
                </ul>
                <ul>
                    <li>акушерство и гинекология <br> <span>(в том числе, и новейшие репродуктивные технологии)</span></li>
                </ul>
            </div>

            <div class="explanation__cols">
                <div class="explanation__left">
                    <div class="list__head">
                        <span>Check up c Med-Kontakt</span>
                    </div>
                    <p>Показатели эффективности лечения в клиниках Мюнхена и других городов Германии значительно выше, чем в аналогичных медицинских учреждениях стран СНГ. Поэтому, обращаясь за помощью к немецким врачам, вы однозначно повышаете свои шансы на полноценное выздоровление или достижение продолжительной ремиссии.</p>
                    <p>   Тем не менее, следует учитывать, что прогноз относительно продолжительности и качества жизни после лечения в Германии, во многом зависит от таких факторов, как: </p>
                    <ul>
                        <li>консультации по составлению индивидуального Check Up </li>
                        <li>помощь при выборе оптимально подходящего медицинского учреждения в Германии </li>
                        <li>услуги по организации поездки <span class="grey">(от визовой поддержки до бронирования номеров в отелях Германии)</span></li>
                    </ul>
                    <div class="list__head">
                        <span>Кому необходимо</span>
                    </div>
                    <p>Всем кто заботится о собственном здоровье и благополучии родных и близких</p>
                    <a href="#" class="button">заказать check up</a>
                </div>
                <div class="explanation__right">
                    <div class="list__head">
                        <span>Что гарантирует</span>
                    </div>
                    <p>100% точная диагностика заболевания на такой стадии развития, когда современная медицина гарантирует полноценное исцеление и возвращение к привычному ритму жизни</p>
                    <p>Без боли</p>
                    <p>Без значительных финансовых затрат</p>
                    <p>Без вреда для здоровья</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mbox">
        <div class="doctors">
            <div class="doctors__head">
                <h2>наши врачи</h2>
                <a href="#" class="button">смотреть всех врачей</a>
            </div>
            <div class="doctors__list">
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>


            </div>

        </div>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <div class="clinics">
            <div class="doctors__head">
                <h2>клиники</h2>
                <a href="#" class="button">смотреть все клиники</a>
            </div>
            <div class="clinics__list clinics__list--clear">
                <div class="clinic__col clinic__col--full">
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>