
<div class="mbox">
    <div class="doctors">
        <div class="doctors__head">
            <h2>наши врачи</h2>
            <a href="#" class="button">смотреть всех врачей</a>
        </div>
        <div class="doctors__list">
            <div class="doctor__wrap">
                <a href="#" class="doctor">
                    <div class="doctor__item">
                        <div class="doctor__image">
                            <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                        </div>
                        <div class="doctor__text">
                            <div class="doctor__name">Название врача</div>
                            <div class="doctor__position">Должность</div>
                            <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="doctor__wrap">
                <a href="#" class="doctor">
                    <div class="doctor__item">
                        <div class="doctor__image">
                            <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                        </div>
                        <div class="doctor__text">
                            <div class="doctor__name">Название врача</div>
                            <div class="doctor__position">Должность</div>
                            <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="doctor__wrap">
                <a href="#" class="doctor">
                    <div class="doctor__item">
                        <div class="doctor__image">
                            <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                        </div>
                        <div class="doctor__text">
                            <div class="doctor__name">Название врача</div>
                            <div class="doctor__position">Должность</div>
                            <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="doctor__wrap">
                <a href="#" class="doctor">
                    <div class="doctor__item">
                        <div class="doctor__image">
                            <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                        </div>
                        <div class="doctor__text">
                            <div class="doctor__name">Название врача</div>
                            <div class="doctor__position">Должность</div>
                            <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                        </div>

                    </div>
                </a>
            </div>


        </div>

    </div>
</div>
