<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">

    <div class="footer__menu grey-bg">
        <div class="mbox">
            <div class="footer__list">
                <div class="footer__col">
                    <a href="#">Вопросы и ответы</a>
                    <a href="#">Новости</a>
                    <a href="#">Отзывы</a>
                    <a href="#">Врачи</a>
                </div>
                <div class="footer__col">
                    <a href="#">Онкология</a>
                    <a href="#">Хирургия</a>
                    <a href="#">Ортопедия</a>
                    <a href="#">Кардиология</a>
                    <a href="#">Урология</a>
                </div>
                <div class="footer__col">
                    <a href="#">Гинекология  </a>
                    <a href="#">Гастроэнтерология</a>
                    <a href="#">Пластическая хирургия</a>
                    <a href="#">Нейрохирургия</a>
                    <a href="#">Эндокринология</a>
                </div>
                <div class="footer__col">
                    <a href="#">Офтальмология</a>
                    <a href="#">Стоматология</a>
                    <a href="#">Реабилитация</a>
                    <a href="#">Неврология</a>
                    <a href="#">Нефрология</a>
                </div>
                <div class="footer__col">
                    <a href="#">Оториноларингология</a>
                    <a href="#">Радиология</a>
                    <a href="#">Гематология</a>
                    <a href="#">Роды в Германии </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__contacts grey-bg">
        <div class="mbox">
            <div class="footer__list">
                <div class="footer__col footer__col--big">
                    <span>Copyright © 2007 Med Kontakt</span>
                    <a href="#">Импрессум</a>
                    <a href="#">Договор - оферта</a>
                    <a href="#">Политика конфиденциальности</a>
                </div>
                <div class="footer__col footer__col--big">
                    <div class="footer__phones"><span>Телефон:</span> <span>+49 89 32708784</span>  <span> +49 176 45119759</span></div>
                    <span>E-Mail:<a href="#">info@med-kontakt.ru  </a> </span>
                    <span>Skype:<a href="#"> v-intermed</a> </span>
                </div>
                <div class="footer__col footer__col--full">
                    <div class="footer__socials">
                        <!--<a href="#">-->
                            <!--<svg>-->
                                <!--<use xlink:href="#messenger_bot"></use>-->
                            <!--</svg>-->
                        <!--</a>-->
                        <a href="#">
                            <svg>
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="#twitter"></use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="#vk"></use>
                            </svg>
                        </a>
                        <!--<a href="#">-->
                            <!--<svg>-->
                                <!--<use xlink:href="#xz"></use>-->
                            <!--</svg>-->
                        <!--</a>-->
                        <a href="#" class="insta">
                            <svg>
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="footer__designed">
                        <span> Дизайн: <a href="#"> designwork</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- FOOTER -->
<script>
    var revision = 1552;    // версия спрайта (текущая дата)
</script>
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/select2.css">
<link rel="stylesheet" href="css/develop.css">
<link rel="stylesheet" href="css/media.css">
<!-- SCRIPTS -->
<script        src="https://code.jquery.com/jquery-3.1.1.min.js"        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/object-fit-cover.js" ></script>
<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/select2.full.js" ></script>
<script type="text/javascript" src="js/develop.js" ></script>

<!-- endbuild -->

<!-- /SCRIPTS -->
