<div class="form__full grey-bg">
    <div class="form__headers">
        <h2>заявка на лечения</h2>
        <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
    </div>
    <form action="#">
            <div class="form__col">
                <input type="text" placeholder="Ваше имя">
                <input type="text" placeholder="Ваш e-mail">
                <input type="text" placeholder="Название отделения">
            </div>
            <div class="form__col">
                <input type="text" placeholder="Ваш телефон">
                <input type="text" placeholder="Название клиники">
                <label class="file">
                    <div class="">
                        <svg  width="26" height="26">
                            <use xlink:href="#skrepka"></use>
                        </svg>
                    </div>
                    <input type="file"> <span>прикрепить файл</span>
                </label>
            </div>
            <div class="form__col">
                <textarea name="area" id=""></textarea>
                <button type="submit" class="button button--big">узнать цену</button>
            </div>
        <div class="form__col form__col--full">
            <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
        </div>
    </form>
</div>