<!-- HEADER -->
<header>
    <div class="header">
        <div class="header__line">
            <div class="mbox">
                <div class="header__up">
                    <div class="callback">
                        <div class="callback__logo">
                            <a href="#" class="callback__img">
                                <svg>
                                    <use xlink:href="#logo"></use>
                                </svg>
                            </a>
                            <div class="callback__text">
                                Помогаем пройти обследование и лечение в клиниках мюнхена
                            </div>
                        </div>
                    </div>
                    <div class="socials">
                        <div class="socials__networks">
                            <a href="#">
                                <svg  width="26" height="26">
                                    <use xlink:href="#messenger_top"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg  width="26" height="26">
                                    <use xlink:href="#skype"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="29" height="31">
                                    <use xlink:href="#viber"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="31" height="27">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg width="31" height="31">
                                    <use xlink:href="#whatsapp"></use>
                                </svg>
                            </a>
                            <a href="#" class="insta">
                                <svg width="28" height="28">
                                    <use xlink:href="#instagram"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="socials__email">
                            <a href="mailto:info@med-kontakt.ru">info@med-kontakt.ru</a>
                        </div>
                        <div class="socials__calback">
                            <a href="#" class="socials__number">+49 176 45119759</a>
                            <a href="#" class="socials__get">Обратный звонок</a>
                        </div>
                    </div>
                    <div class="lines">
                        <a href="#" class="buter js-menu-open">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__down">
            <div class="mbox">
                <div class="menu js-menu">
                    <div class="menu__list">
                        <div class="menu__link"><a href="#" class="active"><span>главная</span></a></div>
                        <div class="menu__link"><a href="#"><span>о нас</span></a></div>
                        <div class="menu__link"><a href="#"><span>направления</span></a></div>
                        <div class="menu__link"><a href="#"><span>клиники</span></a></div>
                        <div class="menu__link"><a href="#"><span>цены</span></a></div>
                        <div class="menu__link"><a href="#"><span>диагностика</span></a></div>
                        <div class="menu__link"><a href="#"><span>переводы</span></a></div>
                        <div class="menu__link"><a href="#"><span>контакты</span></a></div>
                    </div>
                    <a href="" class="button"><span>Заявка на лечение</span></a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

