<div class="hidden-block">

    <div id="checkup" class="checkup">
        <div class="diagnosis">
            <div class="form__full grey-bg">
                <div class="form__headers">
                    <h2>записаться на Check Up</h2>
                    <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
                </div>
                <form action="#">
                    <div class="form__col">
                        <input type="text" placeholder="Ваше имя">
                        <input type="text" placeholder="Ваш e-mail">
                        <input type="text" placeholder="Название отделения">
                    </div>
                    <div class="form__col">
                        <textarea name="area" id=""></textarea>
                    </div>
                    <div class="form__col">
                        <label class="file">
                            <div class="">
                                <svg  width="26" height="26">
                                    <use xlink:href="#skrepka"></use>
                                </svg>
                            </div>
                            <input type="file"> <span>прикрепить файл</span>
                        </label>
                        <input type="button" class="button button--big" value="записаться">
                        <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="todoctor" class="todoctor">
        <div class="doc-detail__form">
            <div class="form__headers">
                <h2>записаться к врачу</h2>
                <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
            </div>
            <form action="#">
                <div class="form__col form__col--full">
                    <input type="text" placeholder="ваше имя">
                </div>
                <div class="form__col form__col--full">
                    <input type="text" placeholder="ваш телефон">
                </div>
                <div class="form__col form__col--full">
                    <button type="submit" class="button button--big">узнать цену</button>
                </div>
                <div class="form__col form__col--full">
                    <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                </div>
            </form>
        </div>
    </div>

    <div id="feedback" class="feedback">
        <div class="form__full grey-bg">
            <div class="form__headers">
                <h2>связаться с нами</h2>
                <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
            </div>
            <form action="#">
                <div class="form__col">
                    <input type="text" placeholder="Ваше имя">
                </div>
                <div class="form__col">
                    <input type="text" placeholder="Сколько лет">
                </div>
                <div class="form__col">
                    <input type="text" placeholder="Где живете">
                </div>
                <div class="form__col form__col--full">
                    <textarea name="area" placeholder="Ваш отзыв"></textarea>
                </div>
                <div class="form__col form__col--full">
                    <button type="submit" class="button"> добавить отзыв </button>
                </div>
            </form>
        </div>
    </div>


    <div id="callback">
        <div class="formed__ask">
            <div class="form__headers">
                <h2>обратная связь</h2>
                <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
            </div>
            <form action="#">
                <div class="form__col form__col--full">
                    <input type="text" placeholder="ваше имя">
                </div>
                <div class="form__col form__col--full">
                    <div class="phone-selector">
                        <select name="" class="js-go-select">
                            <option value="UA">UA</option>
                            <option value="UA">RU</option>
                            <option value="UA">GE</option>
                        </select>
                        <input type="tel" placeholder="ваш телефон">
                    </div>

                </div>
                <div class="form__col form__col--full">
                    <button type="submit" class="button button--big">узнать цену</button>
                </div>
                <div class="form__col form__col--full">
                    <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                </div>
            </form>
        </div>
    </div>

    <div id="helthcare">
        <div class="formed__ask">
            <div class="form__headers">
                <h2>заявка на лечения</h2>
                <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
            </div>
            <form action="#">
                <div class="form__col form__col--full">
                    <input type="text" placeholder="Ваше имя">
                </div>
                <div class="form__col form__col--full">
                    <input type="text" placeholder="Ваш телефон">
                </div>
                <div class="form__col form__col--full">
                    <input type="text" placeholder="Ваш e-mail">
                </div>
                <div class="form__col form__col--full">
                    <textarea name="" id="" placeholder="Сообщение"></textarea>
                </div>
                <div class="form__col form__col--full">
                    <label class="file">
                        <div class="">
                            <svg  width="26" height="26">
                                <use xlink:href="#skrepka"></use>
                            </svg>
                        </div>
                        <input type="file"> <span>прикрепить файл</span>
                    </label>
                </div>
                <div class="form__col form__col--full">
                    <button type="submit" class="button button--big">узнать цену</button>
                </div>
                <div class="form__col form__col--full">
                    <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                </div>
            </form>
        </div>
    </div>


    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>

    <div id="call-popup">
        <form action="ajax.php" name="" class="contact-form">
            <div class="contact-form-title">
                <h5>Lorem ipsum dolor.</h5>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" value="" placeholder="Ваше Имя">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_tel" value="" required="required" placeholder="Ваш номер" class="tel-mask">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span>Отправить заявку</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>