<div class="main">
    <div class="slider js-slider-main">
        <div class="slider__wrap">
            <div class="slider__box">
                <img src="images/demo/slide_1.png" alt="#">
                <div class="mbox">
                    <h2>Быстрое решение задач <br> любой сложности</h2>
                    <p>Клиника красного креста - высокий профессионализм <br> и человечный, индивидуальный подход!</p>
                    <div class="slider__buttons">
                        <a href="#" class="button button--small">заявка на лечения</a>
                        <a href="#" class="button button--small button--transparent">обратный звонок</a>
                    </div>
                    <div class="slider__mover">
                        <div class="slider__arrow js-back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 20 15" preserveAspectRatio="xMinYMin slice">
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 20 8"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 8 1"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 8 15"></path>
                            </svg>
                        </div>
                        <div class="slider__counter">
                            <div class="slider__number"><span>3</span></div>/
                            <div class="slider__count"><span>3</span></div>
                        </div>
                        <div class="slider__arrow slider__arrow--next js-forward">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 20 15" preserveAspectRatio="xMinYMin slice">
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 20 8"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 20 8 L 11 1"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 20 8 L 11 15"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider__wrap">
            <div class="slider__box">
                <img src="images/demo/slide_2.png" alt="#">
                <div class="mbox">
                    <h2>Второе мнение до принятия решения <br> - реально может спасти жизнь!</h2>
                    <p>Клиника красного креста - высокий профессионализм и человечный, индивидуальный подход!</p>
                    <div class="slider__buttons">
                        <a href="#" class="button button--small">заявка на лечения</a>
                        <a href="#" class="button button--small button--transparent">обратный звонок</a>
                    </div>
                    <div class="slider__mover">
                        <div class="slider__arrow js-back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 20 15" preserveAspectRatio="xMinYMin slice">
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 20 8"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 8 1"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 8 15"></path>
                            </svg>
                        </div>
                        <div class="slider__counter">
                            <div class="slider__number"><span>3</span></div>/
                            <div class="slider__count"><span>3</span></div>
                        </div>
                        <div class="slider__arrow slider__arrow--next js-forward">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 20 15" preserveAspectRatio="xMinYMin slice">
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 20 8"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 20 8 L 11 1"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 20 8 L 11 15"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider__wrap">
            <div class="slider__box">
                <img src="images/demo/slide_3.png" alt="#">
                <div class="mbox">
                    <h2>Пройди Check Up - узнай о <br> своём здоровье</h2>
                    <p>Клиника красного креста - высокий профессионализм и человечный, индивидуальный подход!</p>
                    <div class="slider__buttons">
                        <a href="#" class="button button--small">заявка на лечения</a>
                        <a href="#" class="button button--small button--transparent">обратный звонок</a>
                    </div>
                    <div class="slider__mover">
                        <div class="slider__arrow js-back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 20 15" preserveAspectRatio="xMinYMin slice">
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 20 8"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 8 1"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 8 15"></path>
                            </svg>
                        </div>
                        <div class="slider__counter">
                            <div class="slider__number"><span>3</span></div>/
                            <div class="slider__count"><span>3</span></div>
                        </div>
                        <div class="slider__arrow slider__arrow--next js-forward">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 20 15" preserveAspectRatio="xMinYMin slice">
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 20 8"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 20 8 L 11 1"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 20 8 L 11 15"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section>
    <div class="mbox">
        <div class="help">
            <a href="#" class="help__item">
                <div class="help__image">
                    <svg  width="26" height="26">
                        <use xlink:href="#heart"></use>
                    </svg>
                </div>
                <div class="help__head">
                    Check Up
                </div>
                <div class="help__description">
                    Специальное предложение: осенний Check Up
                    <span>На <b>25% выгодней</b> пройти Check Up этой осенью!!!</span>
                </div>
                <div class="help__more">
                    <span>подробнее</span>
                    <svg  width="26" height="26">
                        <use xlink:href="#small_arrow"></use>
                    </svg>
                </div>
            </a>
            <a href="#" class="help__item">
                <div class="help__image">
                    <svg  width="26" height="26">
                        <use xlink:href="#aparat"></use>
                    </svg>
                </div>
                <div class="help__head">
                    Check Up
                </div>
                <div class="help__description">
                    Специальное предложение: осенний Check Up
                    <span>На <b>25% выгодней</b> пройти Check Up этой осенью!!!</span>
                </div>
                <div class="help__more">
                    <span>подробнее</span>
                    <svg  width="26" height="26">
                        <use xlink:href="#small_arrow"></use>
                    </svg>
                </div>
            </a>
            <a href="#" class="help__item">
                <div class="help__image">
                    <svg  width="26" height="26">
                        <use xlink:href="#list"></use>
                    </svg>
                </div>
                <div class="help__head">
                    Check Up
                </div>
                <div class="help__description">
                    Специальное предложение: осенний Check Up
                    <span>На <b>25% выгодней</b> пройти Check Up этой осенью!!!</span>
                </div>
                <div class="help__more">
                    <span>подробнее</span>
                    <svg  width="26" height="26">
                        <use xlink:href="#small_arrow"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <h2>Лечение в Германии для тех кому надо быстро и качественно </h2>
        <h3>Поможем решить задачу любого уровня! </h3>
        <div class="organise organise__change">
            <div class="organise__right organise__right--padded">
                <p>Если вы оказались на нашем сайте, значит Вам или Вашим близким нужно квалифицированное лечение в Германии.</p>
<p> Мы рады сообщить, что вы обратились по адресу, т.к. в наших силах организовать лечение Германии в лучших клиниках! Эта страна уже много лет является одним из мировых центров медицинского туризма. Помощь здесь ежегодно получают тысячи человек из разных уголков планеты.</p>

<p>С нами лечение в Германии становится доступным и комфортным. Мы работаем, а вы занимаетесь исключительно восстановлением и приумножением собственного здоровья.</p>
                <a href="#" class="button">получить план лечения</a>
            </div>
            <div class="organise__text organise__text--white">
                <p>Так, к примеру, в Германии все заботящиеся о своем здоровье мужчины и женщины в возрасте 50 лет и старше регулярно проходят колоноскопию, которая позволяет обнаружить раковую опухоль в зародыше.</p>
                <p> Если во время обследования врач обнаруживает патологию, опухоль тут же удаляется и пациент отправляется домой избавленный от смертельной опасности. Никакие другие методы лечения (химиотерапия, лучевая терапия и т.п.) на этой стадии не понадобятся. Сразу же после проведения операции пациент может вернуться к полноценной жизни без каких-либо ограничений.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mbox">
        <h2>Почему нам стоит доверять</h2>
        <h3>Вот такие мы прикольные, что аж 12 лет на рынке работает а еще у нас более 35 клиник, в общем какой то подзаголовок к этому блоку сюда впихнуть</h3>
        <div class="dover">
            <div class="dover__item">
                <div class="dover__head">
                    12 <span>лет</span>
                </div>
                <p>Более 12 лет мы делаем возможности медицины Германии доступными русскоязычным пациентам</p>
            </div>
            <div class="dover__item">
                <div class="dover__head">
                    35 <span>клиник</span>
                </div>
                <p>Объединяем более 35 ТОП клиник Баварии и 70 врачей из ТОП лист Германии</p>
            </div>
            <div class="dover__item">
                <div class="dover__head">
                    9 <span>из</span> 10
                </div>
                <p>Наших клиентов рекомендуют нас своим знакомым</p>
            </div>
            <div class="dover__item">
                <div class="dover__head">
                    24/7
                </div>
                <p>Доступны  24 / 7</p>
            </div>
        </div>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <div class="problems">
            <h2>С какими проблемами приезжают пациенты на лечение в Германию</h2>
            <div class="problems__content">
                <div class="problems__left">
                    <p>  Лечение в Германии любого заболевания начинается с диагностики. Современная медицина способна излечить практически любое заболевание, но только в том случае, когда оно обнаружено на самой ранней стадии развития. Поэтому в немецких клиниках особенно популярна такая услуга как чек ап. Более подробно о преимуществах данной услуги, а также о подводных камнях экспресс-диагностики в Германии и способах их преодоления, читайте в разделе
                        <a href="#">диагностика</a> .</p>
                    <p> Согласно статистическим данным, немецкая диагностика лидирует в области распознавания заболеваний. Поэтому в клиниках Германии особенно популярна такая услуга как «второе мнение». Пациенты из разных стран мира обращаются к нам, чтобы получить авторитетное мнение немецких специалистов о правильности установленного диагноза и адекватности назначенного лечения. Более подробно о данной услуге читайте в разделе «<a href="#">второе мнение</a>».</p>

                </div>
                <div class="problems__box">
                   <p>И помните что эта не дорогая, но очень эффективная услуга, помогает избежать ошибки, а значит зачастую спасти жизнь!!!</p>
                </div>
            </div>
            <div class="problems__list">
                <p>Тем не менее, большинство пациентов обращаются к нам с уже установленным диагнозом для лечения и реабилитации. И это неудивительно, поскольку немецкая медицина имеет ряд преимуществ:</p>
                <ul>
                    <li>новейшие методики</li>
                    <li>опытные высококвалифицированные врачи</li>
                    <li>уникальное оборудование, позволяющее проводить операции щадящими методами</li>
                    <li>высокие показатели эффективности проведенного лечения</li>
                    <li>низкий процент осложнений и рецидивов</li>
                    <li>комфортные условия пребывания в клиниках, порядок в больницах которым так славится Германия</li>
                    <li>оптимальное соотношение стоимости и качества медицинского обслуживания.</li>
                </ul>
            </div>
            <div class="organise__under">
                <p>Более подробно о возможностях немецкой медицины в отношении интересующей вас патологии можно прочитать в разделе «<a href="#">Направления</a>».
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mbox">
        <h2>Самый простой способ защитить себя - регулярная диагностика Check Up</h2>
        <div class="explanation__head">
            <p><span>Check Up – выбор стремящихся к здоровому долголетию</span> (средняя продолжительность жизни в странах, где население регулярно проходит профилактические обследования, на 10-15 лет выше, чем в странах СНГ)</p>
        </div>
        <div class="technologies__list">
            <ul>
                <li>ортопедия</li>
                <li>онкология</li>
            </ul>
            <ul>
                <li>реабилитация</li>
                <li>нейрохирургия</li>
            </ul>
            <ul>
                <li>кардиохирургия</li>
                <li>пластическая хирургия и др.</li>
            </ul>
            <ul>
                <li>акушерство и гинекология <br> <span>(в том числе, и новейшие репродуктивные технологии)</span></li>
            </ul>
        </div>

        <div class="easy">
            <div class="explanation__cols">
                <div class="explanation__left">
                    <div class="list__head">
                        Check up c Med-Kontakt
                    </div>
                    <ul>
                        <li>консультации по составлению индивидуального Check Up</li>
                        <li>помощь при выборе оптимально подходящего медицинского учреждения в Германии</li>
                        <li>услуги по организации поездки <span>(от визовой поддержки до бронирования номеров в отелях Германии)</span></li>
                    </ul>
                    <div class="list__head">
                        Кому необходимо
                    </div>
                    <p>Всем кто заботится о собственном здоровье и благополучии родных и близких</p>
                    <a href="#" class="button">Заказать check up</a>
                </div>
                <div class="explanation__right">
                    <div class="organise__text grey-bg">
                        <div class="list__head">
                            Что гарантирует
                        </div>
                        <p>100% точная диагностика заболевания на такой стадии развития, когда современная медицина гарантирует полноценное исцеление и возвращение к привычному ритму жизни</p>
                        <p>Без боли</p>
                        <p>Без значительных финансовых затрат</p>
                        <p>Без вреда для здоровья</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="grey-bg">
    <div class="mbox">
        <div class="doctors">
            <div class="doctors__head">
                <h2>наши врачи</h2>
                <a href="#" class="button">смотреть всех врачей</a>
            </div>
            <div class="doctors__list">
                <div class="doctor__wrap">
                    <a href="#" class="doctor doctor--white">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor doctor--white">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor doctor--white">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor doctor--white">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>


            </div>

        </div>
    </div>
</section>
<section>
    <div class="mbox">
        <div class="clinics">
            <div class="doctors__head">
                <h2>клиники</h2>
                <a href="#" class="button">смотреть все клиники</a>
            </div>
            <div class="clinics__list">
                <div class="clinic__col">
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                </div>
                <div class="clinic__col clinic__col--right">
                    <a href="#" class="clinic clinic--big">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic_2.png" alt="" data-object-fit="cover"></div>

                    </a>
                    <div class="clinic__about">
                        <div class="list__head">
                            <span>Название клиники</span>
                        </div>
                        <p>Наша клиника первичной медико-санитарной помощи и академических учебных больниц предлагает новейшие концепции лечения для каждого отдельного пациента в различных о....</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="grey-bg">
    <div class="mbox">
        <div class="callback">
            <div class="callback__col">
                <h2>Отзывы</h2>
                <div class="callback__list">
                    <div class="callback__item">
                        <div class="list__head">Лариса Ивановна, г. Воронеж, 65 лет</div>
                        <p>В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди, вторая стадия. Благодаря и В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди</p>
                    </div>
                    <div class="callback__item">
                        <div class="list__head">Лариса Ивановна, г. Воронеж, 65 лет</div>
                        <p>В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди, вторая стадия. Благодаря и В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди</p>
                    </div>
                    <a href="#" class="button button--simple">смотреть все отзывы</a>
                </div>

            </div>
            <div class="callback__col callback__col--right">
                <h2>Новости и статьи</h2>
                <div class="articles js-articles">
                    <div class="articles__slide">
                        <div class="articles__box">
                            <div class="articles__image">
                                <img src="images/demo/doc.png" alt="doc" data-object-fit="cover">
                            </div>

                            <div class="articles__short">
                                <div class="list__head">
                                    <a href="#">Название статьи</a>
                                </div>
                                <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                            </div>
                        </div>
                    </div>
                    <div class="articles__slide">
                        <div class="articles__box">
                            <div class="articles__image">
                                <img src="images/demo/doc.png" alt="doc" data-object-fit="cover">
                            </div>

                            <div class="articles__short">
                                <div class="list__head">
                                    <a href="#">Название статьи</a>
                                </div>
                                <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                            </div>
                        </div>
                    </div>
                    <div class="articles__slide">
                        <div class="articles__box">
                            <div class="articles__image">
                                <img src="images/demo/doc.png" alt="doc" data-object-fit="cover">
                            </div>

                            <div class="articles__short">
                                <div class="list__head">
                                    <a href="#">Название статьи</a>
                                </div>
                                <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="articles__buttons">
                    <a href="#" class="button button--simple">смотреть все статьи</a>
                    <div class="slider__mover">
                        <div class="slider__arrow js-left">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 20 15" preserveAspectRatio="xMinYMin slice">
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 20 8"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 8 1"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 8 15"></path>
                            </svg>
                        </div>
                        <div class="slider__counter slider__counter--black">
                            <div class="slider__number"><span>1</span></div>/
                            <div class="slider__count"><span>3</span></div>
                        </div>
                        <div class="slider__arrow slider__arrow--next js-right">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 20 15" preserveAspectRatio="xMinYMin slice">
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 20 8"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 20 8 L 11 1"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 20 8 L 11 15"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mbox">
        <div class="partners">
            <h2>наши партнеры</h2>
            <div class="partners__list">
                <a href="#" class="partners__item">
                    <img src="images/demo/partner_1.png" alt="">
                </a>
                <a href="#" class="partners__item">
                    <img src="images/demo/partner_2.png" alt="">
                </a>
                <a href="#" class="partners__item">
                    <img src="images/demo/partner_3.png" alt="">
                </a>
                <a href="#" class="partners__item">
                    <img src="images/demo/partner_4.png" alt="">
                </a>
                <a href="#" class="partners__item">
                    <img src="images/demo/partner_5.png" alt="">
                </a>
                <a href="#" class="partners__item">
                    <img src="images/demo/partner_6.png" alt="">
                </a>
                <a href="#" class="partners__item">
                    <img src="images/demo/partner_6.png" alt="">
                </a>
                <a href="#" class="partners__item">
                    <img src="images/demo/partner_1.png" alt="">
                </a>
                <a href="#" class="partners__item">
                    <img src="images/demo/partner_2.png" alt="">
                </a>
                <a href="#" class="partners__item">
                    <img src="images/demo/partner_3.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
