<div class="mbox">
    <div class="services">
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
    </div>
</div>
<section>
    <div class="mbox">
        <h2>Онкогинекология в Германии</h2>
        <div class="treatment">
            <div class="treatment__image">
                <img src="images/woman.png" alt="" data-object-fit="cover">
            </div>
            <div class="formed">
                <div class="formed__field">
                    <div class="treatment__info">
                        <p>Специалисты по гинекологической онкологии из мюнхенских специализированных клиник оказывают помощь женщинам по всем гинекологическим проблемам справляясь одинаково хорошо как с доброкачественными образованиями, так и злокачественными опухолями:
                        </p>

                        <div class="technologies__list">
                            <ul>
                                <li>Рак груди</li>
                            </ul>
                            <ul>
                                <li>Рак матки</li>
                            </ul>
                            <ul>
                                <li>Рак шейки матки</li>
                            </ul>
                            <ul>
                                <li>Рак яичников</li>
                            </ul>
                        </div>

                        <p>Объединившись специалисты различных клиник женского здоровья, диагностические центры, центры груди, клиники гинекологической хирургии, онкологи, радиологи предоставляют весь комплекс необходимых терапевтических мероприятий.
                        </p>

                        <div class="technologies__list">
                            <ul>
                                <li>Операции</li>
                            </ul>
                            <ul>
                                <li>Химиотерапия</li>
                            </ul>
                            <ul>
                                <li>Гормонотерапия</li>
                            </ul>
                            <ul>
                                <li>Лучевая терапия</li>
                            </ul>
                        </div>

                        <p>Обращаясь к нашим специалистам вы получаете индивидуально подобранные схемы лечения и в первую очередь человечный (индивидуальный) подход.
                        </p>

                    </div>
                </div>

                <div class="formed__ask">
                    <div class="form__headers">
                        <h2>узнать цену</h2>
                        <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
                    </div>
                    <form action="#">
                        <div class="form__col form__col--full">
                            <input type="text" placeholder="ваше имя">
                        </div>
                        <div class="form__col form__col--full">
                            <input type="text" placeholder="ваш телефон">
                        </div>
                        <div class="form__col form__col--full">
                            <button type="submit" class="button button--big">узнать цену</button>
                        </div>
                        <div class="form__col form__col--full">
                            <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <div class="doctors">
            <div class="doctors__head">
                <h2>наши врачи</h2>
                <a href="#" class="button">смотреть всех врачей</a>
            </div>
            <div class="doctors__list">
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>


            </div>

        </div>
    </div>
</section>
<section>
    <div class="mbox">
        <div class="clinics">
            <div class="doctors__head">
                <h2>клиники</h2>
                <a href="#" class="button">смотреть все клиники</a>
            </div>
            <div class="clinics__list clinics__list--clear">
                <div class="clinic__col clinic__col--full">
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

