<section>
    <div class="mbox">
        <h2>Рак груди (рак молочной железы): лечение в Германии</h2>
        <div class="treatment">
            <div class="treatment__image">
                <img src="images/demo/woman.png" alt="" data-object-fit="cover">
            </div>
            <div class="formed">
                <div class="formed__field">

                    <div class="treatment__info">
                        <h2>Операция при раке молочной железы в Германии</h2>
                        <h3>Выбор метода хирургического вмешательства при раке груди в Германии</h3>
                        <p>Хирургическая операция – основной метод лечения рака груди. При этом объем оперативного вмешательства определяется целым рядом факторов, таких как: </p>

                        <ul>
                            <li>клиническая форма (узловая, воспалительная, рак протоков (рак Педжета) и др.);</li>
                            <li>локализация опухоли</li>
                            <li>распространенность опухолевого процесса</li>
                            <li>величина злокачественного новообразовани</li>
                            <li>происхождение и степень дифференцировки опухолевых клеток</li>
                            <li>наличие осложнений опухолевого процесса (очаги воспаления</li>
                            <li>возраст и общее состояние пациентки.</li>
                        </ul>
                    </div>
                </div>

                <div class="formed__ask">
                    <div class="form__headers">
                        <h2>узнать цену</h2>
                        <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
                    </div>

                    <form action="#">
                        <div class="form__col form__col--full">
                            <input type="text" placeholder="ваше имя">
                        </div>
                        <div class="form__col form__col--full">
                            <input type="text" placeholder="ваш телефон">
                        </div>
                        <div class="form__col form__col--full">
                            <button type="submit" class="button button--big">узнать цену</button>
                        </div>
                        <div class="form__col form__col--full">
                            <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                        </div>
                    </form>
                </div>
            </div>
           <p> На ранних стадиях заболевания возможно проведение органосохраняющих операций (удаление опухоли в пределах здоровых тканей или лампэктомия), которое по показаниям может дополняться удалением лимфатических узлов и консервативной (лучевой) терапией.</p>

           <p> На второй-третьей стадии заболевания показаны радикальные операции по удалению пораженной молочной железы с близлежащими лимфатическими узлами, которые, как правило, дополняются консервативной терапией. После такого рода операций показано протезирование груди и курсы реабилитации.</p>

           <p> На стадии распространенного процесса проводятся паллиативные операции, которые не преследуют цель радикально уничтожить раковый процесс, однако снижают массу опухолевой ткани, устраняют риск развития смертельно опасных осложнений, снимают симптомы раковой интоксикации, продляют жизнь пациентки и значительно улучшают ее качество.</p>

        </div>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <div class="usage">
            <div class="usage__fat">
                <div class="usage__list usage__list--left">
                    <h2>Органосохраняющие операции (лампэктомия)</h2>
                    <p>На ранних стадиях развития опухоли в 70% случаев немецким хирургам удается провести органосберегающую операцию. В странах СНГ такие хирургические вмешательства проводят намного реже.</p>

                    <p>Дело в том, что в онкологических клиниках Германии распространен такой метод как изучение срезов тканей во время проведения операции при помощи специального микроскопа. Подобный подход позволяет максимально сохранить здоровые ткани без риска развития рецидивов. Чтобы форма груди не пострадала, одномоментно с удалением опухоли производится пластическая коррекция молочной железы.</p>

                    <p>Рак груди – опухоль, склонная к рецидивам. Поэтому лампэктомию как самостоятельный метод в основном используют только на самой ранней (0) стадии заболевания. Такую патологию можно обнаружить только во время скрининговых обследований. В остальных случаях органосохраняющие операции, как правило, дополняют консервативной лучевой терапией (внешнее облучение для уничтожения раковых клеток, которые могли остаться в тканях железы).</p>


                </div>
            </div>
            <div class="usage__thin">
                <div class="usage__photo">
                    <img src="images/demo/brest.png" alt="w">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mbox">
        <div class="usage">
            <div class="usage__thin">
                <div class="usage__photo">
                    <img src="images/demo/brest_2.png" alt="Doc">
                </div>
            </div>
            <div class="usage__fat">
                <div class="usage__list">
                    <h2>Радикальная мастэктомия и операции протезирования при раке молочной железы</h2>
                    <p>Радикальная мастэктомия – операция, подразумевающая полное удаление молочной железы. Это значительно более травмирующее вмешательство, решение о котором врачи принимают врачи в тех случаях, когда сохранение молочной железы нецелесообразно с эстетической точки зрения (большие размеры новообразования, предполагающие возникновение значительного дефекта ткани после проведения лампэктомии) и/или по причине высокого риска развития рецидивов.</p>

                   <p> К преимуществам данного вида вмешательства следует отнести его радикальность, позволяющую в ряде случаев обойтись без назначения дополнительной консервативной терапии, а также низкий риск развития рецидивов заболевания.</p>

                    <p>Сегодня в Германии используется достаточное количество методик протезирования груди, в том числе и операции одномоментной имплантации протеза во время операции по удалению пораженной раком молочной железы. Такого рода протезирование не влияет на возможность проведения послеоперационной консервативной терапии.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <h2>Удаление сторожевых лимфатических узлов</h2>
        <div class="organise organise__change">
            <div class="organise__right organise__right--padded">
               <p> Основная причина рецидивов рака молочной железы – ускользнувшие от скальпеля хирурга клетки опухоли. К сожалению, даже радикальная мастэктомия не дает полной гарантии такого печального развития событий.</p>

                <p>Дело в том, что раковые клетки имеют способность отрываться от материнского очага и с током межтканевой жидкости поступать в лимфатические узлы. Поэтому в свое время общепризнанной практикой при раке молочной железы было удаление всех близлежащих лимфатических узлов.</p>

               <p> Однако подобная операция имеет следующие недостатки. Полное удаление лимфатических узлов приводит к нарушению лифооттока от верхней конечности, в результате нередко развивается хронический отек (лимфома) прооперированной руки. С другой стороны, подмышечные лимфоузлы – основной, однако не единственный путь распространения злокачественных клеток. Поэтому даже такая калечащая операция не давала абсолютной гарантии биологического выздоровления от рака молочной железы.</p>

               <p> Сегодня в онкологических центрах Германии для определения объема операции проводится биопсия сторожевых лимфоузлов, то есть именно тех лимфатических коллекторов, в которые происходит отток межтканевой жидкости от пораженного опухолью участка.</p>

            </div>
            <div class="organise__text organise__text--white">
                <p>Подобная процедура в более чем 60% случаев позволяет обойтись без полного удаления подмышечных узлов – в тех случаях, когда в сторожевых лимфоузлах не обанаруживают метастатические очаги, расширенное вмешательство не проводят, а пациентка получает информацию, что ее шансы на полное исцеление достаточно высоки.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mbox">
        <h2>Услуга «второе мнение» - простые вещи спасают жизнь</h2>
        <h3>заочная консультация немецкого профессионала по предоставленным медицинским документам (результаты анализов, сведения о назначенном лечении)</h3>
        <div class="formed">
            <div class="formed__field">
                <div class="formed__cols">
                    <div class="formed__bonuses">
                        <div class="list__head">
                            <span>Когда это необходимо</span>
                        </div>
                        <ul>
                            <li>помощь в выборе оптимального для каждого конкретного случая варианта клиники и лечащего врача</li>
                            <li>консультации по экономии бюджета на лечение</li>
                            <li>перевод медицинских документов</li>
                            <li>помощь в оформление визы</li>
                            <li>организация перелета и проживания</li>
                            <li>информационная поддержка</li>
                        </ul>
                    </div>
                    <div class="formed__bonuses">
                        <div class="list__head">
                            <span>Ваши преимущества</span>
                        </div>
                        <ul>
                            <li>оптимальное соотношение по шкале цена/качество медицинского обслуживания</li>
                            <li>быстро</li>
                            <li>надежно</li>
                            <li>эффективно</li>
                            <li>доступно</li>
                            <li>комфортно</li>
                        </ul>
                    </div>
                </div>
                <p>Оплата наших услуг производится уже в Германии, но работать мы начинаем сразу же после получения вашей заявки</p>
            </div>
            <div class="formed__ask">
                <div class="form__headers">
                    <h2>узнать цену</h2>
                    <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
                </div>

                <form action="#">
                    <div class="form__col form__col--full">
                        <input type="text" placeholder="ваше имя">
                    </div>
                    <div class="form__col form__col--full">
                        <input type="text" placeholder="ваш телефон">
                    </div>
                    <div class="form__col form__col--full">
                        <button type="submit" class="button button--big">узнать цену</button>
                    </div>
                    <div class="form__col form__col--full">
                        <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <div class="technologies">
            <h2>Консервативная терапия рака молочной железы в Германии</h2>
            <p>На первой-третьей стадии развития процесса консервативная терапия используется как вспомогательный метод лечения, позволяющий уменьшить объем опухолевой ткани перед проведением операции (неоадъювантная терапия) и/или снизить риск развития рецидивов после проведения хирургического вмешательства (адъювантная или послеоперационная консервативная терапия). </p>
            <p>В онкологических клиниках Германии широко используются следующие методы консервативной противоопухолевой терапии:</p>
            <div class="technologies__list">
                <ul>
                    <li>лучевая терапия</li>
                </ul>
                <ul>
                    <li>химиотерапия</li>
                </ul>
                <ul>
                    <li>гормональная терапия</li>
                </ul>
                <ul>
                    <li>иммунотерапия</li>
                </ul>
            </div>
            <p>Данные методы могут использоваться в комбинации с хирургическим вмешательством, а на стадии распространенного процесса как основной метод сдерживания прогрессии опухолевого роста.</p>

            <p>Важное преимущество консервативного лечения рака молочной железы в Германии – это новейшие методы определения чувствительности опухолевых клеток к использованию различных методов лечения. Такой подход позволяет избежать неадекватного назначения небезразличных для здоровья пациентки препаратов.</p>
            <p>В немецких клиниках используются исключительно высококачественные оригинальные препараты, поэтому эффективность лечения достаточно высока.</p>
            <p>Многие пациенты обращаются в Германию на последней стадии развития процесса, когда метастатические очаги обнаруживаются в отдаленных органах и тканях (головной мозг, печень, легкие). В таких случаях продлить жизнь пациентки и повысить ее качество могут ультрасовременные методы радиохирургии (кибер-нож, протонная терапия и др.).</p>
        </div>
    </div>
</section>
<section>
    <div class="mbox">
        <div class="technologies">
            <h2>Что надо знать о диагностике рака молочной железы в Германии </h2>
            <h3>1.    Верификация диагноза</h3>
            <p>Преимущественное большинство пациентов приезжают в онкологические центры Германии с уже установленным диагнозом. В таких случаях необходимо захватить все имеющиеся медицинские документы с результатами анализов, а также «стеклышки» биопсии для верификации (подтверждения) диагноза. </p>
            <p>Однако следует быть готовым к тому, что преимущественное большинство обследований придется пройти заново, поскольку этого требует законодательство Германии. Как правило, список диагностических процедур при раке молочной железы включает следующие исследования: </p>
            <div class="technologies__list">
                <ul>
                    <li>консультативный осмотр</li>
                </ul>
                <ul>
                    <li>лабораторные анализы и тесты</li>
                </ul>
                <ul>
                    <li>УЗИ, КТ или МРТ молочной железы</li>
                </ul>
                <ul>
                    <li>сканирование организма на метастазы (ПЭТ) </li>
                </ul>
                <ul>
                    <li>ревизия биопсии</li>
                </ul>
            </div>
            <h3>2.    Опыт немецких клиницистов по верификации диагноза пациентов из стран СНГ </h3>
            <p>Сегодня в немецких онкологических центрах уже накоплен достаточно большой опыт по верификации диагнозов у пациентов из стран СНГ. К сожалению, именно в области онкологии отечественные доктора допускают наибольшее количество ошибок, которые могут касаться как природы опухоли (характер новообразования, его чувствительность к различным методам терапии), так и выбора оптимальной тактики медицинских мероприятий. Поэтому мы советуем всем нашим читателям использовать удобную и доступную в финансовом отношении услугу «второе мнение» </p>
        </div>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <h2>Как с комфортом воспользоваться всеми преимуществами немецкой медицины</h2>
        <p>Лечение в Германии с Med-Kontakt: мы работаем, вы занимаетесь восстановлением своего здоровья </p>
        <div class="formed">
            <div class="formed__field">
                <div class="formed__cols">
                    <div class="formed__bonuses">
                        <div class="list__head">
                            <span>Наши услуги </span>
                        </div>
                        <ul>
                            <li>помощь в выборе оптимального для каждого конкретного случая варианта клиники и лечащего врача </li>
                            <li>консультации по экономии бюджета на лечение </li>
                            <li>перевод медицинских документов</li>
                            <li>помощь в оформление визы </li>
                            <li>организация перелета и проживания</li>
                            <li>информационная поддержка</li>
                        </ul>
                    </div>
                    <div class="formed__bonuses">
                        <div class="list__head">
                            <span>Ваши преимущества </span>
                        </div>
                        <ul>
                            <li>оптимальное соотношение по шкале цена/качество медицинского обслуживания</li>
                            <li>быстро</li>
                            <li>надежно</li>
                            <li>эффективно</li>
                            <li>доступно</li>
                            <li>комфортно</li>
                        </ul>
                    </div>
                </div>
                <p>Оплата наших услуг производится уже в Германии, но работать мы начинаем сразу же после получения вашей заявки </p>
            </div>
            <div class="formed__ask formed__ask--white">
                <div class="form__headers">
                    <h2>узнать цену</h2>
                    <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
                </div>

                <form action="#">
                    <div class="form__col form__col--full">
                        <input type="text" placeholder="ваше имя">
                    </div>
                    <div class="form__col form__col--full">
                        <input type="text" placeholder="ваш телефон">
                    </div>
                    <div class="form__col form__col--full">
                        <button type="submit" class="button button--big">узнать цену</button>
                    </div>
                    <div class="form__col form__col--full">
                        <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="mbox">
        <div class="organisation">
            <h2>Прогноз при лечении рака молочной железы в Германии</h2>
            <p>Прогноз при лечении начальных стадий рака груди в Германии вполне благоприятный (около 95%). Однако многие пациенты приезжают в немецкие онкологические клиники на третьей-четвертой стадии развития процесса, а также при рецидивах уже прооперированной опухоли.</p>

            <p>В таких случаях прогноз значительно хуже, нередко речь идет уже не о полноценном исцелении, а лишь о сдерживании прогрессирующего опухолевого роста. Тем не менее, современная медицина Германии имеет достаточно средств, чтобы на любой стадии процесса стабилизировать состояние больного, устранить болевой синдром, снять симптомы раковой интоксикации, продлить жизнь и значительно улучшить ее качество.</p>

            <p>Показатели эффективности лечения в немецких клиниках, значительно выше, чем в медицинских учреждениях стран СНГ, более того, они выше, чем в среднем по ЕС. Поэтому, обращаясь за помощью к немецкой медицине, вы значительно повышаете свои шансы на излечение.</p>
        </div>
    </div>
</section>
<section class="grey-bg">
    //= ../partials/cost.html
</section>
<section>
    <div class="mbox">
        <div class="doctors">
            <div class="doctors__head">
                <h2>Наши специалисты</h2>
                <a href="#" class="button">записаться к врачу</a>
            </div>
            <div class="doctors__list">
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="doctor__wrap">
                    <a href="#" class="doctor">
                        <div class="doctor__item">
                            <div class="doctor__image">
                                <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                            </div>
                            <div class="doctor__text">
                                <div class="doctor__name">Название врача</div>
                                <div class="doctor__position">Должность</div>
                                <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                            </div>

                        </div>
                    </a>
                </div>


            </div>

        </div>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <h2>Ответы на наиболее популярные вопросы о раке молочной железы</h2>
        <div class="more">
            <div class="more__item">
                <div class="more__head">
                    У меня очень неблагоприятная наследственность в отношении рака груди, что делать?
                    <div class="more__button js-ask"> </div>
                </div>
                <div class="more__text">
                    <p> Неблагоприятная наследственность – не приговор. Достаточно лишь регулярно проходить профилактические обследования, чтобы обнаружить злокачественное новообразование на такой стадии развития, когда для быстрого и полноценного исцеления понадобиться лишь сохраняющая грудь операция (лампэктомия). </p>
                </div>
            </div>
            <div class="more__item">
                <div class="more__head">
                    Какие существуют факторы риска развития рака молочной железы кроме генетической предрасположенности
                    <div class="more__button js-ask"> </div>
                </div>
                <div class="more__text">
                    <p> Неблагоприятная наследственность – не приговор. Достаточно лишь регулярно проходить профилактические обследования, чтобы обнаружить злокачественное новообразование на такой стадии развития, когда для быстрого и полноценного исцеления понадобиться лишь сохраняющая грудь операция (лампэктомия). </p>
                </div>
            </div>
            <div class="more__item">
                <div class="more__head">
                    Можно ли обнаружить рак молочной железы самостоятельно?
                    <div class="more__button js-ask"> </div>
                </div>
                <div class="more__text">
                    <p> Неблагоприятная наследственность – не приговор. Достаточно лишь регулярно проходить профилактические обследования, чтобы обнаружить злокачественное новообразование на такой стадии развития, когда для быстрого и полноценного исцеления понадобиться лишь сохраняющая грудь операция (лампэктомия). </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mbox">
        <div class="clinics">
            <div class="doctors__head">
                <h2>клиники</h2>
                <a href="#" class="button">смотреть все клиники</a>
            </div>
            <div class="clinics__list clinics__list--clear">
                <div class="clinic__col clinic__col--full">
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                    <a href="#" class="clinic">
                        <div class="clinic__shadow"></div>
                        <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                        <div class="clinic__text">Клиника красного креста Мюнхен </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <div class="callback">
            <div class="callback__col">
                <h2>Отзывы</h2>
                <div class="callback__list">
                    <div class="callback__item">
                        <div class="list__head">Лариса Ивановна, г. Воронеж, 65 лет</div>
                        <p>В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди, вторая стадия. Благодаря и В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди</p>
                    </div>
                    <div class="callback__item">
                        <div class="list__head">Лариса Ивановна, г. Воронеж, 65 лет</div>
                        <p>В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди, вторая стадия. Благодаря и В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди</p>
                    </div>
                    <a href="#" class="button button--simple">смотреть все отзывы</a>
                </div>

            </div>
            <div class="callback__col callback__col--right">
                <h2>Новости и статьи</h2>
                <div class="articles js-articles">
                    <div class="articles__slide">
                        <div class="articles__box">
                            <div class="articles__image">
                                <img src="images/demo/doc.png" alt="doc" data-object-fit="cover">
                            </div>

                            <div class="articles__short">
                                <div class="list__head">
                                    <a href="#">Название статьи</a>
                                </div>
                                <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                            </div>
                        </div>
                    </div>
                    <div class="articles__slide">
                        <div class="articles__box">
                            <div class="articles__image">
                                <img src="images/demo/doc.png" alt="doc" data-object-fit="cover">
                            </div>

                            <div class="articles__short">
                                <div class="list__head">
                                    <a href="#">Название статьи</a>
                                </div>
                                <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                            </div>
                        </div>
                    </div>
                    <div class="articles__slide">
                        <div class="articles__box">
                            <div class="articles__image">
                                <img src="images/demo/doc.png" alt="doc" data-object-fit="cover">
                            </div>

                            <div class="articles__short">
                                <div class="list__head">
                                    <a href="#">Название статьи</a>
                                </div>
                                <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="articles__buttons">
                    <a href="#" class="button button--simple">смотреть все статьи</a>
                    <div class="slider__mover">
                        <div class="slider__arrow js-left">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 20 15" preserveAspectRatio="xMinYMin slice">
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 20 8"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 8 1"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 8 15"></path>
                            </svg>
                        </div>
                        <div class="slider__counter slider__counter--black">
                            <div class="slider__number"><span>1</span></div>/
                            <div class="slider__count"><span>3</span></div>
                        </div>
                        <div class="slider__arrow slider__arrow--next js-right">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 20 15" preserveAspectRatio="xMinYMin slice">
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 1 8 L 20 8"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 20 8 L 11 1"></path>
                                <path stroke="#BE9D86" stroke-width="2" fill="none" d="M 20 8 L 11 15"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
