<div class="mbox">
    <div class="services">
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
        <a href="#" class="services__item">
            <div class="services__img">
                <svg  width="26" height="26">
                    <use xlink:href="#list"></use>
                </svg>
            </div>
            <div class="services__text">Диагноз</div>
        </a>
    </div>
</div>
<section>
    <div class="mbox">
        <h2>Лечение онкологии в клиниках Германии</h2>
        <div class="treatment">
            <div class="treatment__image">
                <img src="images/demo/woman.png" alt="" data-object-fit="cover">
            </div>
            <h2>Преимущества лечения онкологии в клиниках Германии</h2>
            <div class="formed">
                <div class="formed__field">
                    <div class="treatment__info">
                        <h3>Онкология – приоритетное направление немецкой медицины</h3>

                        <p>В Оксфордском университете было проведено исследование, которое подтвердило, что немецкие клиники занимают первое место среди стран Европейского Союза по совокупным расходам в области онкологии. Государство щедро спонсирует масштабные профилактические мероприятия, а также выделяет гигантские средства на проведение научных исследований.</p>

                        <p> Поэтому немецкая онкология занимает ведущие позиции. Достаточно сказать, что в текущем тысячелетии в области онкологии была присуждена лишь одна Нобелевская премия – и она принадлежит немецкому ученому Харальду цур Хаузену (открытие вируса, вызывающего развитие рака шейки матки (вирус папилломы человека, ВПЧ) 2008 год).</p>

                        <p>  Прогресс немецкой онкологии во многом связан с быстрым внедрением научных разработок в клиническую практику. Преимущественное большинство врачей-онкологов занимается научной деятельностью, а многие клиники изначально основаны при университетах и научных онкологических центрах.</p>

                        <p>Отдельно следует сказать о достижениях немецкой медицинской техники, которая является базой и для научных открытий, и для их практической реализации. Всемирно известные немецкие фирмы, такие как SIEMENS, BOSH, NOVARTIS, BAYERN, STADA, HEXAL, ROCHE, RATIOPHARM и другие конкурируют за лидерство, вкладывают громадные инвестиции в исследования в области развития оборудования онкологического профиля.</p>
                    </div>
                </div>

                <div class="formed__ask">
                    <div class="form__headers">
                        <h2>узнать цену</h2>
                        <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
                    </div>

                    <form action="#">
                        <div class="form__col form__col--full">
                            <input type="text" placeholder="ваше имя">
                        </div>
                        <div class="form__col form__col--full">
                            <input type="text" placeholder="ваш телефон">
                        </div>
                        <div class="form__col form__col--full">
                            <button type="submit" class="button button--big">узнать цену</button>
                        </div>
                        <div class="form__col form__col--full">
                            <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</section>
<section class="grey-bg">
    <div class="mbox">
        <div class="usage">
            <div class="usage__fat">
                <div class="usage__list usage__list--left">
                    <h2>Германия – один из мировых лидеров в области диагностики, лечения и профилактики онкологических заболеваний</h2>
                    <p>Сегодня мы можем сказать, что вложения в онкологию дают видимые и весомые результаты. Германия – один из мировых лидеров в области диагностики и лечения онкологических заболеваний по таким показателям как:
                    </p>


                    <ul>
                        <li>точность диагностики</li>
                        <li>пятилетняя выживаемость онкологических пациентов после проведенных операций</li>
                        <li>продолжительность ремиссии после проведения курса химиотерапии</li>
                        <li>общая продолжительность жизни больного после установления диагноза злокачественного заболевания.</li>
                    </ul>
                    <p> Поэтому лечить онкологические заболевания в немецкие клиники приезжают пациенты из разных стран мира, в том числе и из стран бывшего СССР, где медицина, к сожалению, находится на значительно более низком уровне развития.
                    </p>
                </div>
            </div>
            <div class="usage__thin">
                <div class="usage__photo">
                    <img src="images/demo/woman_2.png" alt="w">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mbox">
        <h2>Соотношение цены и качества медицинских услуг в немецких онкологических клиниках</h2>
        <p>Заоблачные цены на лечение онкологии в Германии – один из наиболее распространенных мифов о немецкой медицине. На самом деле стоимость медицинских услуг в онкологических клиниках Германии значительно ниже, чем, к примеру, в США и вполне сопоставима с ценами частных онкологических центров Москвы.
        </p>
        <div class="technologies__list">
            <ul>
                <li>безукоризненно точная диагностика </li>
                <li>щадящие методы проведения операций (малоинвазивная хирургия, радиохирургия)</li>
            </ul>
            <ul>
                <li>новейшие методы лечения онкологических заболеваний </li>
                <li>» высококачественные медицинские препараты и материалы</li>
            </ul>
            <ul>
                <li>опытные высококвалифицированные врачи</li>
                <li>дисциплинированный доброжелательный персонал</li>
            </ul>
            <ul>
                <li>роботизированные технологии и компьютерная навигация</li>
                <li>комфортные условия пребывания в клинике</li>
            </ul>
        </div>
        <p>Таким образом, обращаясь за помощью в немецкие онкологические клиники, пациенты получают оптимальное соотношение цены и качества медицинского обслуживания. Что касается стоимости лечения, то в каждом конкретном случае она определяется индивидуально в зависимости от программы диагностических, лечебных и реабилитационных мероприятий, количества дней проведенных в клинике и т.п.
        </p>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <h2>Как с комфортом воспользоваться всеми преимуществами немецкой медицины</h2>
        <p>Лечение в Германии с Med-Kontakt: мы работаем, вы занимаетесь восстановлением своего здоровья </p>
        <div class="formed">
            <div class="formed__field">
                <div class="formed__cols">
                    <div class="formed__bonuses">
                        <div class="list__head">
                            <span>Наши услуги </span>
                        </div>
                        <ul>
                            <li>помощь в выборе оптимального для каждого конкретного случая варианта клиники и лечащего врача </li>
                            <li>консультации по экономии бюджета на лечение </li>
                            <li>перевод медицинских документов</li>
                            <li>помощь в оформление визы </li>
                            <li>организация перелета и проживания</li>
                            <li>информационная поддержка</li>
                        </ul>
                    </div>
                    <div class="formed__bonuses">
                        <div class="list__head">
                            <span>Ваши преимущества </span>
                        </div>
                        <ul>
                            <li>оптимальное соотношение по шкале цена/качество медицинского обслуживания</li>
                            <li>быстро</li>
                            <li>надежно</li>
                            <li>эффективно</li>
                            <li>доступно</li>
                            <li>комфортно</li>
                        </ul>
                    </div>
                </div>
                <p>Оплата наших услуг производится уже в Германии, но работать мы начинаем сразу же после получения вашей заявки </p>
            </div>
            <div class="formed__ask formed__ask--white">
                <div class="form__headers">
                    <h2>узнать цену</h2>
                    <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
                </div>
                <form action="#">
                    <div class="form__col form__col--full">
                        <input type="text" placeholder="ваше имя">
                    </div>
                    <div class="form__col form__col--full">
                        <input type="text" placeholder="ваш телефон">
                    </div>
                    <div class="form__col form__col--full">
                        <button type="submit" class="button button--big">узнать цену</button>
                    </div>
                    <div class="form__col form__col--full">
                        <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="mbox">
        <h2>Диагностика рака и других злокачественных новообразований в Германии</h2>
        <h3>Диагностическое обследование перед проведением лечения </h3>
       <p> Многие пациенты приезжают в клиники Германии для лечения рака или другого онкологического заболевания с уже установленным развернутым диагнозом патологии. В таких случаях следует взять с собой все имеющиеся медицинские документы о проведенных обследованиях и лечении – это значительно сократит диагностический поиск. Однако следует быть готовым к тому, что назначение полноценного лечения потребует проведения дополнительных диагностических процедур.</p>

       <p> В преимущественном большинстве случаев, список обследований минимален и включает подтверждение гистологии (обязательно возьмите с собой «стеклышки»), КТ или МРТ, лабораторные анализы и тесты. При подозрении на распространенный процесс проводят сканирование тела на метастазы, а при назначении некоторых химиопрепаратов специальные тесты на чувствительность опухоли к их воздействию и т.п.</p>

        <h3>Почему необходима дополнительная диагностика в Германии или какие ошибки чаще всего совершают отечественные хирурги </h3>
        <p>Кроме того, многие больные обращаются в онкологические клиники Германии по услуге «второе мнение» – для проверки правильности установленного диагноза и адекватности назначенного лечения.</p>

         <p>Данная услуга привлекает своей бюджетностью. Вам не придется тратить деньги на переезд или дополнительные обследования – достаточно лишь переслать имеющиеся медицинские документы.
        </p>
        <p>Надо сказать, что у немецких онкологов накопился достаточный опыт работы по оказанию услуги второе мнение. Безусловно, в странах СНГ много хороших врачей, тем не менее, довольно часто приходиться сталкиваться со следующими ошибками:</p>
        <ul>
            <li>ошибки при установке диагноза</li>
            <li>ошибки при определении стадии заболевания</li>
            <li>ошибки при составлении плана диагностических обследований (к примеру, в некоторых случаях необходимо определять чувствительность опухоли к назначаемым препаратам, но предписанные обследования не проводятся)</li>
            <li>неадекватно назначенное лечение (схемы назначаемых препаратов не соответствуют международным стандартам и т.п.).</li>
        </ul>
        <p>Поэтому мы рекомендуем всем пациентам, которым был установлен диагноз злокачественной опухоли, использовать услугу «второе мнение», цена которой вполне доступна.
        </p>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <h2>Хирургическое лечение онкологии в Германии</h2>
        <h3>Хирургическое лечение онкологии на ранних стадиях развития  </h3>
        <p>На ранних стадиях хирургическое лечение онкологии в Германии проводится максимально щадящими методами, которые позволяют провести радикальную операцию при минимальном вреде для здоровых тканей.</p>

       <p> К таким методикам относятся эндоскопические, лапароскопические и торакоскопические операции (через небольшие проколы в брюшной или грудной полости вводят зонд с оптическим волокном и микрохирургические инструменты, с помощью которых удаляют опухоль).</p>

      <p>  В немецких онкологических клиниках широко используются роботизированные технологии (система Да Винчи), а также новейшие методы радикального удаления опухоли при помощи физических факторов, в том числе:</p>
        <ul>
           <li> радиохирургическая роботизированная система кибер-нож, способная облучать опухоль с 1800 позиций (компьютер ежесекундно отслеживает положение патологического очага, что позволяет проводить операции на легких и других движущихся органах);</li>
            <li>HIFU – разрушение опухоли ультразвуком под контролем компьютера (погрешность попадания смертоносного для опухоли луча составляет всего несколько клеток).</li>
        </ul>
        <h3>Хирургическое лечение рака и других злокачественных заболеваний на развернутой стадии развития </h3>
        <p>На более поздних стадиях развития заболевания хирургическое вмешательство комбинируют с консервативными методами лечения (химиотерапия, гормонотерапия, лучевая терапия и т.п.). Предоперационный курс консервативного терапии опухоли позволяет:
        </p>
        <ul>
            <li>уменьшить размеры новообразования, а, следовательно, и объем хирургического вмешательства;</li>
            <li>снизить риск развития рецидивов;</li>
            <li>уменьшить риск метастазирования опухоли.</li>
        </ul>
        <p>Постоперационные курсы консервативной терапии онкологических заболеваний проводятся для снижения риска развития рецидивов, а также в тех случаях, когда есть подозрение на недиагностированные отдаленные метастазы опухоли.
        </p>
    </div>
</section>
<section>
    <div class="mbox">
        <h2>Консервативное лечение онкологии в Германии</h2>
        <p>К консервативным методам лечения онкологических заболеваний следует отнести: </p>
        <div class="technologies__list">
            <ul>
                <li>химиотерапию</li>
            </ul>
            <ul>
                <li>лучевую терапию</li>
            </ul>
            <ul>
                <li>гормональную терапию</li>
            </ul>
            <ul>
                <li>иммунную терапию</li>
            </ul>
        </div>
        <p>Сегодня немецкие врачи делают все возможное, чтобы уничтожить опухоль, не причиняя вреда здоровым тканям. Так, на ранних стадиях развития онкологической патологии в немецких клиниках используют протонную лучевую терапию (пучки протонов тормозятся в области очага, что позволяет целенаправленно уничтожить опухоль, не причинив ни малейшего вреда окружающим тканям).
        </p>
        <p>
            Чтобы уменьшить влияние химических препаратов на организм, немецкие онкологи используют внутриартериальное введение препарата непосредственно в сосуд питающий опухоль.
        </p>
        <p>
            При системных поражениях (множественные метастазы в разных органах) немецкие врачи используют специально выращенные в пробирке моноклональные антитела, которые самостоятельно находят и уничтожают клетки опухоли.
        </p>
        <p>Достаточно обнадеживающие результаты получены при лечении распространенных злокачественных опухолей методом таргентной терапии (использование химических препаратов, целенаправленно уничтожающих клетки опухоли), а также новейшими методами радиоимунной терапии (моноклональные антитела доставляют в патологические очаги радиоактивные изотопы).
        </p>
        <p>Более подробно о методах лечения конкретных заболеваний вы можете прочитать в соответствующих статьях данного раздела.
        </p>
    </div>
</section>
<section class="grey-bg">
    <div class="mbox">
        <div class="usage">
            <div class="usage__fat">
                <div class="usage__list usage__list--left">
                    <h2>Как пройти диагностику и лечение онкологии в Германии</h2>
                    <p>Если вас заинтересовала возможность диагностики и/или лечения в Германии, достаточно лишь заполнить заявку на нашем сайте, указав всю необходимую информацию. Мы обязательно свяжемся с вами, чтобы решить все проблемы, в том числе:
                    </p>
                    <ul>
                        <li>перевод медицинской документации на немецкий язык</li>
                        <li>выбор наиболее подходящей клиники и лечащего врача</li>
                        <li>оформление визы</li>
                        <li>трансфер из аеропорта в клинику</li>
                        <li>проживание в гостинице и т.п.</li>
                    </ul>
                </div>
            </div>
            <div class="usage__thin">
                <div class="usage__photo">
                    <img src="images/demo/woman_2.png" alt="w">
                </div>
            </div>
        </div>
    </div>
</section>
