<section>
    <div class="mbox policy">
        <h2 class="policy__title">политика конфиденциальности</h2>
        <div class="policy__wrapper">
            <div class="policy__item">
                <h3 class="policy__item-title">1. Общие положения</h3>
                <p class="policy__item-text">1.1 Настоящее Пользовательское соглашение (далее – Соглашение) заключается между V - InterMed GbR (Alfred- Schmidt- str. 12, 81379 München Налоговый номер 148 / 170 /31596), именуемым в дальнейшем Администрация и любым лицом, использующим интернет-сайт <a href="https://med-kontakt.ru">https://med-kontakt.ru</a> (далее – Сайт), именуемым в дальнейшем Пользователь и определяет условия, ограничения и гарантии при использовании Сайта.</p>
                <p class="policy__item-text">1.2 Использование Сайта, в том числе его просмотр, поиск информации, использование сервисов, возможно только при условии полного и безоговорочного принятия условий настоящей оферты в форме, установленной настоящим Соглашением.</p>
                <p class="policy__item-text">1.3. При несогласии с условиями настоящего Соглашения Пользователь обязан немедленно прекратить использование Сайта.</p>
                <p class="policy__item-text">1.4 Акцепт Политики в безусловной степени свидетельствует о намерении, волеизъявлении, желании и согласии Посетителя соблюдать и исполнять условия настоящей Политики.</p>
            </div>
            <div class="policy__item">
                <h3 class="policy__item-title">2. Описание услуг</h3>
                <p class="policy__item-text">2.1. Сайт является информационным сервисом, предназначенным для поиска врачей и/или медицинских учреждений требуемой специализации, квалификации, а так же необходимых услуг по сопровождению на территории Германии.</p>
                <p class="policy__item-text">2.2. Информация о врачах и / или медицинских учреждениях, размещаемая на Сайте, может быть получена Администрацией непосредственно от медицинских учреждений, самих врачей либо из иных заслуживающих доверия источников. Администрация принимает меры по проверке данной информации и исключению недостоверных сведений, а также сведений, на размещение которых не получено согласие врачей и / или медицинских учреждений.</p>
            </div>
            <div class="policy__item">
                <h3 class="policy__item-title">3. Источники получения информации о посетителях</h3>
                <div class="policy__list-wrapper">
                    <p class="policy__item-text">3.1. Получение информации о Посетителях осуществляется Администрацией Сайта из следующих основных источников:</p>
                    <ul class="policy__list">
                        <li class="policy__list-item">формы обратной связи;</li>
                        <li class="policy__list-item">форма подписки на новости;</li>
                        <li class="policy__list-item">обсуждения и комментарии;</li>
                        <li class="policy__list-item">сервисы, используемые на сайте (чат, обратный звонок и др.).</li>
                    </ul>
                </div>
                <div class="policy__list-wrapper">
                    <p class="policy__item-text">3.2. Информация, указанная Посетителем на Сайте или в рамках использования Сайта, в частности:</p>
                    <ul class="policy__list">
                        <li class="policy__list-item">данные о Посетителях, указанные при заполнении формы обратной связи, а также при работе с сервисами, в частности имя, фамилия, номер телефона, адрес электронной почты и иные данные;</li>
                        <li class="policy__list-item">данные о Посетителях, указанные при заполнении формы подписки на новости, в частности имя и адрес электронной почты;</li>
                        <li class="policy__list-item">данные о Посетителях, размещенные и/или указанные ими в своих отзывах, комментариях, обсуждениях;</li>
                        <li class="policy__list-item">данные о Посетителях, вытекающие и/или изложенные в медицинской документации, предоставленной Посетителем Администрации Сайта для передачи в адрес соответствующей медицинской клиники или конкретного врача, указанного и/или выбранного Посетителем.</li>
                        <li class="policy__list-item">данные, предоставленные Посетителями по мотивированному запросу Администрации Сайта.</li>
                    </ul>
                </div>
                <div class="policy__list-wrapper">
                    <p class="policy__item-text">3.3. Информация, полученная в автоматическом режиме из программных служб, применяемых Посетителями при посещении Сайта, в частности:</p>
                    <ul class="policy__list">
                        <li class="policy__list-item">данные об аппаратном стационарном устройстве, которое используется Посетителем при его посещении, в том числе марка (модель) ПК, смартфона и т.д., операционная система и ее версия, уникальный идентификатор устройства;</li>
                        <li class="policy__list-item">анные о (марке) телефона, о месте нахождения Посетителя Сайта,;</li>
                        <li class="policy__list-item">данные, зафиксированные в журналах серверов, в частности сведения о поисковых запросах Посетителей, файлах cookie, IP-адресе, о сбоях в работе системы и т.д.;</li>
                        <li class="policy__list-item">данные о домене провайдера Посетителя, стране его места нахождения, переходах с одной веб-страницы на другую, адреса сторонних веб-сайтов в сети Интернет, с которых Посетителями совершены переходы на Сайт. Любая иная информация (данные), касающаяся Посетителя, полученная о нем во время использования Сайта, в том числе в автоматическом режиме.</li>
                    </ul>
                </div>
                <p class="policy__item-text">3.4. Администрация Сайта не проверяет достоверность информации, предоставляемой или полученной от Посетителей, не осуществляет контроль за их право- и дееспособностью.</p>
                <p class="policy__item-text">3.5. Посетитель вправе потребовать исключения (удаления) информации о нем из базы данных, формируемой на Сайте. Для этого Посетителю необходимо направить соответствующее уведомление на адрес электронной почты Администрации Сайта <a href="info@med-kontakt.ru">info@med-kontakt.ru</a> .</p>
                <p class="policy__item-text">3.6. Указанное не распространяется на случаи последующего использования Сайта Посетителем в отношении информации, которая получается в автоматическом режиме, и информации, без предоставления которой использование Сайта в последующем невозможно. В последних случаях Посетитель обязан отказаться от использования и посещения Сайта.</p>
            </div>
            <div class="policy__item">
                <h3 class="policy__item-title">4. Конфиденциальная информация</h3>
                <p class="policy__item-text">4.1. Настоящим Посетитель подтверждает, что предоставление им информации в порядке, установленном в настоящей Политике, осуществляется исключительно по самостоятельному усмотрению и волеизъявлению Посетителя.</p>
                <p class="policy__item-text">4.2. Настоящим Посетитель дает согласие на обработку его персональных данных в соответствии с положениями действующего законодательства (как это определено в Федеральном законе № 152-ФЗ «О персональных данных»), а также обработку данных, определяемых автоматическими средствами фиксации при обращении пользователя к сервисам Сайта. Использование персональных данных Администрацией айта осуществляется в целях исполнения своих обязательств перед Посетителями.</p>
                <p class="policy__item-text">4.3. В случае если Посетитель выступает в качестве представителя другого лица (родственника, ребенка, друга и т.д.) Посетитель должен подтвердить, наличие соответствующего разрешения, согласия и допуска на размещение информации о данных лицах на Сайте. В указанных случаях Посетитель самостоятельно (без участия Администрации Сайта) несет ответственность перед лицами, информация, в том числе медицинская, о которых была размещена им на Сайте, при отсутствии соответствующих разрешений, согласий и допусков.</p>
            </div>
            <div class="policy__item">
                <h3 class="policy__item-title">5. Передача информации о посетителях сайта</h3>
                <p class="policy__item-text">5.1. Администрация Сайта не вправе осуществлять передачу информации о Посетителях третьим лицам, за исключением случаев, когда такая передача необходима для исполнения Администрацией Сайта своих обязательств перед Посетителями.</p>
                <p class="policy__item-text">5.2. Настоящим Посетитель предоставляет Администрации Сайта разрешение и дает свое согласие на передачу медицинской документации о Посетителе (справки, заключения, результаты анализов, снимки и т.д.) в адрес соответствующей медицинской клиники или конкретного врача, выбранного Посетителем, в том числе из перечня, предложенного Администрацией Сайта. Посетитель вправе отказаться от передачи информации о нем в адрес соответствующей медицинской клинки или конкретного врача, уведомив об этом Администрацию Сайта.</p>
                <p class="policy__item-text">5.3. Администрация Сайта будет стремиться избежать действий со стороны третьих лиц, направленных на получение, изменение, блокирование, уничтожение, распространение, копирование персональных данных Посетителей.</p>
            </div>
            <div class="policy__item">
                <h3 class="policy__item-title">6. Действие политики</h3>
                <p class="policy__item-text">6.1. Настоящая Политика вступает в силу с момента размещения в сети Интернет на Сайте. Действие Политики распространяется исключительно на Сайт <a href="med-kontakt.ru">med-kontakt.ru</a>. Действие Политики не распространяется ни на какие другие веб-сайты и не применяется к веб- сайтам третьих лиц, которые содержат ссылки/гиперссылки на Сайт. В соответствующих случаях правила сбора, накопления и использования информации о Посетителях определяются непосредственно владельцами соответствующих веб-сайтов.</p>
                <p class="policy__item-text">6.2. Настоящая Политика действует в течение неопределенного срока и утрачивает свою силу при аннулировании Администрацией Сайта.</p>
                <p class="policy__item-text">6.3. В случае внесения изменений в Политику, такие изменения вступают в силу с момента опубликования новой редакции Политики на Сайте, если иной срок вступления изменений в силу не определен дополнительно при их публикации. Администрация Сайта вправе в одностороннем порядке осуществлять внесение изменений в текст Политики.</p>
                <p class="policy__item-text">6.4. Посетитель обязуется самостоятельно осуществлять контроль за изменениями в положения настоящей Политики и несет ответственность и негативные последствия, связанные с несоблюдением данной обязанности.</p>
                <p class="policy__item-text">6.5. При несогласии Посетителя с соответствующими изменениями Посетитель обязан прекратить использование Сайта. В противном случае продолжение использования Сайта означает, что Посетитель согласен с новой редакцией Политики.</p>
            </div>
        </div>
    </div>
</section>