<section class="service">
    <div class="mbox">
        <div class="service__title-wrapper">
            <h2 class="service__title">услуги</h2>
            <a href="#" class="button">Получить план лечения</a>
        </div>
        <p class="service__subtitle">Компания Med-Kontakt предлагает Вам свою помощь в организации обследования, лечения или реабилитации в лучших клиниках Германии. Достижения медицинской науки – это достояние всего человечества и мы поможем Вам ими воспользоваться!</p>
        <p class="service__list-title">В спектр наших услуг входит:</p>
        <ul class="service__list">
            <li class="service__list-item">Заочная консультация об особенностях лечения в Германии;</li>
            <li class="service__list-item">Поиск нужного специалиста и подходящей клиники;</li>
            <li class="service__list-item">Визовая поддержка и подготовка официального приглашения в клиники города Мюнхена;</li>
            <li class="service__list-item">Логистика и бронирование авиабилетов, а также номеров в гостинице;</li>
            <li class="service__list-item">Перевод медицинской документации на немецкий язык;</li>
            <li class="service__list-item">Сопровождение и сервисная поддержка пациентов во время пребывания в стране. Сюда входит все от встречи в аэропорту и трансфера, до услуг переводчика при общении с докторами;</li>
            <li class="service__list-item">Юридическая поддержка, например, продление визы при необходимости;</li>
            <li class="service__list-item">Помощь в дальнейшем поддержании контактов с лечащими врачами</li>
        </ul>
    </div>
    <div class="service__price">
        <div class="mbox">
            <h3 class="service__price-title">Стоимость услуг</h3>
            <div class="service__price-wrapper">
                <p class="service__price-text">Компания Med-Kontakt является официальным представителем клиник Баварии, а потому наши услуги не предполагают надуманных накруток цен. Все медицинские услуги предоставляются по обычным тарифам клиник Германии. Оплата осуществляется на месте при подписании договора об оказании услуг.</p>
                <a href="#" class="button">узнать цену</a>
            </div>
        </div>
    </div>
    <div class="mbox">
        <div class="service__scheme">
            <div class="service__scheme-info">
                <h3 class="service__scheme-title">Схема работы</h3>
                <p class="service__scheme-text">Наша компания готова взять на себя все заботы по организации поездки, чтобы Вы или Ваши близкие могли полностью сосредоточиться на здоровье. Словно ангелы-хранители наши специалисты проведут Вас через все бюрократические перипетии. Оформление всех необходимых документов и подготовка поездки в среднем занимает около 5 дней с того момента, как обговорены все детали.</p>
                <p class="service__scheme-text">Все что Вам нужно сделать – это связаться с нами любым удобным способом, например, по телефону или же с помощью он-лайн формы обратной связи. Затем наши сотрудники перезвонят Вам и подробно расскажут об организации лечения в Германии. После того, как Вы предоставите необходимые документы, для Вас подготовят приглашение, с которым быстро оформляется виза.</p>
                <p class="service__scheme-text">Мы не только подготовим Вашу поездку в Европу, но и обеспечим сопровождение, которое так необходимо в чужой стране</p>
                <a href="#" class="button service__btn">Сколько стоит лечения</a>
            </div>
            <div class="service__scheme-img">
                <img src="images/demo/scheme-work.png" alt="">
            </div>
        </div>
    </div>
</section>