//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html


    <div class="mbox">
        <div class="error-p">
            <div class="error-p__image">
                <img src="images/demo/404.png" alt="">
            </div>
            <div class="error-p__text">
                <span>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis </span>
            </div>
            <a href="#" class="button">вернуться на главную</a>
        </div>
    </div>



    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>