//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    //= partials/breadcrumbs.html

    //= partials/clinics-part.html


    //= partials/big-clinics.html




    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>