//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    //= partials/breadcrumbs.html

    <section>
        <div class="mbox">
            <h2>контакты</h2>
            <div class="contacts">
                <div class="contacts__col">
                    <div class="list__head">
                        Контакты
                    </div>
                    <p>Borys Vilenskyy, Vera VIlenskaya </p>
                    <p>Alfred- Schmidt- Str. 12</p>
                    <p>81379, München</p>
                </div>
                <div class="contacts__col">
                    <div class="list__head">
                        Связаться
                    </div>
                    <div class="contacts__table">
                        <div class="contacts__row">
                            <div class="contacts__city">
                                в Москве
                            </div>
                            <div class="contacts__number">
                                +7 499 705 0624,
                            </div>
                        </div>
                        <div class="contacts__row">
                            <div class="contacts__city">
                                в Мюнхене
                            </div>
                            <div class="contacts__number">
                                +49 89 32708784,
                            </div>
                        </div>
                        <div class="contacts__row">
                            <div class="contacts__city">
                                Факс
                            </div>
                            <div class="contacts__number">
                                +49 89 512 99529,
                            </div>
                        </div>
                        <div class="contacts__row">
                            <div class="contacts__city">
                                Моб
                            </div>
                            <div class="contacts__number">
                                +49 176 45119759
                            </div>
                        </div>
                        <div class="contacts__row">
                            <div class="contacts__city">
                                Почта
                            </div>
                            <div class="contacts__number">
                                info (at) med-kontakt.ru
                            </div>
                        </div>
                        <div class="contacts__row">
                            <div class="contacts__city">
                                Skype
                            </div>
                            <div class="contacts__number">
                                v-intermed
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contacts__col grey-bg">
                    <div class="contacts__table">
                        <div class="contacts__row">
                            <div class="contacts__city">
                                Finanzamt
                            </div>
                            <div class="contacts__number">
                                München
                            </div>
                        </div>
                        <div class="contacts__row">
                            <div class="contacts__city">
                                Steuernummer
                            </div>
                            <div class="contacts__number">
                                148 / 170 /31073
                            </div>
                        </div>
                        <div class="contacts__row">
                            <div class="contacts__city">
                                Borys Vilenskyy
                            </div>
                            <div class="contacts__number">
                                IdNr. 85 749 702 632
                            </div>
                        </div>
                        <div class="contacts__row">
                            <div class="contacts__city">
                                Vera Vilenskaya
                            </div>
                            <div class="contacts__number">
                                IdNr. 87 861 230 944
                            </div>
                        </div>
                        <div class="contacts__row">
                            <div class="contacts__city">
                                Bank
                            </div>
                            <div class="contacts__number">
                                Deutsche Bank
                            </div>
                        </div>
                        <div class="contacts__row">
                            <div class="contacts__city">
                                Konto
                            </div>
                            <div class="contacts__number">
                                803123900
                            </div>
                        </div>
                        <div class="contacts__row">
                            <div class="contacts__city">
                                BLZ
                            </div>
                            <div class="contacts__number">
                                70070024
                            </div>
                        </div>
                        <div class="contacts__row">
                            <div class="contacts__city">
                                IBAN
                            </div>
                            <div class="contacts__number">
                                DE17 7007 0024 0803 1239 00
                            </div>
                        </div>
                        <div class="contacts__row">
                            <div class="contacts__city">
                                BIC
                            </div>
                            <div class="contacts__number">
                                DEUTDEDBMUC
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p>Ссылки на внешние страницы / Links zu anderen Seiten</p>

            <p><a href="#">Сайт www.med-kontakt.ru</a> не несет ответственности за содержание информации, размещенной на внешних страницах/сайтах, ссылки на которых ведут на сайт www.med-kontakt.ru. За содержание страниц внешних сайтов ответственность несет их владелец.</p>

           <p> Mit Urteil vom 12.5.1998 hat das Landgericht Hamburg entschieden, dass man durch den Verweis auf eine fremde Seite (Link) die Inhalte der gelinkten Seite unter Umständen mit zu verantworten hat. Dies kann, so das Landgericht, dadurch verhindert werden, dass man sich ausdrücklich von diesen Inhalten distanziert.
               <a href="#">www.med-kontakt.ru</a> hat auf seinen Seiten Links zu anderen Seiten im Internet verankert. Für all diese Links gilt: Für den Inhalt der gelinkten Seiten ist ausschließlich der betreffende Autor selbst verantwortlich.</p>
            <p>
            <a href="#">www.med-kontakt.ru</a> distanziere sich ausdrücklich von den Inhalten und der Gestaltung der von den
            <a href="#">www.med-kontakt.ru</a> - Seiten aufzurufenden Links.</p>
            <p>Германия – всемирно признанный лидер в области своевременного распознавания заболеваний и адекватного исследования уже распознанных патологий. Это одно из наиболее важных преимуществ немецкой медицины, потому что без полного объема информации о патологии невозможно назначить полноценное лечение.
            </p>
            <div class="list__head padding__correction--bottom">
                Эффективность немецкой диагностики – не чудо, а реальность, обусловленная объективными факторами, такими как:
            </div>
            <div class="form__full grey-bg">
                <div class="form__headers">
                    <h2>связаться с нами</h2>
                    <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
                </div>
                <form action="#">
                        <div class="form__col">
                            <input type="text" placeholder="Ваше имя">
                        </div>
                        <div class="form__col">
                            <input type="text" placeholder="Ваш e-mail">
                        </div>
                        <div class="form__col">
                            <input type="text" placeholder="Ваш телефон">
                        </div>
                    <div class="form__col form__col--full">
                        <textarea name="area" id="" placeholder="Сообщение"></textarea>
                        <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                    </div>
                    <div class="form__col form__col--full">
                        <button type="submit" class="button"> связаться с нами </button>
                    </div>

                </form>
            </div>
        </div>
    </section>

    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>