//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    //= partials/breadcrumbs.html

   <section>
       <div class="mbox">
           <h2>Диагностика в Германии "Check Up" </h2>
           <h3>Наша фирма проводит осеннюю акцию на программы Check Up по специальным ценам.
               Акция включает:
           </h3>
           <div class="about">
               <div class="help">
                   <div class="help__item">
                       <div class="help__image">
                           <svg width="26" height="26">
                               <use xlink:href="#aparat"></use>
                           </svg>
                       </div>
                       <p>Базовый Check Up рассчитанный на исследование организма у людей до 40 лет без серьёзных хронических заболеваний</p>
                   </div>
                   <div class="help__item">
                       <div class="help__image">
                           <svg width="26" height="26">
                               <use xlink:href="#aparat"></use>
                           </svg>
                       </div>
                       <p>Расширенный чек ап для пациентов после 40 лет с дополнительным обследованием на онкологию</p>
                   </div>
                   <div class="help__item">
                       <div class="help__image">
                           <svg width="26" height="26">
                               <use xlink:href="#aparat"></use>
                           </svg>
                       </div>
                       <p>Специализированные Check Up: Кардиологический. Урологический. Гинекологический</p>
                   </div>
                   <div class="help__item">
                       <div class="help__image">
                           <svg width="26" height="26">
                               <use xlink:href="#aparat"></use>
                           </svg>
                       </div>
                       <p>Акция не распространяется на ортопедический, дерматологический или эндокринологический Check Up</p>
                   </div>
               </div>
               <div class="diagnosis__description">
                   В период <span>с 25 сентября по 15 ноября</span> вы можете воспользоваться одной из программ Check Up со <span>скидкой 25%</span> и дополнительным бонусом.
               </div>
           </div>

           <div class="diagnosis">
               <div class="form__full grey-bg">
                   <div class="form__headers">
                       <h2>записаться на Check Up</h2>
                       <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
                   </div>
                   <form action="#">
                       <div class="form__col">
                           <input type="text" placeholder="Ваше имя">
                           <input type="text" placeholder="Ваш e-mail">
                           <input type="text" placeholder="Название отделения">
                       </div>
                       <div class="form__col">
                           <textarea name="area" id=""></textarea>
                       </div>
                       <div class="form__col">
                           <label class="file">
                               <div class="">
                                   <svg  width="26" height="26">
                                       <use xlink:href="#skrepka"></use>
                                   </svg>
                               </div>
                               <input type="file"> <span>прикрепить файл</span>
                           </label>
                           <input type="button" class="button button--big" value="узнать цену">
                           <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                       </div>
                   </form>
               </div>
               <p>Германия – всемирно признанный лидер в области своевременного распознавания заболеваний и адекватного исследования уже распознанных патологий. Это одно из наиболее важных преимуществ немецкой медицины, потому что без полного объема информации о патологии невозможно назначить полноценное лечение.  </p>
               <p>Эффективность немецкой диагностики – не чудо, а реальность, обусловленная объективными факторами, такими как:</p>
               <ul>
                   <li>высококвалифицированные врачи, получившие образование в лучших вузах Европы и регулярно повышающие свою квалификацию как в области теории (большинство немецких врачей занимаются научной деятельностью), так и в области практики; </li>
                   <li>высокий уровень развития немецкой науки и техники, разрабатывающий новейшие технологии диагностических процедур; </li>
                   <li>новейшее оборудование, позволяющее установить минимальные морфологические изменения;</li>
                   <li>высококачественные диагностические препараты и материалы; </li>
                   <li>уникальная организация немецкой системы здравоохранения, осуществляющая постоянный контроль деятельности всех медицинских учреждений Германии</li>
               </ul>


           </div>

       </div>
   </section>
    <section class="grey-bg">
        <div class="mbox">
            <h2>Профилактическая экспресс-диагностика по типу check-up: преимущества и недостатки </h2>
            <div class="diagnosis">
                <div class="list__head">
                    Преимущества check-up
                </div>
                <p>С древних времен известно, что будущее – за профилактической медициной. Своевременно выявленное заболевание – это не только высокие шансы на исцеления, но и:</p>
                <div class="technologies__list">
                    <ul>
                        <li>возможность выбора методов лечения, которые не оказывают грубого травмирующего воздействия на организм</li>
                    </ul>
                    <ul>
                        <li>избавление от выявленных проблем в кратчайшие сроки</li>
                    </ul>
                    <ul>
                        <li>значительная экономия денежных средств</li>
                    </ul>
                </div>
                <p>Поэтому организации здравоохранения всех стран стараются максимально популяризировать скрининговые обследования пациентов, которые позволяют выявить заболевания на самых ранних стадиях развития.
                </p>
                <p>Экспресс-диагностика check-up является ярким примером заботы медиков о здоровье здоровых, и имеет следующие преимущества:
                </p>
                <div class="technologies__list">
                    <ul>
                        <li>амбулаторные методы обследования позволяют совмещать профилактические скрининги с другими видами деятельности (рабочие встречи, осмотр достопримечательностей, шопинг, развлечения)</li>
                    </ul>
                    <ul>
                        <li>существует огромный выбор специализированных программ (общий check-up, гинекологический, гастроэнтерологический, кардиологический, ортопедический и т.п.) </li>
                    </ul>
                    <ul>
                        <li>диагностика проводится в кратчайшие сроки</li>
                    </ul>
                </div>
                <div class="list__head">
                    Подводные камни check-up
                </div>
                <div class="diagnosis__textcols">
                    <p>Прежде всего, следует отметить, что в Германии не существует безответственных врачей и плохой диагностики. Однако следует учитывать тот факт, что профилактическая диагностика должна быть адекватной для каждого конкретного пациента.</p>
                    <p> Именно по этой причине при подозрении на какое-либо заболевание все обследования назначает врач. То есть даже в тех случаях, когда, в принципе, известно, ЧТО надо искать, необходима консультация специалиста, который скоординирует диагностический поиск таким образом, что заболевание будет распознано с минимальными затратами времени, сил и денег (последнее особенно важно, если вы отправляетесь на обследование за рубеж).</p>
                    <p>  А как быть в тех случаях, когда у пациента нет жалоб? На практике, к сожалению, наиболее популярен следующий сценарий прохождения check-up: клиент ориентируется на стоимость процедур и их количество, определяя диагностическую ценность обследования по этим двум критериям.</p>
                    <p>В результате приехавший в Германию медицинский турист может пройти дорогостоящее обследование, диагностическая ценность которого для данного пациента оставляет желать лучшего.</p>
                    <p> Как же пройти check-up, чтобы не упустить ни одной патологии? Существуют ли гарантии 100% диагностики всех заболеваний? Такие, к примеру, как МРТ всего тела или скрининг всех известных науке онкомаркеров? Или, может, прохождение всех видов check-up одновременно?</p>
                    <p> К сожалению, МРТ не является универсальной диагностической процедурой, способной выявить любое заболевание. Поэтому такое обследование как МРТ всего тела должно проводиться строго по показаниям (оно абсолютно безвредно для здоровья, но достаточно ощутимо бьет по вашему карману).</p>
                    <p> Скрининг онкомаркеров показано проводить у пациентов из группы риска в сочетании с другими обследованиями. При этом тестируются маркеры конкретного заболевания, которое ожидают обнаружить. Проводить скрининг всех онкомаркеров – дорого и неинформативно.</p>
                </div>
                <a href="#" class="button">узнать цену</a>
            </div>
        </div>
    </section>

    <section>
        <div class="mbox">
            <div class="usage">
                <div class="usage__fat">
                    <div class="usage__list usage__list--left">
                        <h2>Как пройти «правильный» check-up</h2>
                        <h3>По рекомендации Министерства Здравоохранения Германии Med-Kontakt предоставляет своим читателям следующий алгоритм: </h3>

                        <div class="list__modified">
                            <ul>
                                <li data-number="1">Если вы абсолютно здоровы, лучше всего, пройти стандартный базовый check-up, дополнив его избранными специализированными, ориентируясь на такие факторы, как состояние здоровья, пол, возраст, наличие факторов риска развития тех или иных заболеваний. Общий check-up всего организма – это дорого и бессмысленно.
                                </li>
                                <li data-number="2">Если у вас есть какие-либо жалобы или уже диагностированные заболевания целесообразно прохождение check-up по направлениям (гастроэнтерологический, кардиологический, ортопедический и т.п.).
                                </li>
                                <li data-number="3">Женщинам показано ежегодно проходить гинекологический check-up.
                                </li>
                                <li data-number="4">С возрастом риск развития отдельных заболеваний повышается, поэтому,  к примеру, женщинам после 35 лет надо проходить маммографию раз в два года,  а после 45 лет – ежегодно. Мужчинам после 40 лет необходимо ежегодное урологическое обследование. После 50 лет всем пациентам, независимо  от пола, показано гастроэнтерологическое обследование минимум  раз в 5 лет (при отсутствии жалоб) и т.д.
                                </li>
                                <li data-number="5">При выборе check-up по направлениям следует также учитывать индивидуальные факторы риска (наследственность, профессиональные вредности и т.п.).</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="usage__thin">
                    <div class="usage__photo">
                        <img src="images/demo/tip.png" alt="Doc">
                    </div>
                </div>
            </div>
            <div class="usage">
                <div class="usage__thin">
                    <div class="usage__photo">
                        <img src="images/demo/tip.png" alt="Doc">
                    </div>
                </div>
                <div class="usage__fat">
                    <div class="usage__list">
                        <h2>Очная и заочная диагностика заболеваний в клиниках Германии </h2>
                        <p>Нет, это не опечатка. Заочная диагностика заболеваний все-таки существует. Речь идет об услуге «второе мнение». Более подробно о том, как узнать мнение немецких профессионалов по поводу адекватности установленного вам диагноза и соответствия проводимого лечения мировым стандартам, читайте в нашей статье «второе мнение».
                        </p>
                       <p>К сожалению, преимущественное большинство пациентов обращаются в немецкие клиники для лечения и реабилитации с уже установленным диагнозом, на стадиях, когда понадобится длительное лечение.
                       </p>
                        <p>В таких случаях необходимо выслать имеющиеся медицинские документы, но быть готовым к тому, что придется пройти процедуру подтверждения и уточнения диагноза, поскольку немецкие врачи не желают брать ответственность за чужие ошибки (и их тоже можно понять, тем более что речь идет о здоровье пациента).
                        </p>
                        <p>Более подробно о диагностике интересующей вас патологии можно посмотреть во вкладках «Направления»</p>
                        <a href="#" class="button">записаться на check-up</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>