//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    //= partials/breadcrumbs.html

    <section>
        <div class="mbox">
            <h2>название врача</h2>
            <div class="doc-detail">
                <div class="doc-detail__cols">
                   <div class="doc-detail__col">
                       <div class="doctor__wrap">
                           <a href="#" class="doctor">
                               <div class="doctor__item">
                                   <div class="doctor__image">
                                       <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                                   </div>
                                   <div class="doctor__text">
                                       <div class="doctor__name">Название врача</div>
                                       <div class="doctor__position">Должность</div>
                                       <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                                   </div>

                               </div>
                           </a>
                       </div>
                       <div class="doc-detail__form">
                            <div class="form__headers">
                                <h2>записаться к врачу</h2>
                                <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
                            </div>
                            <form action="#">
                                <div class="form__col form__col--full">
                                    <input type="text" placeholder="ваше имя">
                                </div>
                                <div class="form__col form__col--full">
                                    <input type="text" placeholder="ваш телефон">
                                </div>
                                <div class="form__col form__col--full">
                                    <button type="submit" class="button button--big">узнать цену</button>
                                </div>
                                <div class="form__col form__col--full">
                                    <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                                </div>
                            </form>
                        </div>
                    </div>
                  <div class="doc-detail__col doc-detail__col--big">
                      <div class="services">
                          <a href="#" class="services__item">
                              <div class="services__img">
                                  <svg width="26" height="26">
                                      <use xlink:href="#list"></use>
                                  </svg>
                              </div>
                              <div class="services__text">Диагноз</div>
                          </a>
                          <a href="#" class="services__item">
                              <div class="services__img">
                                  <svg width="26" height="26">
                                      <use xlink:href="#list"></use>
                                  </svg>
                              </div>
                              <div class="services__text">Диагноз</div>
                          </a>
                          <a href="#" class="services__item">
                              <div class="services__img">
                                  <svg width="26" height="26">
                                      <use xlink:href="#list"></use>
                                  </svg>
                              </div>
                              <div class="services__text">Диагноз</div>
                          </a>
                          <a href="#" class="services__item">
                              <div class="services__img">
                                  <svg width="26" height="26">
                                      <use xlink:href="#list"></use>
                                  </svg>
                              </div>
                              <div class="services__text">Диагноз</div>
                          </a>
                          <a href="#" class="services__item">
                              <div class="services__img">
                                  <svg width="26" height="26">
                                      <use xlink:href="#list"></use>
                                  </svg>
                              </div>
                              <div class="services__text">Диагноз</div>
                          </a>
                          <a href="#" class="services__item">
                              <div class="services__img">
                                  <svg width="26" height="26">
                                      <use xlink:href="#list"></use>
                                  </svg>
                              </div>
                              <div class="services__text">Диагноз</div>
                          </a>
                      </div>
                      <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>

                     <p> Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>

                      <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
                  </div>
                </div>


            </div>
        </div>
    </section>

    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>