//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    //= partials/breadcrumbs.html

<section>
    <div class="mbox">
        <h2>Врачи</h2>
        <div class="filter">
            <div class="filter__list">
                <label><input type="checkbox"><i>все</i></label>
                <label><input type="checkbox"><i>онкология</i></label>
                <label><input type="checkbox"><i>зирургия</i></label>
                <label><input type="checkbox"><i>ортопедия</i></label>
                <label><input type="checkbox"><i>кардиология</i></label>
                <label><input type="checkbox"><i>урология</i></label>
                <label><input type="checkbox"><i>гинекология</i></label>
                <label><input type="checkbox"><i>Гастроэнтерология</i></label>
                <label><input type="checkbox"><i>Пластическая хирургия</i></label>
                <label><input type="checkbox"><i>Нейрохирургия</i></label>
                <label><input type="checkbox"><i>Эндокринология</i></label>
                <label><input type="checkbox"><i>Офтальмология</i></label>
                <label><input type="checkbox"><i>Стоматология</i></label>
                <label><input type="checkbox"><i>Реабилитация</i></label>
                <label><input type="checkbox"><i>Неврология</i></label>
                <label><input type="checkbox"><i>Нефрология</i></label>
                <label><input type="checkbox"><i>Оториноларингология</i></label>
                <label><input type="checkbox"><i>Радиология</i></label>
                <label><input type="checkbox"><i>Гематология</i></label>
                <label><input type="checkbox"><i>Роды в Германии</i></label>
            </div>
        </div>
        <div class="doctors__list">
            <div class="doctor__wrap">
                <a href="#" class="doctor">
                    <div class="doctor__item">
                        <div class="doctor__image">
                            <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                        </div>
                        <div class="doctor__text">
                            <div class="doctor__name">Название врача</div>
                            <div class="doctor__position">Должность</div>
                            <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="doctor__wrap">
                <a href="#" class="doctor">
                    <div class="doctor__item">
                        <div class="doctor__image">
                            <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                        </div>
                        <div class="doctor__text">
                            <div class="doctor__name">Название врача</div>
                            <div class="doctor__position">Должность</div>
                            <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="doctor__wrap">
                <a href="#" class="doctor">
                    <div class="doctor__item">
                        <div class="doctor__image">
                            <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                        </div>
                        <div class="doctor__text">
                            <div class="doctor__name">Название врача</div>
                            <div class="doctor__position">Должность</div>
                            <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="doctor__wrap">
                <a href="#" class="doctor">
                    <div class="doctor__item">
                        <div class="doctor__image">
                            <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                        </div>
                        <div class="doctor__text">
                            <div class="doctor__name">Название врача</div>
                            <div class="doctor__position">Должность</div>
                            <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="doctor__wrap">
                <a href="#" class="doctor">
                    <div class="doctor__item">
                        <div class="doctor__image">
                            <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                        </div>
                        <div class="doctor__text">
                            <div class="doctor__name">Название врача</div>
                            <div class="doctor__position">Должность</div>
                            <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="doctor__wrap">
                <a href="#" class="doctor">
                    <div class="doctor__item">
                        <div class="doctor__image">
                            <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                        </div>
                        <div class="doctor__text">
                            <div class="doctor__name">Название врача</div>
                            <div class="doctor__position">Должность</div>
                            <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="doctor__wrap">
                <a href="#" class="doctor">
                    <div class="doctor__item">
                        <div class="doctor__image">
                            <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                        </div>
                        <div class="doctor__text">
                            <div class="doctor__name">Название врача</div>
                            <div class="doctor__position">Должность</div>
                            <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="doctor__wrap">
                <a href="#" class="doctor">
                    <div class="doctor__item">
                        <div class="doctor__image">
                            <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                        </div>
                        <div class="doctor__text">
                            <div class="doctor__name">Название врача</div>
                            <div class="doctor__position">Должность</div>
                            <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="doctor__wrap">
                <a href="#" class="doctor">
                    <div class="doctor__item">
                        <div class="doctor__image">
                            <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                        </div>
                        <div class="doctor__text">
                            <div class="doctor__name">Название врача</div>
                            <div class="doctor__position">Должность</div>
                            <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="doctor__wrap">
                <a href="#" class="doctor">
                    <div class="doctor__item">
                        <div class="doctor__image">
                            <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                        </div>
                        <div class="doctor__text">
                            <div class="doctor__name">Название врача</div>
                            <div class="doctor__position">Должность</div>
                            <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="doctor__wrap">
                <a href="#" class="doctor">
                    <div class="doctor__item">
                        <div class="doctor__image">
                            <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                        </div>
                        <div class="doctor__text">
                            <div class="doctor__name">Название врача</div>
                            <div class="doctor__position">Должность</div>
                            <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                        </div>

                    </div>
                </a>
            </div>
            <div class="doctor__wrap">
                <a href="#" class="doctor">
                    <div class="doctor__item">
                        <div class="doctor__image">
                            <img src="images/demo/vr.png" alt="#" data-object-fit="cover">
                        </div>
                        <div class="doctor__text">
                            <div class="doctor__name">Название врача</div>
                            <div class="doctor__position">Должность</div>
                            <div class="doctor__about">Всем кто заботится о собственном здоровье...</div>
                        </div>

                    </div>
                </a>
            </div>


        </div>
    </div>
</section>

    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>