//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html

    <div class="mbox">

        <div>
            <div class="formed__ask">
                <div class="form__headers">
                    <h2>обратная связь</h2>
                    <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
                </div>
                <form action="#">
                    <div class="form__col form__col--full">
                        <input type="text" placeholder="ваше имя">
                    </div>
                    <div class="form__col form__col--full">
                        <div class="phone-selector">
                            <select name="" class="js-go-select">
                                <option value="UA"><img src="images/flags/ua.png" alt=""> UA</option>
                                <option value="RU">RU</option>
                                <option value="GE">GE</option>
                                <option value="KZ">KZ</option>
                                <option value="Else">...</option>
                            </select>
                            <input type="tel" class="tel-mask" placeholder="ваш телефон">
                        </div>

                    </div>
                    <div class="form__col form__col--full">
                        <button type="submit" class="button button--big">узнать цену</button>
                    </div>
                    <div class="form__col form__col--full">
                        <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                    </div>
                </form>
            </div>
        </div>

        <a href="main.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">main</a>
        <a href="destinations.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">destinations</a>

        <a href="onkology.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">onkology</a>
        <a href="onko-ginekology.html"  style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">onko-ginekology</a>
        <a href="onko-g-new.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">onko-ginekology-new</a>
        <a href="about.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">about</a>
        <a href="clinics.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">clinics</a>
        <a href="clinic-detail.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">clinic - detail</a>
        <a href="question-answer.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">question-answer</a>
        <a href="prices.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">prices</a>
        <a href="diagnostic.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">diagnostic</a>
        <a href="translations.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">translations</a>
        <a href="contacts.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">contacts</a>
        <a href="otzivu.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">otzivu</a>
        <a href="news.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">news</a>
        <a href="news-one.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">news-one</a>
        <a href="doctors.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">doctors</a>
        <a href="doctor-one.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">doctor-one</a>
        <a href="second-mind.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">Второе мнение</a>
        <a href="policy.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">Политика конфиденциальности</a>
        <a href="services.html" style="display: inline-block; margin: 5px; padding: 10px; border: 1px solid #BE9D86;">Услуги</a>
        <a href="#callback" style="display: block; margin: 20px 0;" data-fancybox>CALL BACK (POPUP)</a>
        <a href="#helthcare" style="display: block; margin: 20px 0;" data-fancybox>заявка на лечения (POPUP)</a>
        <a href="#feedback" style="display: block; margin: 20px 0;" data-fancybox>feed back (POPUP)</a>
        <a href="#todoctor" style="display: block; margin: 20px 0;" data-fancybox>К врачу (POPUP)</a>
        <a href="#checkup" style="display: block; margin: 20px 0;" data-fancybox>Check-up (POPUP)</a>
    </div>



    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>