//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    //= partials/breadcrumbs.html

    <section>
        <div class="mbox">
            <div class="clinics">
                <h2>клиники</h2>
                <div class="news">
                    <div class="treatment__image">
                        <a href="#" class="clinic clinic--full">
                            <div class="clinic__shadow"></div>
                            <div class="clinic__image"><img src="images/demo/clinic.png" alt="" data-object-fit="cover"></div>
                            <div class="clinic__text">Клиника красного креста Мюнхен </div>
                        </a>
                    </div>

                    <div class="articles">
                        <div class="articles__slide">
                            <div class="articles__box">
                                <div class="articles__image">
                                    <img src="images/demo/doc.png" alt="doc" data-object-fit="cover">
                                </div>

                                <div class="articles__short">
                                    <div class="list__head">
                                        <a href="#">Название статьи</a>
                                    </div>
                                    <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                                </div>
                            </div>
                        </div>
                        <div class="articles__slide">
                            <div class="articles__box">
                                <div class="articles__image">
                                    <img src="images/demo/doc.png" alt="doc" data-object-fit="cover">
                                </div>

                                <div class="articles__short">
                                    <div class="list__head">
                                        <a href="#">Название статьи</a>
                                    </div>
                                    <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                                </div>
                            </div>
                        </div>
                        <div class="articles__slide">
                            <div class="articles__box">
                                <div class="articles__image">
                                    <img src="images/demo/doc.png" alt="doc" data-object-fit="cover">
                                </div>

                                <div class="articles__short">
                                    <div class="list__head">
                                        <a href="#">Название статьи</a>
                                    </div>
                                    <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                                </div>
                            </div>
                        </div>
                        <div class="articles__slide">
                            <div class="articles__box">
                                <div class="articles__image">
                                    <img src="images/demo/doc.png" alt="doc" data-object-fit="cover">
                                </div>

                                <div class="articles__short">
                                    <div class="list__head">
                                        <a href="#">Название статьи</a>
                                    </div>
                                    <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                                </div>
                            </div>
                        </div>
                        <div class="articles__two">
                            <div class="articles__slide">
                                <div class="articles__box">
                                    <div class="articles__mini">
                                        <div class="list__head">
                                            <a href="#">Название статьи</a>
                                        </div>
                                        <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                                    </div>
                                </div>
                            </div>
                            <div class="articles__slide">
                                <div class="articles__box">
                                    <div class="articles__mini">
                                        <div class="list__head">
                                            <a href="#">Название статьи</a>
                                        </div>
                                        <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="articles__slide">
                            <div class="articles__box">
                                <div class="articles__image">
                                    <img src="images/demo/doc.png" alt="doc" data-object-fit="cover">
                                </div>

                                <div class="articles__short">
                                    <div class="list__head">
                                        <a href="#">Название статьи</a>
                                    </div>
                                    <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                                </div>
                            </div>
                        </div>
                        <div class="articles__slide">
                            <div class="articles__box">
                                <div class="articles__image">
                                    <img src="images/demo/doc.png" alt="doc" data-object-fit="cover">
                                </div>

                                <div class="articles__short">
                                    <div class="list__head">
                                        <a href="#">Название статьи</a>
                                    </div>
                                    <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                                </div>
                            </div>
                        </div>
                        <div class="articles__slide">
                            <div class="articles__box">
                                <div class="articles__image">
                                    <img src="images/demo/doc.png" alt="doc" data-object-fit="cover">
                                </div>

                                <div class="articles__short">
                                    <div class="list__head">
                                        <a href="#">Название статьи</a>
                                    </div>
                                    <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                                </div>
                            </div>
                        </div>
                        <div class="articles__slide">
                            <div class="articles__box">
                                <div class="articles__image">
                                    <img src="images/demo/doc.png" alt="doc" data-object-fit="cover">
                                </div>

                                <div class="articles__short">
                                    <div class="list__head">
                                        <a href="#">Название статьи</a>
                                    </div>
                                    <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                                </div>
                            </div>
                        </div>
                        <div class="articles__two">
                            <div class="articles__slide">
                                <div class="articles__box">
                                    <div class="articles__mini">
                                        <div class="list__head">
                                            <a href="#">Название статьи</a>
                                        </div>
                                        <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                                    </div>
                                </div>
                            </div>
                            <div class="articles__slide">
                                <div class="articles__box">
                                    <div class="articles__mini">
                                        <div class="list__head">
                                            <a href="#">Название статьи</a>
                                        </div>
                                        <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="articles__slide">
                            <div class="articles__box">
                                <div class="articles__image">
                                    <img src="images/demo/doc.png" alt="doc" data-object-fit="cover">
                                </div>

                                <div class="articles__short">
                                    <div class="list__head">
                                        <a href="#">Название статьи</a>
                                    </div>
                                    <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                                </div>
                            </div>
                        </div>
                        <div class="articles__slide">
                            <div class="articles__box">
                                <div class="articles__image">
                                    <img src="images/demo/doc.png" alt="doc" data-object-fit="cover">
                                </div>

                                <div class="articles__short">
                                    <div class="list__head">
                                        <a href="#">Название статьи</a>
                                    </div>
                                    <p>Цена лечения в клиниках Мюнхена и других городов Германии в целом соответствует качеству медицинского обслуживания. К примеру....</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>