//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    //= partials/breadcrumbs.html

    <section>
        <div class="mbox">
            <h2>Лечение онкологии в клиниках Германии</h2>
            <div class="treatment">
                <div class="treatment__image">
                    <img src="images/demo/vrachi.png" alt="" data-object-fit="cover">
                </div>
            </div>

            <p>Лечение в Германии привлекает граждан России и СНГ, поскольку является весьма эффективным, благодаря высокому развитию медицины и использованию передового оборудования. Достижения германской науки и врачебной практики доступны всем, но далеко не каждый пациент знает о том, как ими воспользоваться. Получить квалифицированную помощь в организации лечения за рубежом поможет наша кампания Med-Kontakt.</p>

           <p> Med-Kontakt – это официальный партнер лучших клиник Мюнхена и всей Баварии. Мы предлагаем полный спектр услуг по организации поездки в Германию в медицинских целях, будь то диагностика, лечение или реабилитация. Оказываем содействие в организации туристических поездок, шопинга в оутлетах и дизайнерских бутиках. Помогаем наладить связи с инвестиционными кампаниями и маклерскими бюро.</p>

           <p> Компания Med-Kontakt не является посредником, который бездушно использует проблемы со здоровьем, чтобы выставить огромный счет без каких-либо гарантий. Для борьбы с подобными недобросовестными фирмами было создано Клиническое Объединение Мюнхен, в которое входит и наша компания. Лечение за рубежом - довольно щекотливая тема и наша кампания подходит к каждому запросу так, как будто старается помочь близкому, родному человеку.</p>

            <p>Лечение в Германии привлекает граждан России и СНГ, поскольку является весьма эффективным, благодаря высокому развитию медицины и использованию передового оборудования. Достижения германской науки и врачебной практики доступны всем, но далеко не каждый пациент знает о том, как ими воспользоваться. Получить квалифицированную помощь в организации лечения за рубежом поможет наша кампания Med-Kontakt.</p>

           <p> Med-Kontakt – это официальный партнер лучших клиник Мюнхена и всей Баварии. Мы предлагаем полный спектр услуг по организации поездки в Германию в медицинских целях, будь то диагностика, лечение или реабилитация. Оказываем содействие в организации туристических поездок, шопинга в оутлетах и дизайнерских бутиках. Помогаем наладить связи с инвестиционными кампаниями и маклерскими бюро.</p>

           <p> Компания Med-Kontakt не является посредником, который бездушно использует проблемы со здоровьем, чтобы выставить огромный счет без каких-либо гарантий. Для борьбы с подобными недобросовестными фирмами было создано Клиническое Объединение Мюнхен, в которое входит и наша компания. Лечение за рубежом - довольно щекотливая тема и наша кампания подходит к каждому запросу так, как будто старается помочь близкому, родному человеку.
           </p>

                <ul class="diagnosis__textcols">
                    <li>Одно из главных преимуществ немецкой медицины – оснащение учреждений здравоохранения по последнему слову техники. Для диагностики и лечения может быть использовано точнейшее оборудование. При этом врачи всегда отдают предпочтение малоинвазивным методам, которые позволяют пациенту вернуться к нормальной жизни в максимально короткие сроки</li>
                    <li>Врачи немецких клиник постоянно повышают свою квалификацию. Новейшие методики, разрабатываемые специалистами, оперативно и успешно внедряются в практику </li>
                    <li>Высокий процент положительных результатов лечения в Германии, цены при этом весьма разумные</li>
                    <li>Одно из главных преимуществ немецкой медицины – оснащение учреждений здравоохранения по последнему слову техники. Для диагностики и лечения может быть использовано точнейшее оборудование. При этом врачи всегда отдают предпочтение малоинвазивным методам, которые позволяют пациенту вернуться к нормальной жизни в максимально короткие сроки</li>
                    <li>Врачи немецких клиник постоянно повышают свою квалификацию. Новейшие методики, разрабатываемые специалистами, оперативно и успешно внедряются в практику </li>
                    <li>Высокий процент положительных результатов лечения в Германии, цены при этом весьма разумные</li>
                </ul>

            <div class="about__people">
                <div class="about__col">
                    <div class="worker">
                        <div class="worker__image">
                            <img src="images/demo/vra4.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="about__col">
                    <div class="worker">
                        <div class="worker__image">
                            <img src="images/demo/vra4_2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <p>Лечение в Германии привлекает граждан России и СНГ, поскольку является весьма эффективным, благодаря высокому развитию медицины и использованию передового оборудования. Достижения германской науки и врачебной практики доступны всем, но далеко не каждый пациент знает о том, как ими воспользоваться. Получить квалифицированную помощь в организации лечения за рубежом поможет наша кампания Med-Kontakt. </p>
            <p> Med-Kontakt – это официальный партнер лучших клиник Мюнхена и всей Баварии. Мы предлагаем полный спектр услуг по организации поездки в Германию в медицинских целях, будь то диагностика, лечение или реабилитация. Оказываем содействие в организации туристических поездок, шопинга в оутлетах и дизайнерских бутиках. Помогаем наладить связи с инвестиционными кампаниями и маклерскими бюро. </p>
            <p>Компания Med-Kontakt не является посредником, который бездушно использует проблемы со здоровьем, чтобы выставить огромный счет без каких-либо гарантий. Для борьбы с подобными недобросовестными фирмами было создано Клиническое Объединение Мюнхен, в которое входит и наша компания. Лечение за рубежом - довольно щекотливая тема и наша кампания подходит к каждому запросу так, как будто старается помочь близкому, родному человеку.</p>
            <p>Лечение в Германии привлекает граждан России и СНГ, поскольку является весьма эффективным, благодаря высокому развитию медицины и использованию передового оборудования. Достижения германской науки и врачебной практики доступны всем, но далеко не каждый пациент знает о том, как ими воспользоваться. Получить квалифицированную помощь в организации лечения за рубежом поможет наша кампания Med-Kontakt.</p>
            <p>Med-Kontakt – это официальный партнер лучших клиник Мюнхена и всей Баварии. Мы предлагаем полный спектр услуг по организации поездки в Германию в медицинских целях, будь то диагностика, лечение или реабилитация. Оказываем содействие в организации туристических поездок, шопинга в оутлетах и дизайнерских бутиках. Помогаем наладить связи с инвестиционными кампаниями и маклерскими бюро.</p>
            <p>Компания Med-Kontakt не является посредником, который бездушно использует проблемы со здоровьем, чтобы выставить огромный счет без каких-либо гарантий. Для борьбы с подобными недобросовестными фирмами было создано Клиническое Объединение Мюнхен, в которое входит и наша компания. Лечение за рубежом - довольно щекотливая тема и наша кампания подходит к каждому запросу так, как будто старается помочь близкому, родному человеку.</p>
        </div>

    </section>

    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>