//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    //= partials/breadcrumbs.html
    //= partials/onko-g-part.html



    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>