//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    //= partials/breadcrumbs.html
    //= partials/onko_part.html
    <section>
        //= partials/doctors.html
    </section>

    <section class="grey-bg">
        //= partials/clinics.html
    </section>



    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>