//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    //= partials/breadcrumbs.html

   <section>
       <div class="mbox">
           <div class="filter">
               <div class="doctors__head">
                   <h2>отзывы</h2>
                   <a href="#" class="button">добавить отзыв</a>
               </div>
               <div class="filter__list">
                   <label><input type="checkbox"><i>все</i></label>
                   <label><input type="checkbox"><i>онкология</i></label>
                   <label><input type="checkbox"><i>зирургия</i></label>
                   <label><input type="checkbox"><i>ортопедия</i></label>
                   <label><input type="checkbox"><i>кардиология</i></label>
                   <label><input type="checkbox"><i>урология</i></label>
                   <label><input type="checkbox"><i>гинекология</i></label>
                   <label><input type="checkbox"><i>Гастроэнтерология</i></label>
                   <label><input type="checkbox"><i>Пластическая хирургия</i></label>
                   <label><input type="checkbox"><i>Нейрохирургия</i></label>
                   <label><input type="checkbox"><i>Эндокринология</i></label>
                   <label><input type="checkbox"><i>Офтальмология</i></label>
                   <label><input type="checkbox"><i>Стоматология</i></label>
                   <label><input type="checkbox"><i>Реабилитация</i></label>
                   <label><input type="checkbox"><i>Неврология</i></label>
                   <label><input type="checkbox"><i>Нефрология</i></label>
                   <label><input type="checkbox"><i>Оториноларингология</i></label>
                   <label><input type="checkbox"><i>Радиология</i></label>
                   <label><input type="checkbox"><i>Гематология</i></label>
                   <label><input type="checkbox"><i>Роды в Германии</i></label>
               </div>
               <div class="callback__list callback__list--row">
                   <div class="callback__item">
                       <div class="list__head">Лариса Ивановна, г. Воронеж, 65 лет</div>
                       <p>В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди, вторая стадия. Благодаря и В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди</p>
                       <a href="images/demo/scheme-work.png" class="fancy-img callback__list-img">
                           <img src="images/demo/scheme-work.png" alt="">
                       </a>
                   </div>
                   <div class="callback__item">
                       <div class="list__head">Лариса Ивановна, г. Воронеж, 65 лет</div>
                       <p>В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди, вторая стадия. Благодаря и В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди</p>
                   </div>
                   <div class="callback__item">
                       <div class="list__head">Лариса Ивановна, г. Воронеж, 65 лет</div>
                       <p>В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди, вторая стадия. Благодаря и В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди</p>
                   </div>
                   <div class="callback__item">
                       <div class="list__head">Лариса Ивановна, г. Воронеж, 65 лет</div>
                       <p>В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди, вторая стадия. Благодаря и В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди</p>
                   </div>
                   <div class="callback__item">
                       <div class="list__head">Лариса Ивановна, г. Воронеж, 65 лет</div>
                       <p>В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди, вторая стадия. Благодаря и В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди</p>
                   </div>
                   <div class="callback__item">
                       <div class="list__head">Лариса Ивановна, г. Воронеж, 65 лет</div>
                       <p>В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди, вторая стадия. Благодаря и В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди</p>
                   </div>
                   <div class="callback__item">
                       <div class="list__head">Лариса Ивановна, г. Воронеж, 65 лет</div>
                       <p>В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди, вторая стадия. Благодаря и В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди</p>
                   </div>
                   <div class="callback__item">
                       <div class="list__head">Лариса Ивановна, г. Воронеж, 65 лет</div>
                       <p>В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди, вторая стадия. Благодаря и В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди</p>
                   </div>
                   <div class="callback__item">
                       <div class="list__head">Лариса Ивановна, г. Воронеж, 65 лет</div>
                       <p>В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди, вторая стадия. Благодаря и В Мюнхен к Борису и Вере я приехала в 2010 ом году с диагнозом рак груди</p>
                   </div>
               </div>
           </div>
       </div>
   </section>

    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>