//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    //= partials/breadcrumbs.html

    <section>
        <div class="mbox">
            <h2>Цены на лечения в Германии</h2>
            <div class="cost">
                <div class="cost__table cost__table--shadowed">
                    <table>
                        <th colspan="3">Эндокринология</th>
                        <tr>
                            <td class="cost__td cost__td--first">Резекция щитовидной железы</td>
                            <td class="cost__td cost__td--second">8-10 тысяч евро*</td>
                            <td class="cost__td cost__td--third">3-5 дней</td>
                        </tr>
                        <tr>
                            <td class="cost__td cost__td--first">Резекция щитовидной железы</td>
                            <td class="cost__td cost__td--second">8-10 тысяч евро*</td>
                            <td class="cost__td cost__td--third">3-5 дней</td>
                        </tr>
                        <tr>
                            <td class="cost__td cost__td--first">Резекция щитовидной железы</td>
                            <td class="cost__td cost__td--second">8-10 тысяч евро*</td>
                            <td class="cost__td cost__td--third">3-5 дней</td>
                        </tr>
                        <tr>
                            <td class="cost__td cost__td--first">Резекция щитовидной железы</td>
                            <td class="cost__td cost__td--second">8-10 тысяч евро*</td>
                            <td class="cost__td cost__td--third">3-5 дней</td>
                        </tr>
                    </table>
                </div>
                <div class="cost__table cost__table--shadowed">
                    <table>
                        <th colspan="3">Эндокринология</th>
                        <tr>
                            <td class="cost__td cost__td--first">Резекция щитовидной железы</td>
                            <td class="cost__td cost__td--second">8-10 тысяч евро*</td>
                            <td class="cost__td cost__td--third">3-5 дней</td>
                        </tr>
                        <tr>
                            <td class="cost__td cost__td--first">Резекция щитовидной железы</td>
                            <td class="cost__td cost__td--second">8-10 тысяч евро*</td>
                            <td class="cost__td cost__td--third">3-5 дней</td>
                        </tr>
                        <tr>
                            <td class="cost__td cost__td--first">Резекция щитовидной железы</td>
                            <td class="cost__td cost__td--second">8-10 тысяч евро*</td>
                            <td class="cost__td cost__td--third">3-5 дней</td>
                        </tr>
                    </table>
                </div>
                <div class="cost__table cost__table--shadowed">
                    <table>
                        <th colspan="3">Эндокринология</th>
                        <tr>
                            <td class="cost__td cost__td--first">Резекция щитовидной железы</td>
                            <td class="cost__td cost__td--second">8-10 тысяч евро*</td>
                            <td class="cost__td cost__td--third">3-5 дней</td>
                        </tr>
                    </table>
                </div>
                <div class="cost__table cost__table--shadowed">
                    <table>
                        <th colspan="3">Эндокринология</th>
                        <tr>
                            <td class="cost__td cost__td--first">Резекция щитовидной железы</td>
                            <td class="cost__td cost__td--second">8-10 тысяч евро*</td>
                            <td class="cost__td cost__td--third">3-5 дней</td>
                        </tr>
                    </table>
                </div>
                <div class="cost__table cost__table--shadowed">
                    <table>
                        <th colspan="3">Эндокринология</th>
                        <tr>
                            <td class="cost__td cost__td--first">Резекция щитовидной железы</td>
                            <td class="cost__td cost__td--second">8-10 тысяч евро*</td>
                            <td class="cost__td cost__td--third">3-5 дней</td>
                        </tr>
                        <tr>
                            <td class="cost__td cost__td--first">Резекция щитовидной железы</td>
                            <td class="cost__td cost__td--second">8-10 тысяч евро*</td>
                            <td class="cost__td cost__td--third">3-5 дней</td>
                        </tr>
                        <tr>
                            <td class="cost__td cost__td--first">Резекция щитовидной железы</td>
                            <td class="cost__td cost__td--second">8-10 тысяч евро*</td>
                            <td class="cost__td cost__td--third">3-5 дней</td>
                        </tr>
                        <tr>
                            <td class="cost__td cost__td--first">Резекция щитовидной железы</td>
                            <td class="cost__td cost__td--second">8-10 тысяч евро*</td>
                            <td class="cost__td cost__td--third">3-5 дней</td>
                        </tr>
                    </table>
                </div>
            </div>
            <p>Современная медицина шагнула далеко вперед, ежедневно ученые во всем мире делают открытия, позволяющие спасать жизни огромного числа пациентов. Среди большого числа государств можно выделить ряд стран, здравоохранение которых находится на высочайшем уровне. Именно туда съезжаются пациенты со всех уголков земного шара. Например, большой популярностью пользуется лечение в Германии, стоимость которого достаточно доступна. Вместе с тем, пациент получает высококачественное лечение.
            </p>

            <div class="about__people">
                <div class="about__col">
                    <div class="list__head">
                        Выбор в пользу немецких клиник
                    </div>
                    <p>Почему среди большого числа стран, многие пациенты отдают предпочтение именно немецким специалистам? На этот вопрос ответом может стать целый ряд причин, которые будут рассмотрены ниже:
                    </p>
                    <ul>
                        <li>Одно из главных преимуществ немецкой медицины – оснащение учреждений здравоохранения по последнему слову техники. Для диагностики и лечения может быть использовано точнейшее оборудование. При этом врачи всегда отдают предпочтение малоинвазивным методам, которые позволяют пациенту вернуться к нормальной жизни в максимально короткие сроки</li>
                        <li>Врачи немецких клиник постоянно повышают свою квалификацию. Новейшие методики, разрабатываемые специалистами, оперативно и успешно внедряются в практику </li>
                        <li>Высокий процент положительных результатов лечения в Германии, цены при этом весьма разумные</li>
                        <li>Развитие медицинского туризма во многом упрощает процедуру получения лечения за рубежом. Компания Med-Kontakt готова стать связующим звеном между пациентом и врачом. К услугам пациентов со всего мира богатый выбор государственных и частных клиник, а также университетских медицинских центров</li>
                        <li>Современные немецкие клиники готовы предложить не только обширный список услуг по лечению различных заболеваний, но и их успешную профилактику</li>
                    </ul>
                    <a href="#" class="button">получить план лечения</a>
                </div>
                <div class="about__col">
                    <div class="list__head">
                        Особенности лечения в немецких клиниках
                    </div>
                    <p>Для процедуры лечения в Германии, цены определяются в зависимости от сложности терапии и могут достигать достаточно больших сумм. Однако, можно отметить ряд характерных черт, которые позволяют назвать медицину этой страны одной из лучших в мире:
                    </p>
                    <ul>
                        <li>Пациент, поступивший на лечение, проходит тщательное обследование, т.к. разработать максимально детализированный и эффективный план лечения, можно только выявив все факторы болезни
                        </li>
                        <li>Профилактическая, уточняющая и контрольная диагностика позволяют распознать болезнь на самых ранних этапах, облегчая процесс лечения</li>
                        <li>Отличительная черта здравоохранения Германии – специализированные диагностические центры, оснащенные новейшим оборудованием под руководством высококвалифицированного персонала</li>
                        <li>Для лечения и диагностики могут быть использованы разнообразные методы. При этом, врачи всегда отдают предпочтение щадящему способу лечения, малоинвазивным вмешательствам, чтобы пациент смог вернуться к привычной жизни в максимально короткие сроки</li>
                    </ul>
                    <p>
                        Лечение в Германии по доступной цене поможет организовать компания Med-Kontakt. Сотрудники фирмы помогут подобрать не только клинику, но и найдут лучшего врача в данной области. Проконсультируйтесь по вопросам стоимости лечения с нашими специалистами. Для этого достаточно позвонить по одному из указанных телефонов компании или оставить заявку на обратный звонок
                    </p>
                    <a href="#" class="button">заказать звонок</a>
                </div>
            </div>

        </div>
    </section>



    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>