//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    //= partials/breadcrumbs.html

    <section>
        <div class="mbox">
            <div class="doctors__head">
                <h2>вопросы и ответы</h2>
                <!--<div class="search__filter">-->
                    <!--<div class="search__text">Фильтр по направлениям</div>-->
                    <!--<div class="drop">-->
                        <!--<select name="sel" id="">-->
                            <!--<option value="">онкология</option>-->
                            <!--<option value="">онкология</option>-->
                            <!--<option value="">онкология</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
            </div>

            <div class="search__block">
                <!--<div class="search__full">-->
                    <!--<div class="search__image">-->
                        <!--<svg  width="25" height="25">-->
                            <!--<use xlink:href="#lupa"></use>-->
                        <!--</svg>-->
                    <!--</div>-->
                    <!--<input type="text" placeholder="Введите то что ищете?">-->
                <!--</div>-->
                <!--<div class="search__or">-->
                    <!--или-->
                <!--</div>-->
                <div class="search__button">
                    <a href="#" class="button"><span>задать вопрос</span></a>
                </div>
            </div>


            <div class="more">
                <div class="more__item more__item--shadowed">
                    <div class="more__head">
                        У меня очень неблагоприятная наследственность в отношении рака груди, что делать?
                        <div class="more__button js-ask"> </div>
                    </div>
                    <div class="more__text">
                        <p> Неблагоприятная наследственность – не приговор. Достаточно лишь регулярно проходить профилактические обследования, чтобы обнаружить злокачественное новообразование на такой стадии развития, когда для быстрого и полноценного исцеления понадобиться лишь сохраняющая грудь операция (лампэктомия). </p>
                    </div>
                </div>
                <div class="more__item more__item--shadowed">
                    <div class="more__head">
                        Какие существуют факторы риска развития рака молочной железы кроме генетической предрасположенности
                        <div class="more__button js-ask"> </div>
                    </div>
                    <div class="more__text">
                        <p> Неблагоприятная наследственность – не приговор. Достаточно лишь регулярно проходить профилактические обследования, чтобы обнаружить злокачественное новообразование на такой стадии развития, когда для быстрого и полноценного исцеления понадобиться лишь сохраняющая грудь операция (лампэктомия). </p>
                    </div>
                </div>
                <div class="more__item more__item--shadowed">
                    <div class="more__head">
                        Можно ли обнаружить рак молочной железы самостоятельно?
                        <div class="more__button js-ask"> </div>
                    </div>
                    <div class="more__text">
                        <p> Неблагоприятная наследственность – не приговор. Достаточно лишь регулярно проходить профилактические обследования, чтобы обнаружить злокачественное новообразование на такой стадии развития, когда для быстрого и полноценного исцеления понадобиться лишь сохраняющая грудь операция (лампэктомия). </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>