//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    //= partials/breadcrumbs.html
    <section>
        <div class="mbox">
            <h2>Услуга «второе мнение» в клиниках Германии</h2>
            <div class="treatment">
                <div class="treatment__image">
                    <img src="images/demo/woman.png" alt="" data-object-fit="cover">
                </div>
                <div class="formed">
                    <div class="formed__field">
                        <div class="treatment__info">
                            <h2>Как воспользоваться услугой "второе мнение" у немецких специалистов? </h2>
                            <p>Услуга «второе мнение» в клиниках Германии – это заочная консультация профильного врача-специалиста относительно правильности установленного диагноза и адекватности назначенного лечения. Все выводы немецкие врачи сделают на основании предоставленных медицинских документов (данные диагностических обследований, сведения о том, какое лечение проводилось и с каким результатом и т.п.), так что личное присутствие пациента не обязательно.
                            </p>
                            <div class="list__head">
                                <span>В зависимости от ситуации, услуга второе мнение может включать:</span>
                            </div>
                            <ul>

                                <li>мнение врача-специалиста о результатах конкретного диагностического обследования;</li>
                                <li>рекомендации профессионала по программе дальнейшего обследования, проводимого с целью установки точного развернутого диагноза; </li>
                                <li>независимая точка зрения по поводу правильности установленного диагноза; </li>
                                <li>статистически обоснованный прогноз заболевания (процент излечиваемости при данном диагнозе, процент 5 и 10-летней выживаемости при данной стадии заболевания и т.п.); </li>
                                <li>мнение немецкого профессионала по поводу соответствия назначенного лечения мировым стандартам; </li>
                                <li>альтернативные методы лечения данного заболевания;</li>
                                <li>личные рекомендации пациенту (режим труда и отдыха, диета и т.п.).</li>
                            </ul>

                            <p>Объединившись специалисты различных клиник женского здоровья, диагностические центры, центры груди, клиники гинекологической хирургии, онкологи, радиологи предоставляют весь комплекс необходимых терапевтических мероприятий.
                            </p>
                        </div>
                    </div>

                    <div class="formed__ask">
                        <div class="form__headers">
                            <h2>Получить план лечения</h2>
                            <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
                        </div>
                        <form action="#">
                            <div class="form__col form__col--full">
                                <input type="text" placeholder="ваше имя">
                            </div>
                            <div class="form__col form__col--full">
                                <input type="text" placeholder="ваш телефон">
                            </div>
                            <div class="form__col form__col--full">
                                <button type="submit" class="button button--big">получить план</button>
                            </div>
                            <div class="form__col form__col--full">
                                <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="mbox">
            <h2>Когда чаще всего спрашивают «второе мнение» в клиниках Германии</h2>
            <div class="usage">
                <div class="usage__thin">
                    <div class="usage__photo usage__photo--adapt">
                        <img src="images/demo/hmm.png" alt="Doc">
                    </div>
                </div>
                <div class="usage__fat">
                    <div class="usage__list">
                        <div class="usage__header"><h2>«Трудный диагноз»</h2></div>

                        <p>Нередко встречаются ситуации, когда отечественные врачи не могут прийти к единому мнению по поводу установленного диагноза. В таких случаях консультация знающего профессионала «со стороны» необходима, чтобы прийти к единому мнению.
                            В таких случаях немецкий доктор может посоветовать дополнительные обследования, которые позволят развеять все сомнения и установить 100% точный диагноз заболевания.
                        </p>
                        <p>Надо сказать, что даже сегодня существуют синдромы, при которых установка диагноза необычайно сложна, такие, к примеру, как бесплодие (20% случаев недиагностированной причины) или синдром лихорадки невыясненного генеза (хроническое периодическое или постоянное повышение температуры до 37-38 градусов по Цельсию).
                        </p>
                        <p>Также довольно часто даже опытные врачи не в состоянии определить причину головных болей, болей в спине, приступов головокружений, нарушений менструального цикла у женщин, импотенции у мужчин и т.п.
                        </p>
                        <p>Как свидетельствует наш печальный опыт, во многих случаях отечественные диагносты даже не пытаются установить точный диагноз. Между тем, описанные выше синдромы могут свидетельствовать о наличии серьезной патологии, которая продолжает развиваться.
                        </p>
                        <p>Поэтому вполне логично обратиться к зарубежным специалистам, которые предоставят рекомендации по поводу дальнейших медицинских мероприятий в области диагностического поиска.
                        </p>

                        <a href="#" class="button">срочный вопрос</a>
                    </div>
                </div>
            </div>

            <div class="usage">
                <div class="usage__fat">
                    <div class="usage__list usage__list--left">
                        <div class="usage__header"><h2>Установлен диагноз смертельно опасного заболевания</h2></div>
                        <p>Одна из наиболее частых причин обращения к услуге «второе мнение» – установленный диагноз злокачественной опухоли или другого опасного для жизни и сложно поддающегося лечению заболевания. </p>
                        <div class="list__head">
                            <span>В таких случаях услуга «второе мнение» позволит пациенту получить ответы на следующие вопросы:</span>
                        </div>
                        <ul>
                            <li>правильно ли установлен диагноз заболевания;</li>
                            <li>существует ли необходимость проведения дополнительных обследований для назначения адекватного лечения (стадия заболевания, распространенность процесса, чувствительность к тем или иным методам воздействия и т.п.); </li>
                            <li>статистические данные о прогнозе относительно исцеления и/или продолжительности жизни пациента при тех или иных методах лечения;</li>
                            <li>рекомендации относительно дальнейших лечебных мероприятий.</li>
                        </ul>

                    </div>
                    <a href="#" class="button">срочный вопрос</a>
                </div>
                <div class="usage__thin">
                    <div class="usage__photo usage__photo--adapt">
                        <img src="images/demo/hmm.png" alt="w">
                    </div>
                </div>
            </div>
            <div class="usage">
                <div class="usage__thin">
                    <div class="usage__photo usage__photo--adapt">
                        <img src="images/demo/hmm.png" alt="Doc">
                    </div>
                </div>
                <div class="usage__fat">
                    <div class="usage__list">
                        <div class="usage__header"><h2>Решение вопроса о хирургической операции или о небезразличном для здоровья химиотерапевтическом воздействии </h2></div>

                        <p>Значительная часть запросов на услугу «второе мнение» связана с сомнениями пациентов в правильности назначенного лечения, в тех случаях, когда подобные медицинские мероприятия сами по себе способны причинить значительный вред здоровью (сложная открытая операция, курсы химиотерапии, лечение гормональными препаратами и т.п.).  </p>
                        <div class="list__head">
                            <span>В таких случаях немецкие высококвалифицированные специалисты помогут найти ответы на следующие вопросы:</span>
                        </div>
                        <ul>
                            <li>насколько обосновано назначение опасных для здоровья медицинских мероприятий;  </li>
                            <li>какие могут возникнуть осложнения и побочные эффекты; </li>
                            <li>как будут развиваться события при отказе от предложенных отечественными врачами методов лечения; </li>
                            <li>существуют ли альтернативные методы воздействия на патологию и насколько они благоприятны в прогностическом отношении (ближайший и отдаленный прогноз).</li>
                        </ul>
                        <a href="#" class="button">срочный вопрос</a>
                    </div>
                </div>
            </div>
            <div class="usage">
                <div class="usage__fat">
                    <div class="usage__list usage__list--left">
                        <div class="usage__header"><h2>Назначенное лечение не приносит ожидаемых результатов</h2></div>
                        <div class="list__head">
                            <span>И, наконец, достаточно часто услугу «второе мнение» запрашивают пациенты неудовлетворенные результатами лечения. Разумеется, в таких случаях возникает море вопросов, точные ответы на которые может дать только опытный высококвалифицированный независимый специалист: </span>
                        </div>
                        <ul>
                            <li>правильно ли установлен диагноз; </li>
                            <li>насколько адекватно назначенное лечение; </li>
                            <li>существуют ли альтернативные методы медицинского воздействия, которые бы дали более ощутимый эффект; </li>
                            <li>индивидуальные рекомендации пациенту (образ жизни, диета и т.п.).</li>
                        </ul>

                    </div>
                    <a href="#" class="button">срочный вопрос</a>
                </div>
                <div class="usage__thin">
                    <div class="usage__photo usage__photo--adapt">
                        <img src="images/demo/hmm.png" alt="w">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="grey-bg">

        <div class="mbox">
            <h2>С какими ошибками чаще всего приходится сталкиваться? </h2>

            <div class="usage">
                <div class="usage__thin">
                    <div class="usage__photo usage__photo--adapt">
                        <img src="images/demo/hmm.png" alt="Doc">
                    </div>
                </div>
                <div class="usage__fat">
                    <div class="usage__list">
                        <div class="usage__header"><h2>Ошибки в области диагностики </h2></div>

                        <p>Если ориентироваться на данные, полученные при выполнении услуги «второе мнение», то самое большое количество диагностических ошибок наблюдается в области онкологии. Здесь встречаются случаи и гипер-, и гиподиагностики. </p>
                        <p>Однако значительно больше ошибок происходит при определении стадии развития заболевания и степени злокачественности процесса – а именно эти данные являются определяющими при выборе тактики дальнейших медицинских мероприятий. </p>
                        <p>Поэтому мы советуем всем пациентам с диагнозом онкологического заболевания по возможности воспользоваться услугой «второе мнение», поскольку уже были случаи, когда данная услуга спасала людей от ненужных в данном случае крайне небезразличных для здоровья курсов химиотерапии. </p>
                        <a href="#" class="button">получить план лечения</a>
                    </div>
                </div>
            </div>

            <div class="usage__header"><h2>Ошибки в области диагностики </h2></div>
            <div class="organise organise__change">
                <div class="organise__right organise__right--padded">
                    <p>Часть ошибок при выборе метода лечения заболевания у пациентов из стран СНГ связана с низким уровнем развития отечественной науки и техники. Так, к примеру, довольно часто немецким хирургам удается прооперировать опухоли в тех случаях, когда пациентам отказали в операции на родине, признав случай неоперабельным или вообще некурабельным (то есть не поддающимся терапии). Поэтому если вам или вашему родственнику отказали в радикальной операции, советуем поинтересоваться мнением немецких специалистов. </p>
                    <p>Другая распространенная ошибка – использование слишком грубых методов. В Германии разработано огромное количество щадящих методик, которые имеют высокую эффективность и при этом не наносят значительных травм организму пациента. Использование щадящих методов – это минимальный риск осложнений и кратчайший восстановительный период, а, следовательно, сэкономленные время, силы, нервы и деньги. Поэтому мы советуем обращаться ко второму мнению в тех случаях, когда вам назначено серьезное хирургическое вмешательство. </p>
                    <div class="list__head">
                        <span>Поэтому мы советуем всем нашим читателям в тех случаях, когда лечение не дает ожидаемых результатов, обращаться за услугой «второе мнение», которая обладает следующими преимуществами:</span>
                    </div>
                    <ul>
                        <li>комфортность (вы затратите значительно меньше времени, чем, к примеру, при походе к другому отечественному специалисту);</li>
                        <li>демократичная стоимость (вы получите все необходимые вам сведения и рекомендации в отношении вашего конкретного случая за относительно невысокую цену).</li>
                    </ul>

                </div>
                <div class="organise__text organise__text--white">
                    <p>И, наконец, еще одна достаточно распространенная ошибка – назначение схем лечения, которые не соответствуют современным стандартам мировой медицины. Почему случаются такие ошибки, сложно сказать. Скорее всего, это так называемый «человеческий фактор». Но таких ошибок достаточно много: в онкологии – это неправильно подобранные схемы химиотерапии, в других областях – одновременное назначение несовместимых или плохо совместимых препаратов, недооценка индивидуальных особенностей протекания патологического процесса у конкретного пациента и др.
                    </p>
                </div>
            </div>
            <a href="#" class="button">получить план лечения</a>
        </div>
    </section>

    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>