//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html
    //= partials/breadcrumbs.html

    <section>
        <div class="mbox">
            <h2>Перевод медицинских документов на немецкий язык </h2>
            <div class="translations">
                <div class="formed">
                    <div class="formed__field">
                        <div class="list__head">
                            Особенности медицинского перевода
                        </div>
                        <p>Если вы решили обратиться за помощью в немецкие клиники, то вам в обязательном порядке понадобиться перевод всех имеющихся медицинских документов (результаты лабораторных анализов, описание гистологического препарата биопсии, данные сложных инструментальных исследований (эндоскопия, УЗИ, КТ, МРТ и др.), сведения о проведенном лечении и т.д.).
                        </p>
                        <p>Собственно медицинский перевод имеет целый ряд особенностей. Прежде всего, перевод медицинских документов на немецкий язык требует знания сложной терминологии, поэтому нужен профессионал, специализирующийся именно в данной области.
                        </p>
                        <p>
                            Кроме того, в немецких клиниках большое внимание уделяют соответствию оформления медицинских документов международным стандартам, поэтому крайне желательно, чтобы перевод производился на месте, специалистом, который уже знаком с требованиями медицинского законодательства Германии.
                        </p>
                        <p>Надо сказать, что грамотный перевод всех имеющихся документов позволит значительно сократить диагностический поиск, а, следовательно, сэкономит ваше время и деньги, необходимые для обследования и пребывания в клинике.
                        </p>
                        <p>Кроме того, медицинский перевод понадобиться при заказе простой и доступной услуги «второе мнение». Если вы пока не планируете поездку на лечение в Германию, то достаточно лишь переслать все имеющиеся у вас документы, чтобы убедиться в адекватности установленного диагноза и соответствии назначенного лечения международным стандартам.
                        </p>
                        <div class="list__head">
                            Преимущества медицинского перевода в Med-Kontakt
                        </div>
                        <p>Грамотный перевод медицинских документов на немецкий язык входит в пакет услуг Med-Kontakt. В отличие от случайных переводчиков, мы заинтересованы в конечном результате, поскольку сопровождаем своих клиентов на протяжении всей поездки.
                        </p>
                    </div>
                    <div class="formed__ask">
                        <div class="form__headers">
                            <h2>перевести текст</h2>
                            <p>Отправьте заявку и мы свяжемся с Вами и ответим на все Вашы вопросы</p>
                        </div>
                        <form action="#">
                            <div class="form__col form__col--full">
                                <input type="text" placeholder="Ваше имя">
                            </div>
                            <div class="form__col form__col--full">
                                <input type="text" placeholder="Ваш телефон">
                            </div>
                            <div class="form__col form__col--full">
                                <input type="text" placeholder="Ваш e-mail">
                            </div>
                            <div class="form__col form__col--full">
                                <textarea name="" id="" placeholder="Сообщение"></textarea>
                            </div>
                            <div class="form__col form__col--full">
                                <label class="file">
                                    <div class="">
                                        <svg  width="26" height="26">
                                            <use xlink:href="#skrepka"></use>
                                        </svg>
                                    </div>
                                    <input type="file"> <span>прикрепить файл</span>
                                </label>
                            </div>
                            <div class="form__col form__col--full">
                                <button type="submit" class="button button--big">узнать цену</button>
                            </div>
                            <div class="form__col form__col--full">
                                <label><input type="checkbox"><i></i><span>Нажимая на кнопку "Отправить", вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span></label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>

